﻿<div class="col-md-12 responsive">
    <div class="tabbable tabbable-custom boxless">
        <input type="hidden" id="hdnTabId" value="1" />
        <input type="hidden" id="hdnSubTabId" value="01" />

        <ul class="nav nav-tabs" id="PropertyTab">
            <li class="active"><a href="#tab_01" data-toggle="tab" id="T01" class="@ViewBag.Residential" onclick="ResidentialTab(1, '01', this)">Residential (@ViewBag.Residential)</a></li>
            <li><a href="#tab_02" data-toggle="tab" id="T02" class="@ViewBag.Commercial" onclick="CommercialTab(2, '03', this)">Commercial (@ViewBag.Commercial)</a></li>
            <li><a href="#tab_03" data-toggle="tab" id="T03" class="@ViewBag.Industrial" onclick="IndustrialTab(3, '40', this)">Industrial (@ViewBag.Industrial)</a></li>
            <li><a href="#tab_04" data-toggle="tab" id="T04" class="@ViewBag.totalMiscellaneous" onclick="PropertyTypeTab(7, this)">Miscellaneous (@ViewBag.totalMiscellaneous)</a></li>
            <li><a href="#tab_00" data-toggle="tab" id="10" class="@ViewBag.ALLLEADS" onclick="PropertyOtherTab(10, this)">All Leads-Single Property (@ViewBag.ALLLEADS)</a></li>
            <li><a href="#tab_00" data-toggle="tab" id="11" class="@ViewBag.MultiProperty" onclick="PropertyOtherTab(11, this)">Multiple Property (@ViewBag.MultiProperty)</a></li>
            <li><a href="#tab_00" data-toggle="tab" id="12" class="@ViewBag.SetSubjtProperty" onclick="PropertyOtherTab(12, this)">Set Subject Property (@ViewBag.SetSubjtProperty)</a></li>
            <li><a href="#tab_00" data-toggle="tab" id="13" class="@ViewBag.NotFound" onclick="PropertyOtherTab(13, this)">Not Found (@ViewBag.NotFound)</a></li>
        </ul>

        <div class="tab-content">

            @foreach (System.Data.DataRow Rwitem in (@ViewData["SubTabCnt"] as System.Data.DataTable).Rows)
            {

                <div class="tab-pane active" id="tab_01">
                    <div class="tabbable tabbable-custom boxless">
                        <input type="hidden" id="HdnTabRecords" value="@Rwitem["01"]" />
                        <ul class="nav nav-tabs" id="PropertySubTab_01">

                            <li class="active"><a href="#tab_011" data-toggle="tab" id="01" class="@Rwitem["01"]" onclick="ResidentialTab(1,'01',this)">Single family (@Rwitem["01"])</a></li>
                            <li><a href="#tab_011" data-toggle="tab" id="03" class="@Rwitem["03"]" onclick="ResidentialTab(1, '03', this)">Multi-family-'10+' (@Rwitem["03"])</a></li>
                            <li><a href="#tab_011" data-toggle="tab" id="08" class="@Rwitem["08"]" onclick="ResidentialTab(1, '08', this)">Multi-family-'10-' (@Rwitem["08"])</a></li>
                            <li><a href="#tab_011" data-toggle="tab" id="02" class="@Rwitem["02"]" onclick="ResidentialTab(1, '02', this)">Mobile homes (@Rwitem["02"])</a></li>
                            <li><a href="#tab_011" data-toggle="tab" id="00" class="@Rwitem["00"]" onclick="ResidentialTab(1,'00' ,this)">Vacant residential (@Rwitem["00"])</a></li>
                            <li><a href="#tab_011" data-toggle="tab" id="01*" class="@Rwitem["01*"]" onclick="ResidentialTab(1, '01*', this)">Single family townhomes (@Rwitem["01*"])</a></li>
                            <li><a href="#tab_011" data-toggle="tab" id="04" class="@Rwitem["04"]" onclick="ResidentialTab(1, '04', this)">Condominium (@Rwitem["04"])</a></li>
                            <li><a href="#tab_011" data-toggle="tab" id="05" class="@Rwitem["05"]" onclick="ResidentialTab(1, '05', this)">Cooperatives (@Rwitem["05"])</a></li>
                            <li><a href="#tab_011" data-toggle="tab" id="06" class="@Rwitem["06"]" onclick="ResidentialTab(1, '06', this)">Retirement homes (@Rwitem["06"])</a></li>
                            <li><a href="#tab_011" data-toggle="tab" id="07" class="@Rwitem["07"]" onclick="ResidentialTab(1, '07', this)">Miscellaneous residential (@Rwitem["07"])</a></li>
                            <li><a href="#tab_011" data-toggle="tab" id="09" class="@Rwitem["09"]" onclick="ResidentialTab(1, '09', this)">Residential common (@Rwitem["09"])</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_011">
                                <div id="divResidential"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab_02">
                    <div class="tabbable tabbable-custom boxless">

                        <ul class="nav nav-tabs" id="PropertySubTab_02">

                            
                            <li><a href="#tab_021" data-toggle="tab" id="10" class="@Rwitem["10"]" onclick="CommercialTab(2, '10', this)">Vacant commercial (@Rwitem["10"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="11" class="@Rwitem["11"]" onclick="CommercialTab(2, '11', this)">Stores, 1-story (@Rwitem["11"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="12" class="@Rwitem["12"]" onclick="CommercialTab(2, '12', this)">Mixeduse store (@Rwitem["12"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="13" class="@Rwitem["13"]" onclick="CommercialTab(2, '13', this)">Department stores (@Rwitem["13"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="14" class="@Rwitem["14"]" onclick="CommercialTab(2, '14', this)">Supermarkets (@Rwitem["14"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="15" class="@Rwitem["15"]" onclick="CommercialTab(2, '15', this)">Regional shopping (@Rwitem["15"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="16" class="@Rwitem["16"]" onclick="CommercialTab(2, '16', this)">Community shopping (@Rwitem["16"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="17" class="@Rwitem["17"]" onclick="CommercialTab(2, '17', this)">Office one-story (@Rwitem["17"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="18" class="@Rwitem["18"]" onclick="CommercialTab(2, '18', this)">Office multi-story (@Rwitem["18"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="19" class="@Rwitem["19"]" onclick="CommercialTab(2, '19', this)">Professional (@Rwitem["19"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="20" class="@Rwitem["20"]" onclick="CommercialTab(2, '20', this)">Airports (@Rwitem["20"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="21" class="@Rwitem["21"]" onclick="CommercialTab(2, '21', this)">Restaurants (@Rwitem["21"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="22" class="@Rwitem["22"]" onclick="CommercialTab(2, '22', this)">Drive-in restaurants (@Rwitem["22"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="23" class="@Rwitem["23"]" onclick="CommercialTab(2, '23', this)">Financial institutions (@Rwitem["23"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="24" class="@Rwitem["24"]" onclick="CommercialTab(2, '24', this)">Insurance offices (@Rwitem["24"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="25" class="@Rwitem["25"]" onclick="CommercialTab(2, '25', this)">Repair service shops (@Rwitem["25"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="26" class="@Rwitem["26"]" onclick="CommercialTab(2, '26', this)">Service stations (@Rwitem["26"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="27" class="@Rwitem["27"]" onclick="CommercialTab(2, '27', this)">Auto sales (@Rwitem["27"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="28" class="@Rwitem["28"]" onclick="CommercialTab(2, '28', this)">Parking lots (@Rwitem["28"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="29" class="@Rwitem["29"]" onclick="CommercialTab(2, '29', this)">Florist, greenhouses (@Rwitem["29"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="30" class="@Rwitem["30"]" onclick="CommercialTab(2, '30', this)">Wholesale outlets (@Rwitem["30"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="31" class="@Rwitem["31"]" onclick="CommercialTab(2, '31', this)">Drive-in theatres (@Rwitem["31"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="32" class="@Rwitem["32"]" onclick="CommercialTab(2, '32', this)">Enclosed theatres (@Rwitem["32"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="33" class="@Rwitem["33"]" onclick="CommercialTab(2, '33', this)">Nightclubs, cocktail (@Rwitem["33"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="34" class="@Rwitem["34"]" onclick="CommercialTab(2, '34', this)">Bowling alleys (@Rwitem["34"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="35" class="@Rwitem["35"]" onclick="CommercialTab(2, '35', this)">Tourist attractions (@Rwitem["35"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="36" class="@Rwitem["36"]" onclick="CommercialTab(2, '36', this)">Camps (@Rwitem["36"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="37" class="@Rwitem["37"]" onclick="CommercialTab(2, '37', this)">Race tracks, horse (@Rwitem["37"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="38" class="@Rwitem["38"]" onclick="CommercialTab(2, '38', this)">Golf courses (@Rwitem["38"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="39" class="@Rwitem["39"]" onclick="CommercialTab(2, '39', this)">Hotels, motels (@Rwitem["39"])</a></li>

                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_021">

                                <div id="divCommercial"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_03">
                    <div class="tabbable tabbable-custom boxless">

                        <ul class="nav nav-tabs" id="PropertySubTab_03">
                            <li class="active"><a href="#tab_031" data-toggle="tab" id="40" class="@Rwitem["40"]" onclick="IndustrialTab(3, '40', this)">Vacant Industrial (@Rwitem["40"])</a></li>
                            <li><a href="#tab_031" data-toggle="tab" id="41" class="@Rwitem["41"]" onclick="IndustrialTab(3, '41', this)">Light Manufacturing (@Rwitem["41"])</a></li>
                            <li><a href="#tab_031" data-toggle="tab" id="42" class="@Rwitem["42"]" onclick="IndustrialTab(3, '42', this)">Heavy Industrial (@Rwitem["42"])</a></li>
                            <li><a href="#tab_031" data-toggle="tab" id="43" class="@Rwitem["43"]" onclick="IndustrialTab(3, '43', this)">Lumber yards (@Rwitem["43"])</a></li>
                            <li><a href="#tab_031" data-toggle="tab" id="44" class="@Rwitem["44"]" onclick="IndustrialTab(3, '44', this)">Packing plants (@Rwitem["44"])</a></li>
                            <li><a href="#tab_031" data-toggle="tab" id="45" class="@Rwitem["45"]" onclick="IndustrialTab(3, '45', this)">Canneries (@Rwitem["45"])</a></li>
                            <li><a href="#tab_031" data-toggle="tab" id="46" class="@Rwitem["46"]" onclick="IndustrialTab(3, '46', this)">Other food (@Rwitem["46"])</a></li>
                            <li><a href="#tab_031" data-toggle="tab" id="47" class="@Rwitem["47"]" onclick="IndustrialTab(3, '47', this)">Mineral processing (@Rwitem["47"])</a></li>
                            <li><a href="#tab_031" data-toggle="tab" id="48" class="@Rwitem["48"]" onclick="IndustrialTab(3, '48', this)">Warehousing (@Rwitem["48"])</a></li>
                            <li><a href="#tab_031" data-toggle="tab" id="49" class="@Rwitem["49"]" onclick="IndustrialTab(3, '49', this)">Open storage (@Rwitem["49"])</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_031">
                                <div id="divIndustrial"></div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_04">
                    <div class="tabbable tabbable-custom boxless">

                        <ul class="nav nav-tabs" id="PropertyTab1">
                            <li class="active"><a href="#tab_041" data-toggle="tab" id="7" class="@ViewBag.Miscellaneous" onclick="PropertyTypeTab(7, this)">Miscellaneous (@ViewBag.Miscellaneous) </a></li>
                            <li><a href="#tab_041" data-toggle="tab" id="4" class="@ViewBag.Agricultural" onclick="PropertyTypeTab(4, this)">Agricultural (@ViewBag.Agricultural)</a></li>
                            <li><a href="#tab_041" data-toggle="tab" id="5" class="@ViewBag.Institutional" onclick="PropertyTypeTab(5, this)">Institutional (@ViewBag.Institutional)</a></li>
                            <li><a href="#tab_041" data-toggle="tab" id="6" class="@ViewBag.Government" onclick="PropertyTypeTab(6, this)">Government (@ViewBag.Government)</a></li>
                            <li><a href="#tab_041" data-toggle="tab" id="8" class="@ViewBag.CentrallyAssessed" onclick="PropertyTypeTab(8, this)">Centrally Assessed (@ViewBag.CentrallyAssessed)</a></li>
                            <li><a href="#tab_041" data-toggle="tab" id="9" class="@ViewBag.NonAgricultural" onclick="PropertyTypeTab(9, this)">Non-Agricultural Acreage (@ViewBag.NonAgricultural)</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_041">
                                <div id="divMainTab">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane active" id="tab_00">
                    <div id="dvMainhtml">
                        <div class="clsshowreport" id="showreport">

                            @{Html.RenderAction("ShowReport", "Home", new { UseCodeCategoryID = 1, SubTabId = "01" });}

                        </div>

                    </div>

                </div>

            }

        </div>
    </div>

</div>