﻿

<div class="portlet-body form">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                Emails List
            </div>
        </div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea id="txtEmails" rows="10" style="width:100%;" >@(string.Join(",",(List<string>)ViewBag.EmailList))</textarea>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="form-actions">
            <div class="right">
                <label style="color:green;" id="lblMessage"></label>
                <input type="button" id="btnSendBulkEmails" class="btn blue" value="Send (@(((List<string>)ViewBag.EmailList).Count.ToString())) Emails" onclick="SendBulkEmails()" />
                
            </div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>