﻿@{
    Layout = "";
    ViewBag.Title = "CaseView";
}

<div class="col-md-12 responsive">
    <div class="portlet-body form">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    Broward Case
                </div>
            </div>
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet-body">
                @*<div class="row">
                    <input type="button" id="RefreshList" value="Refresh Case List" class="btn blue" onclick="Refreshlist()"/>
                </div>*@
                <div class="table-scrollable">
                    <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="sample_3">
                        <thead>
                            <tr>
                                <th style="display:none;"></th>
                                @foreach (System.Data.DataColumn col in Model.Columns)
                                {
                                    <th>@col.Caption</th>
                                }
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (System.Data.DataRow row in Model.Rows)
                            {
                                <tr>
                                    <td style="display:none;"></td>

                                    @foreach (System.Data.DataColumn cell in Model.Columns)
                                    {
                                        <td>@row[cell.ColumnName]</td>

                                    }
                                    <td><a onclick="Viewpdf('@row.ItemArray[0]')">View</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div id="Divtext">

                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<style>
    .row {
        padding: 10px;
    }
</style>
<script>
    $(document).ready(function () {
        //TableManaged.init();
        //TableAdvanced.init();
    });


    function Viewpdf(evt) {

        var _CaseNumber=  $.trim(evt);
        $.ajax({
            url: String('@Url.Action("ConvertByCaseNumber", "Home")'),
            type: "POST",
            data: { CaseNumber: _CaseNumber },
            traditional: true,
            success: function (data) {
                    $('#Divtext').html(data);
            },
            error: function () { alert('error in Process'); }
        });

    }
</script>


