﻿@model IEnumerable<SharkAppWeb.Models.tblCaseNumberSearch>

<div class="col-md-12 responsive">
    <div class="portlet-body form">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    Search History for : Case Number
                </div>
            </div>
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet-body">
                <div class="row">
                    @*<input type="button" id="RefreshList" value="Refresh Case List" class="btn blue" onclick="Refreshlist()" />*@
                </div>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4" align="right">
                        @*<input type="button" value="Get Bcpa Result" onclick="GetBcpaResult()" class="btn blue" />*@
                    </div>
                    <div class="col-md-2" align="right">

                        <input type="button" value="Save Cases Address" id="SaveAllCaseAddress" class="btn blue" />
                    </div>
                    <div class="col-md-2" align="right">
                        <input type="button" value="Save Cases" id="SaveAllCaseDetails" class="btn blue" />
                    </div>
                       
                        @*<input type="hidden" id="hdnsearcheddate" value="@ViewBag.Seracheddate" />*@
                        <div class="col-md-2">
                            <input type="button" value="Export To Excel" id="ImportInExcelCase" class="btn blue" />
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-2">
                    </div>

                    <div class="col-md-4">

                    </div>
                    <div class="col-md-6" align="right">
                        <span><i class="fa fa-info-circle"></i> For export to excel you need to save cases.</span>
                    </div>

                </div>
                <div class="table-scrollable">
                    <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="sample_5">
                        <thead>
                            <tr>
                                <th style="display:none;"></th>
                                <th>Searched Date</th>
                                <th>Case Number</th>
                                <th>Case Style</th>
                                 <th>Case Type</th> 
                                <th>Filling Date</th>                                       
                                <th>Case Staus</th>                                                             
                                <th>View Details</th>
                                <th>Address</th>
                                <th>View PDF</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody class="CaseSearchresult">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="display:none;" class="CaseNumberID">@item.CaseNumberID</td>
                                    <td class="CaseSearchDate">@item.CaseSearchDate</td>
                                    <td class="Details">@item.CaseNumber</td>
                                    <td>@item.CaseStyle</td>
                                    @{
                                var _casetype = item.CaseType;
                                var FilterHtml = System.Text.RegularExpressions.Regex.Replace(_casetype, @"<[^>]*(>|$)|&nbsp;|&zwnj;|&raquo;|&laquo;|&amp;|&gt;|&lt;", " ").Trim();
                                    <td>@FilterHtml</td>
                                    }
                                    <td>@String.Format("{0:dd/MM/yyyy}", @item.FillingDate)</td>
                                    <td>@item.CaseStatus</td>
                                    <td><a onclick="CaseSearchDetails(@item.CaseNumberID)" class="btn blue">Detail</a></td>
                                    <td><a onclick="CaseConvertAddress(@item.CaseNumberID)" class="btn blue">View</a></td>
                                    <td><a onclick="CasePdfView(@item.CaseNumberID)" class="btn blue">PDF</a></td>
                                    <td><a onclick="DeleteCaseHistory(@item.CaseNumberID)" class="icon-trash"></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

