﻿@model SharkAppWeb.ViewModel.VMCase
@{
    Layout = "";
    ViewBag.Title = "CaseView";
}


<div class="row">
    <div class="row">
        <div class="col-lg-6">
            <label class="col-lg-4" style="font-weight:bold">Case Number</label>
            <label class="col-lg-8">@Model.CaseNumber </label>
        </div>
        <div class="col-lg-6">
            <label class="col-lg-4" style="font-weight:bold">Case Status</label>
            <label class="col-lg-8">@Model.CaseStatusT</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label class="col-lg-4" style="font-weight:bold">Case Style</label>
            <label class="col-lg-8">@Model.CaseStyle </label>
        </div>
        <div class="col-lg-6">
            <label class="col-lg-4" style="font-weight:bold">Case Type</label>
            <label class="col-lg-8">@Model.CaseType</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label class="col-lg-4" style="font-weight:bold">Court Type</label>
            <label class="col-lg-8">@Model.CourtType </label>
        </div>
        <div class="col-lg-6">
            <label class="col-lg-4" style="font-weight:bold">Court Location</label>
            <label class="col-lg-8">@Model.CourtLocation</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label class="col-lg-4" style="font-weight:bold">Filing Date</label>
            <label class="col-lg-8">@Model.FilingDate </label>
        </div>
        <div class="col-lg-6">
            <label class="col-lg-4" style="font-weight:bold">Judge Id Name</label>
            <label class="col-lg-8">@Model.JudgeIdName</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label class="col-lg-4" style="font-weight:bold">Magistrate Id Name</label>
            <label class="col-lg-8">@Model.MagistrateIdName </label>
        </div>
        <div class="col-lg-6">
            <label class="col-lg-4" style="font-weight:bold">Plantiff</label>
            <label class="col-lg-8">@Model.Plantiff</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label class="col-lg-4" style="font-weight:bold">Attorny Address</label>
            <label class="col-lg-8">@Model.AttornyAddress </label>
        </div>
        <div class="col-lg-6">
            <label class="col-lg-4" style="font-weight:bold">State Rpt Numbe</label>
            <label class="col-lg-8">@Model.StateRptnumber</label>
        </div>
    </div>
    <hr />
    <div class="row">
        <h4 class="col-lg-6" style="font-weight:bold">Defandant</h4>       
    </div>
    <div class="row">
        @if (Model != null && Model.defandantList!=null)
        { 
        foreach (var item in Model.defandantList)
        {
            <div class="col-lg-6">
                <label class="col-lg-4" style="font-weight:bold">Party Name</label>
                <label class="col-lg-8">@item.PartyName</label>
            </div>
        }
        }
        else
        {
            <div class="col-lg-6">
               No defandant found
            </div>
        }
    </div>
</div>