﻿@model System.Data.DataSet
@{
    ViewBag.Title = "ViewComparision";
    Layout = "";
}

<div class="row">
    @if (Model.Tables.Count > 0)
    {
        <div class="col-md-12">
            <div class="portlet-body form">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            Select property Address For comparison
                        </div>
                    </div>
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet-body">
                        <div class="table-scrollable">                            
                                <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="sample_4">
                                    <thead>
                                        <tr>
                                            <th>Select For Compare</th>
                                            <th>
                                                FOLIO NUMBER
                                            </th>
                                            <th>ADDRESS</th>
                                            <th>LAND FACTOR</th>
                                            <th>BLDG.ADJ.SQ.FT</th>
                                            <th>SalePrice</th>
                                            <th>AssedMarketSqFt</th>
                                            <th>SalePricePrSqFt</th>
                                            <th>AssessedValue</th>
                                            <th>MailingAddress</th>
                                            <th>Property Owner</th>
                                            <th>Abb.LegalDesc</th>
                                            <th>UNITS/BEDS/BATHS</th>
                                            <th>MILLAGE</th>
                                            <th>USE</th>
                                            <th>SALE DATE</th>
                                            <th>DEED TYPE</th>
                                            <th>SALE CIN Number</th>
                                            <th>Folio Site Link</th>
                                        </tr>
                                    </thead>
                                    <tbody id="foliotbody">
                                        @foreach (System.Data.DataTable table in Model.Tables)
                                        {
                                            foreach (System.Data.DataRow row in table.Rows)
                                            {
                                                string BLDG_UNITS = String.IsNullOrEmpty(row["BLDG_UNITS"].ToString()) ? "0" : @row["BLDG_UNITS"].ToString();
                                                string beds = String.IsNullOrEmpty(row["BEDS"].ToString()) ? "0" : @row["BEDS"].ToString();
                                                string bath = String.IsNullOrEmpty(row["BATHS"].ToString()) ? "0" : @row["BATHS"].ToString();
                                                string FolioNumber = @row["FOLIO_NUMBER"].ToString().Trim();
                                                string foliolink = "http://www.bcpa.net/RecInfo.asp?URL_Folio=" + FolioNumber;
                                                string SiteAddress = @row["ADDRESS_LINE_1"].ToString() + " " + @row["CITY"].ToString();
                                                string MailingAddress = @SiteAddress + " " + @row["STATE"].ToString() + " " + @row["ZIP"].ToString();
                                                string LegalDesc = @row["LEGAL_LINE_1"].ToString() + " " + @row["LEGAL_LINE_2"].ToString();
                                                string BLDGADJ = String.IsNullOrEmpty(row["BLDG_ADJ_SQ_FOOTAGE"].ToString()) ? "0" : @row["BLDG_ADJ_SQ_FOOTAGE"].ToString();
                                                string LYJUSTVAL = String.IsNullOrEmpty(row["LY_JUSTVAL"].ToString()) ? "0" : @row["LY_JUSTVAL"].ToString();
                                                int _BLDGADJ = Convert.ToInt32(BLDGADJ) == 0 ? 1 : Convert.ToInt32(BLDGADJ);
                                                int AssedMarketSqFt = (Convert.ToInt32(LYJUSTVAL.ToString()) / _BLDGADJ);
                                                <tr>
                                                    <th><input type="checkbox" value="FOLIO_NUMBER" class="chkFolio" /></th>
                                                    <td>@FolioNumber</td>
                                                    <td>@SiteAddress</td>
                                                    <td>@row["LAND_CALC_FACT_1"].ToString()</td>
                                                    <td>@row["BLDG_ADJ_SQ_FOOTAGE"].ToString()</td>
                                                    <td>@row["LY_JUSTVAL"].ToString()</td>
                                                    <td>@AssedMarketSqFt</td>
                                                    <td>@row["LY_JUSTVAL"].ToString()</td>
                                                    <td>@row["LAST_YRS_SOH"].ToString()</td>
                                                    <td>@MailingAddress</td>
                                                    <td>@row["NAME_LINE_1"].ToString()</td>
                                                    <td>@LegalDesc</td>
                                                    <td>@BLDG_UNITS/@beds/@bath</td>
                                                    <td>@row["MILLAGE_CODE"].ToString()</td>
                                                    <td>@row["USE_CODE"].ToString()</td>
                                                    <td>@row["SALE_DATE_1"].ToString()</td>
                                                    <td>@row["DEED_TYPE_1"].ToString()</td>
                                                    <td>@row["SALE1_CIN"].ToString()</td>
                                                    <td><a href="@foliolink">View Property</a></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>

                                </table>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    }
    </div>
