﻿@model SharkAppWeb.ViewModel.VMCase
@{
    Layout = "";
    ViewBag.Title = "CaseView";
}

<div class="row">
    @if (Model != null && Model.searchPDFs != null && Model.searchPDFs.Count > 0)
    {
        foreach (var item in Model.searchPDFs)
        {
            <div class="row">
@if (item.pdfAddresslist != null && item.pdfAddresslist != null && item.pdfAddresslist.Count > 0)
{
   
                <div class="row">
                    <div class="col-lg-1">

                    </div>
                    <h4 class="col-lg-6" style="font-weight:bold">@item.Pdfname</h4>
                </div>
             
                    <div class="col-lg-12">

                        @foreach (var address in item.pdfAddresslist)
                        {

                            @*<label class="col-lg-4" style="font-weight:bold">@address.AddressType</label>*@
                            <label class="col-lg-8">@address.Pdfaddress</label>

                        }

                    </div>
}

                <div class="col-lg-12">
                    
                    @if (item.tblAllPagesAddress != null && item.tblAllPagesAddress != null && item.tblAllPagesAddress.Count > 0)
                    {
                        <div class="row">
                           
                            <h4 class="col-lg-6" style="font-weight:bold">@item.Pdfname :</h4>
                        </div>
                        
                        foreach (var tbladdress in item.tblAllPagesAddress)
                        {
                            if (tbladdress.ToDefendant != null && tbladdress.ToDefendant != "")
                            {
                                <label class="col-lg-4" style="font-weight:bold">To Defendant : </label>
                                <label class="col-lg-8">@tbladdress.ToDefendant</label>
                            }
                            if (tbladdress.OnDefendant != null && tbladdress.OnDefendant != "")
                            {
                                <label class="col-lg-4" style="font-weight:bold">On Defendant : </label>
                                <label class="col-lg-8">@tbladdress.OnDefendant</label>
                            }
                            if (tbladdress.LocatedAt != null && tbladdress.LocatedAt != "")
                            {
                                <label class="col-lg-4" style="font-weight:bold">Located At : </label>
                                <label class="col-lg-8">@tbladdress.LocatedAt</label>
                            }
                            if (tbladdress.ToWit != null && tbladdress.ToWit != "")
                            {
                                <label class="col-lg-4" style="font-weight:bold">To Wit : </label>
                                <label class="col-lg-8">@tbladdress.ToWit</label>
                            }
                            if (tbladdress.CopyFurnished != null && tbladdress.CopyFurnished != "")
                            {
                                <label class="col-lg-4" style="font-weight:bold">Copy Furnished : </label>
                                <label class="col-lg-8">@tbladdress.CopyFurnished</label>
                            }
                            if (tbladdress.PrincipalBalance != null && tbladdress.PrincipalBalance != "")
                            {
                                <label class="col-lg-4" style="font-weight:bold">Principal Balance : </label>
                                <label class="col-lg-8">@tbladdress.PrincipalBalance</label>
                            }

                        }
                    }
                   
                </div>

            </div>
        }

    }
    else
    {
        <div class="col-lg-6">
            No Filtered Address
        </div>
    }
</div>