﻿@model List<SharkAppWeb.ViewModel.CompareFolioID>
@{
    Layout = "";  
}

<div class="row"> 
    <div class="row">
        <div class="col-md-12">

            @*<div class="col-md-3">
                <label><b>Compare By</b></label>
            </div>
            <div class="col-md-9">

                <div class="col-md-4">
                    <label><input type="radio" id="radFolio" class="radFolio" value="1" name="RadFolio" checked="checked" />Folio Number</label>
                </div>
                <div class="col-md-5">
                    <label><input type="radio" id="radPrAddress" class="radFolio" value="2" name="RadFolio" />Property Address</label>
                </div>
            </div>*@

            <input type="hidden" id="hdnRadioValue" name="hdnRadioValue" value="1" />
        </div>
    </div>
    <br />
    <div class="col-md-10">
       
        <div class="form-body" id="myform">

            @if (Model.Count > 0)
            {
                var _count=1;
                foreach (var item in Model)
                {
                    <div class="row clsFolio">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Folio number @_count</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="txtFolioId" name="txtFolioId" class="form-control txtFolioId" value="@item.CmpFolioId" style="margin-left:10px;" />
                                <span class="spntxtFolioId" style="color:red;"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <a onclick="DeleteFolioId(@item.AddressID)" id="@item.CompareFID" class="icon icon-trash "></a>
                            </div>
                        </div>
                    </div>
    <div class="row clsproperty" style="display:none;">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-11">
                <div class="row">
                    <div class="form-group">
                       <label class="control-label col-md-4">Property  @_count</label>
                        <div class="col-md-7">
                            <input type="hidden" id="txtPRFolioId" name="txtPRFolioId" class="form-control txtPRFolioId" value="@item.CmpFolioId" style="margin-left:10px;" />
                            <input type="text" id="txtPropertyAddress" name="txtPropertyAddress" class="form-control txtPropertyAddress" value="@item.CmpSiteAddressSrch" />
                            <span class="spntxtPropertyAdrs" style="color:red;"></span>
                        </div>
                        <div class="col-md-1">
                            <a onclick="DeletepropertyAdrs(@item.AddressID)" id="@item.CompareFID" class="icon icon-trash "></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    _count++;
                }
                <div class="row clsproperty" style="display:none;">
                    <label class="control-label col-md-7"><b>Add More Property Address</b></label>
                </div>
            }

            <div class="row clsFolio" id="1">
                <div class="col-md-4">
                    <div class="form-group">

                        <label>Enter Folio ID</label>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">

                        <input type="text" id="txtFolioId" name="txtFolioId" class="form-control txtFolioId" style="margin-left:10px;" />
                        <span class="spntxtFolioId" style="color:red;"></span>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <a onclick="AddFolioIdField($(this))" class="btn blue icon icon-plus"></a>
                    </div>
                </div>
            </div>
            
            <div class="row clsproperty" id="1" style="display:none;">
                <input type="hidden" id="txtPropertyAddress-1" class="form-control txtPropertyAddress" name="txtPropertyAddress" />
                <div class="row" id="dvpropertyFields-1">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-4"><b>Street Number</b></label>
                                <div class="col-md-7">
                                    <input type="text" id="txtStreetNumber" class="form-control txtStreetNumber" /> <span class="spntxtFolioId" style="color:red;"></span>
                                    <span id="spnStreetNumber" class="help-block has-error spnStreetNumber" style="color:red;"></span>
                                </div>
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-4"><b>Street Direction</b></label>
                                <div class="col-md-7">
                                    <input type="text" id="txtStreetDirection" class="form-control txtStreetDirection" />
                                    <span id="spnStreetDirection" class="help-block has-error spnStreetDirection" style="color:red;"></span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-4"><b>Street Name</b></label>
                                <div class="col-md-7">
                                    <input type="text" id="txtStreetName" class="form-control txtStreetName" />
                                    <span id="spnStreetName" class="help-block has-error spnStreetName" style="color:red;"></span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-4"><b>Street Type</b></label>
                                <div class="col-md-7">
                                    <input type="text" id="txtStreetType" class="form-control txtStreetType" />
                                    <span id="spnStreetType" class="help-block has-error spnStreetType" style="color:red;"></span>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-4"><b>Post Direction</b></label>
                                <div class="col-md-7">
                                    <input type="text" id="txtPostDirection" class="form-control txtPostDirection" />
                                    <span id="spnPostDirection" class="help-block has-error spnPostDirection" style="color:red;"></span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-4"><b>Unit Number</b></label>
                                <div class="col-md-7">
                                    <input type="text" id="txtUnitNumber" class="form-control txtUnitNumber" />
                                    <span id="spnUnitNumber" class="help-block has-error spnUnitNumber" style="color:red;"></span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-4"><b>Street City</b></label>
                                <div class="col-md-7">
                                    <input type="text" id="txtStreetCity" class="form-control txtStreetCity" />
                                    <span id="spnStreetCity" class="help-block has-error spnStreetCity" style="color:red;"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row" id="Addmorefields" style="display:none;">
                        <div class="col-md-12" align="right">
                            <a onclick="AddpropertyAdrsField($(this))" class="btn blue icon icon-plus">Add More fields</a>
                        </div>
                    </div>
                </div>
                
            </div>
            



        </div>

    </div>
</div>
<style>
    /*.txtFolioId{
        width:30%;
        height:30px;

    }*/
</style>
<script>
    $(".radFolio").change(function () {      
        $("#hdnRadioValue").val($(this).val());
        if ($(this).val() == 1) {
            $(".clsFolio").css("display", "block");
            $(".clsproperty").css("display", "none");
            $("#Addmorefields").css("display", "none");
            
        }
        else {
            $(".clsFolio").css("display", "none");
            $(".clsproperty").css("display", "block");
            $("#Addmorefields").css("display", "block");
        }
    });
</script>