﻿@model List<SharkAppWeb.ViewModel.VMCase>
@{
    Layout = "";
    ViewBag.Title = "CaseView";
}

<table id="tableImport">
    <thead>
        <tr>
            <th>Case Number </th>
            <th>Case Type</th>
            <th>Filing Date</th>
            <th>Case Status </th>
            <th>Court Location </th>
            <th>Judge Id Name  </th>
            <th>Magistrate Id Name </th>
            <th>Plantiff </th>
            <th>Attorny Address </th>
            <th>State Rptnumber </th>
            <th>Defandant</th>
            <th>Citation</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.CaseNumber</td>
                    <td>@item.CaseType</td>
                    <td>@item.FilingDate</td>
                    <td>@item.CaseStatusT</td>
                    <td>@item.CourtLocation</td>
                    <td>@item.JudgeIdName</td>
                    <td>@item.MagistrateIdName</td>
                    <td>@item.Plantiff</td>
                    <td>@item.AttornyAddress</td>
                    <td>@item.StateRptnumber</td>
                    @if (@item.defandantList != null && item.defandantList.Count() > 0)
                    {
                        <td>
                            @foreach (var def in item.defandantList)
                            {
                                <label> @def.PartyName</label><br />

                            }
                        </td>
                    }
                    @if (@item.CitationList != null && item.CitationList.Count() > 0)
                    {
                        <td>
                            @foreach (var def in item.CitationList)
                            {
                                <label>@def.CitaionNumber </label><label> @def.OffenseDate</label> <br />
                            }
                            </td>
                    }
                </tr>
            }
        }       
    </tbody>
</table>