﻿<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.4
Version: 3.9.0
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" >
    <title>Broward Clerk | Admin Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/uniform/css/uniform.default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    @*<link href="@Url.Content("~/Content/assets/global/plugins/morris/morris.css")" rel="stylesheet" type="text/css">*@
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- BEGIN PAGE STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="@Url.Content("~/Content/assets/admin/pages/css/timeline.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/admin/pages/css/news.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/admin/pages/css/blog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-toastr/toastr.min.css")" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <link href="~/Content/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.Metronic.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="~/Content/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />

    <link href="@Url.Content("~/Content/assets/admin/pages/css/tasks.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/select2/select2.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/clockface/css/clockface.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/jquery-tags-input/jquery.tagsinput.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/typeahead/typeahead.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-toastr/toastr.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-toastr/toastr.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/global/plugins/jquery-tags-input/jquery.tagsinput.css")" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/global/plugins/bootstrap-colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/global/plugins/jquery-nestable/jquery.nestable.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" />
          @*<link href="@Url.Content("~/Content/MultiSelect/css/common.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/MultiSelect/css/ui.multiselect.css")" rel="stylesheet" />*@
          @*<link href="@Url.Content("~/Content/ui.css")" rel="stylesheet" />*@><!-- END PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
    <link href="@Url.Content("~/Content/assets/global/css/components-rounded.css")" id="style_components" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/css/plugins.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/admin/layout5/css/layout.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/admin/layout5/css/custom.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/CustomStyles.css")" rel="stylesheet" />*@

    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />

    <script src="@Url.Content("~/Content/assets/global/plugins/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery-migrate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js")" type="text/javascript"></script>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<body class="page-header-fixed page-quick-sidebar-over-content">
    <div class="loading" style="display:none;"></div>
    <!-- BEGIN MAIN LAYOUT -->
    <div class="wrapper">
        <!-- Header BEGIN -->
        <header class="page-header">
            <nav class="navbar mega-menu" role="navigation">
                <div class="container-fluid">
                    <div class="clearfix navbar-fixed-top">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="toggle-icon">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </span>
                        </button>
                        <!-- End Toggle Button -->
                        <!-- BEGIN LOGO -->
                        <a id="index" class="page-logo" href="@Url.Action("Index","Home")">
                            <span>Broward Cases</span>
                        </a>
                        <!-- END LOGO -->
                        <!-- BEGIN PAGE ACTIONS -->
                        <!-- DOC: Remove "hide" class to enable the page header actions -->
                        <div class="page-actions" style="margin-top:1%;">
                            <div class="col-md-4" style="color:#009DC7; text-transform: uppercase;font-size: 16px;"></div>
                        </div>
                        <!-- END PAGE ACTIONS -->
                        <!-- BEGIN TOPBAR ACTIONS -->
                        <div class="topbar-actions">
                            <!-- BEGIN GROUP INFORMATION -->
                            <div class="btn-group-red btn-group">
                                <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <ul class="dropdown-menu-v2" role="menu">

                                    <li class="active">
                                        <a href="javascript:void(0);"><span>Hi @System.Web.HttpContext.Current.Session["UserName"]</span></a>
                                    </li>


                                    <li>
                                        <a href="@Url.Action("_ChangePasswordPartial", "Home", null)" title="Change Password" id="Changepassword">Change Password</a>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("Logout", "Home", null)" title="logout">Logout</a>
                                    </li>

                                </ul>
                            </div>
                            <!-- END GROUP INFORMATION -->
                            <!-- BEGIN USER PROFILE -->
                            <div class="btn-group-img btn-group">
                                
                              
                                @*@{Html.RenderAction("LoginDropDown", "Admin", new { Id = HttpContext.Current.Session["RoleId"] });}*@
                            </div>
                            <!-- END USER PROFILE -->
                            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                            @*<button type="button" class="quick-sidebar-toggler" data-toggle="collapse">
                                    <span class="sr-only">Toggle Quick Sidebar</span>
                                    <i class="icon-logout"></i>
                                </button>*@
                            <!-- END QUICK SIDEBAR TOGGLER -->
                        </div>
                        <!-- END TOPBAR ACTIONS -->
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
                        @*@{
                                Html.RenderAction("AccessTopMenu", "Admin", new { role = (string)HttpContext.Current.Session["RoleId"] });
                            }*@
                    </div>
                    <!-- END NAVBAR COLLAPSE -->
                </div>
                <!--/container-->
            </nav>
        </header>
        <!-- Header END -->
        <!-- PAGE CONTENT BEGIN -->
        <div class="container-fluid">
            <div class="page-content col-lg-12" style="padding-top:30px;">
                <!-- BEGIN BREADCRUMBS -->
                @*<div class="breadcrumbs">
                        <h1>Application Dashboard</h1>
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Application</a></li>
                            <li class="active">Dashboard</li>
                        </ol>
                    </div>*@

                <div class="breadcrumbs">
                    @*<h1>Application Dashboard</h1>*@
                    <h1><span id="spnPageTitle"></span></h1>
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li style="color:#009DC7;text-transform: uppercase;">@Html.MvcSiteMap().SiteMapPath()</li>
                        </ol>
                    </div>
                </div>

                <!-- END BREADCRUMBS -->
                <!-- BEGIN PAGE SIDEBAR -->
                <div class="page-sidebar">
                    <nav class="navbar" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="clearfix">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".page-siderbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="toggle-icon">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </span>
                            </button>
                            <!-- End Toggle Button -->
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="nav-collapse collapse navbar-collapse page-siderbar-collapse">
                            <ul class="nav navbar-nav text-uppercase">
                                <li class="dropdown dropdown-fw dropdown-left-main-menu">
                                    <a href="@Url.Action("Index", "Home", null)">
                                        Case Category
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-fw dropdown-sub-menu navbar-nav text-uppercase">
                                        <li>
                                            <a onclick="SelectCategoryTab('BusinessName')">Business Name</a>
                                        </li>
                                        <li>
                                            <a onclick="SelectCategoryTab('partyName')">Party Name</a>
                                        </li>
                                        <li>
                                            <a onclick="SelectCategoryTab('CaseNumber')">Case Number</a>
                                        </li>
                                        <li>
                                            <a onclick="SelectCategoryTab('CitationNumber')">Citation Number</a>
                                        </li>

                                    </ul>

                                </li>
                                <li class="dropdown dropdown-fw dropdown-left-main-menu">
                                    <a href="@Url.Action("BrowardProperty", "Home", null)">
                                        BCPA Property Search
                                    </a>
                                </li>
                                <li class="dropdown dropdown-fw dropdown-left-main-menu">
                                    <a href="@Url.Action("BrowardDocReport", "Home", null)">
                                        Broward Cases
                                    </a>
                                </li>
                                <li class="dropdown dropdown-fw dropdown-left-main-menu">
                                    <a href="@Url.Action("PalmBeachCases", "Home", null)">
                                        Palm Beach Cases
                                    </a>
                                </li>
                                <li class="dropdown dropdown-fw dropdown-left-main-menu">
                                    <a href="@Url.Action("MiamiDade", "Home", null)">
                                        Miami-Dade Cases
                                    </a>
                                </li>
                                @*<li class="dropdown dropdown-fw dropdown-left-main-menu">
            <a href="@Url.Action("LoanAmortization", "Home", null)">
                Loan Amortization
            </a>
        </li>*@
                                <li class="dropdown dropdown-fw dropdown-left-main-menu">
                                    <a href="@Url.Action("BulkEmails", "Home", null)">
                                        Bulk Emails
                                    </a>
                                </li>



                                <li class="dropdown dropdown-fw dropdown-left-main-menu">
                                    <a href="@Url.Action("AddAdminUser", "Home", null)">
                                        Add Admin User
                                    </a>
                                </li>

                                <li class="dropdown dropdown-fw dropdown-left-main-menu">
                                    <a href="@Url.Action("ChangeAdminuserPassword", "Home", null)">
                                       Change Admin Password
                                    </a>
                                </li>

                                <li class="dropdown dropdown-fw dropdown-left-main-menu">
            <a href="@Url.Action("SunbizDetail", "Home", null)">
             Manual Search
            </a>
        </li>
                            </ul>
                        </div>

                    </nav>
                </div>
                <!-- END PAGE SIDEBAR -->
                <!-- BEGIN PAGE CONTAINER -->
                <div class="page-container">
                    @RenderBody()
                </div>
                <!-- END PAGE CONTAINER -->
            </div>
            <!-- PAGE CONTENT END -->
            <!-- BEGIN QUICK SIDEBAR -->
            <a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-login"></i></a>
            <div class="page-quick-sidebar-wrapper">
                <div class="page-quick-sidebar">
                    <div class="nav-justified">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a href="#quick_sidebar_tab_1" data-toggle="tab">
                                    Users <span class="badge badge-danger">2</span>
                                </a>
                            </li>
                            <li>
                                <a href="#quick_sidebar_tab_2" data-toggle="tab">
                                    Alerts <span class="badge badge-success">7</span>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                    More<i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li>
                                        <a href="#quick_sidebar_tab_3" data-toggle="tab">
                                            <i class="icon-bell"></i> Alerts
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#quick_sidebar_tab_3" data-toggle="tab">
                                            <i class="icon-info"></i> Notifications
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#quick_sidebar_tab_3" data-toggle="tab">
                                            <i class="icon-speech"></i> Activities
                                        </a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="#quick_sidebar_tab_3" data-toggle="tab">
                                            <i class="icon-settings"></i> Settings
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
                                <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list">
                                    <h3 class="list-heading">Staff</h3>
                                    <ul class="media-list list-items">
                                        <li class="media">
                                            <div class="media-status">
                                                <span class="badge badge-success">8</span>
                                            </div>
                                            <img class="media-object" src="~/Content/assets/admin/layout/img/avatar5.jpg" alt="...">
                                            <div class="media-body">
                                                <h4 class="media-heading">Bob Nilson</h4>
                                                <div class="media-heading-sub">
                                                    Project Manager
                                                </div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="media-object" src="~/Content/assets/admin/layout/img/avatar1.jpg" alt="...">
                                            <div class="media-body">
                                                <h4 class="media-heading">Nick Larson</h4>
                                                <div class="media-heading-sub">
                                                    Art Director
                                                </div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-status">
                                                <span class="badge badge-danger">3</span>
                                            </div>
                                            <img class="media-object" src="~/Content/assets/admin/layout/img/avatar4.jpg" alt="...">
                                            <div class="media-body">
                                                <h4 class="media-heading">Deon Hubert</h4>
                                                <div class="media-heading-sub">
                                                    CTO
                                                </div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="media-object" src="~/Content/assets/admin/layout/img/avatar2.jpg" alt="...">
                                            <div class="media-body">
                                                <h4 class="media-heading">Ella Wong</h4>
                                                <div class="media-heading-sub">
                                                    CEO
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <h3 class="list-heading">Customers</h3>
                                    <ul class="media-list list-items">
                                        <li class="media">
                                            <div class="media-status">
                                                <span class="badge badge-warning">2</span>
                                            </div>
                                            <img class="media-object" src="~/Content/assets/admin/layout/img/avatar6.jpg" alt="...">
                                            <div class="media-body">
                                                <h4 class="media-heading">Lara Kunis</h4>
                                                <div class="media-heading-sub">
                                                    CEO, Loop Inc
                                                </div>
                                                <div class="media-heading-small">
                                                    Last seen 03:10 AM
                                                </div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-status">
                                                <span class="label label-sm label-success">new</span>
                                            </div>
                                            <img class="media-object" src="~/Content/assets/admin/layout/img/avatar7.jpg" alt="...">
                                            <div class="media-body">
                                                <h4 class="media-heading">Ernie Kyllonen</h4>
                                                <div class="media-heading-sub">
                                                    Project Manager,<br>
                                                    SmartBizz PTL
                                                </div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="media-object" src="~/Content/assets/admin/layout/img/avatar8.jpg" alt="...">
                                            <div class="media-body">
                                                <h4 class="media-heading">Lisa Stone</h4>
                                                <div class="media-heading-sub">
                                                    CTO, Keort Inc
                                                </div>
                                                <div class="media-heading-small">
                                                    Last seen 13:10 PM
                                                </div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-status">
                                                <span class="badge badge-success">7</span>
                                            </div>
                                            <img class="media-object" src="~/Content/assets/admin/layout/img/avatar9.jpg" alt="...">
                                            <div class="media-body">
                                                <h4 class="media-heading">Deon Portalatin</h4>
                                                <div class="media-heading-sub">
                                                    CFO, H&D LTD
                                                </div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="media-object" src="~/Content/assets/admin/layout/img/avatar10.jpg" alt="...">
                                            <div class="media-body">
                                                <h4 class="media-heading">Irina Savikova</h4>
                                                <div class="media-heading-sub">
                                                    CEO, Tizda Motors Inc
                                                </div>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-status">
                                                <span class="badge badge-danger">4</span>
                                            </div>
                                            <img class="media-object" src="~/Content/assets/admin/layout/img/avatar11.jpg" alt="...">
                                            <div class="media-body">
                                                <h4 class="media-heading">Maria Gomez</h4>
                                                <div class="media-heading-sub">
                                                    Manager, Infomatic Inc
                                                </div>
                                                <div class="media-heading-small">
                                                    Last seen 03:10 AM
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="page-quick-sidebar-item">
                                    <div class="page-quick-sidebar-chat-user">
                                        <div class="page-quick-sidebar-nav">
                                            <a href="javascript:;" class="page-quick-sidebar-back-to-list"><i class="icon-arrow-left"></i>Back</a>
                                        </div>
                                        <div class="page-quick-sidebar-chat-user-messages">
                                            <div class="post out">
                                                <img class="avatar" alt="" src="~/Content/assets/admin/layout/img/avatar3.jpg" />
                                                <div class="message">
                                                    <span class="arrow"></span>
                                                    <a href="javascript:;" class="name">Bob Nilson</a>
                                                    <span class="datetime">20:15</span>
                                                    <span class="body">
                                                        When could you send me the report ?
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="post in">
                                                <img class="avatar" alt="" src="~/Content/assets/admin/layout/img/avatar2.jpg" />
                                                <div class="message">
                                                    <span class="arrow"></span>
                                                    <a href="javascript:;" class="name">Ella Wong</a>
                                                    <span class="datetime">20:15</span>
                                                    <span class="body">
                                                        Its almost done. I will be sending it shortly
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="post out">
                                                <img class="avatar" alt="" src="~/Content/assets/admin/layout/img/avatar3.jpg" />
                                                <div class="message">
                                                    <span class="arrow"></span>
                                                    <a href="javascript:;" class="name">Bob Nilson</a>
                                                    <span class="datetime">20:15</span>
                                                    <span class="body">
                                                        Alright. Thanks! :)>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="post in">
                                                <img class="avatar" alt="" src="~/Content/assets/admin/layout/img/avatar2.jpg" />
                                                <div class="message">
                                                    <span class="arrow"></span>
                                                    <a href="javascript:;" class="name">Ella Wong</a>
                                                    <span class="datetime">20:16</span>
                                                    <span class="body">
                                                        You are most welcome. Sorry for the delay.
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="post out">
                                                <img class="avatar" alt="" src="~/Content/assets/admin/layout/img/avatar3.jpg" />
                                                <div class="message">
                                                    <span class="arrow"></span>
                                                    <a href="javascript:;" class="name">Bob Nilson</a>
                                                    <span class="datetime">20:17</span>
                                                    <span class="body">
                                                        No probs. Just take your time :)
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="post in">
                                                <img class="avatar" alt="" src="~/Content/assets/admin/layout/img/avatar2.jpg" />
                                                <div class="message">
                                                    <span class="arrow"></span>
                                                    <a href="javascript:;" class="name">Ella Wong</a>
                                                    <span class="datetime">20:40</span>
                                                    <span class="body">
                                                        Alright. I just emailed it to you.
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="post out">
                                                <img class="avatar" alt="" src="~/Content/assets/admin/layout/img/avatar3.jpg" />
                                                <div class="message">
                                                    <span class="arrow"></span>
                                                    <a href="javascript:;" class="name">Bob Nilson</a>
                                                    <span class="datetime">20:17</span>
                                                    <span class="body">
                                                        Great! Thanks. Will check it right away.
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="post in">
                                                <img class="avatar" alt="" src="~/Content/assets/admin/layout/img/avatar2.jpg" />
                                                <div class="message">
                                                    <span class="arrow"></span>
                                                    <a href="javascript:;" class="name">Ella Wong</a>
                                                    <span class="datetime">20:40</span>
                                                    <span class="body">
                                                        Please let me know if you have any comment.
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="post out">
                                                <img class="avatar" alt="" src="~/Content/assets/admin/layout/img/avatar3.jpg" />
                                                <div class="message">
                                                    <span class="arrow"></span>
                                                    <a href="javascript:;" class="name">Bob Nilson</a>
                                                    <span class="datetime">20:17</span>
                                                    <span class="body">
                                                        Sure. I will check and buzz you if anything needs to be corrected.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="page-quick-sidebar-chat-user-form">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Type a message here...">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn blue"><i class="icon-paper-clip"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane page-quick-sidebar-alerts" id="quick_sidebar_tab_2">
                                <div class="page-quick-sidebar-alerts-list">
                                    <h3 class="list-heading">General</h3>
                                    <ul class="feeds list-items">
                                        <li>
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-info">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc">
                                                            New order received with <span class="label label-sm label-danger">
                                                                Reference Number: DR23923
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col2">
                                                <div class="date">
                                                    30 mins
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-success">
                                                            <i class="fa fa-user"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc">
                                                            You have 5 pending membership that requires a quick review.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col2">
                                                <div class="date">
                                                    24 mins
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-danger">
                                                            <i class="fa fa-bell-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc">
                                                            Web server hardware needs to be upgraded. <span class="label label-sm label-warning">
                                                                Overdue
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col2">
                                                <div class="date">
                                                    2 hours
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col1">
                                                            <div class="label label-sm label-default">
                                                                <i class="fa fa-briefcase"></i>
                                                            </div>
                                                        </div>
                                                        <div class="cont-col2">
                                                            <div class="desc">
                                                                IPO Report for year 2013 has been released.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col2">
                                                    <div class="date">
                                                        20 mins
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <h3 class="list-heading">System</h3>
                                    <ul class="feeds list-items">
                                        <li>
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-info">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc">
                                                            New order received with <span class="label label-sm label-success">
                                                                Reference Number: DR23923
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col2">
                                                <div class="date">
                                                    30 mins
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-success">
                                                            <i class="fa fa-user"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc">
                                                            You have 5 pending membership that requires a quick review.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col2">
                                                <div class="date">
                                                    24 mins
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-warning">
                                                            <i class="fa fa-bell-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc">
                                                            Web server hardware needs to be upgraded. <span class="label label-sm label-default ">
                                                                Overdue
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col2">
                                                <div class="date">
                                                    2 hours
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col1">
                                                            <div class="label label-sm label-info">
                                                                <i class="fa fa-briefcase"></i>
                                                            </div>
                                                        </div>
                                                        <div class="cont-col2">
                                                            <div class="desc">
                                                                IPO Report for year 2013 has been released.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col2">
                                                    <div class="date">
                                                        20 mins
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane page-quick-sidebar-settings" id="quick_sidebar_tab_3">
                                <div class="page-quick-sidebar-settings-list">
                                    <h3 class="list-heading">General Settings</h3>
                                    <ul class="list-items borderless">
                                        <li>
                                            Enable Notifications <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="success" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                        </li>
                                        <li>
                                            Allow Tracking <input type="checkbox" class="make-switch" data-size="small" data-on-color="info" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                        </li>
                                        <li>
                                            Log Errors <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="danger" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                        </li>
                                        <li>
                                            Auto Sumbit Issues <input type="checkbox" class="make-switch" data-size="small" data-on-color="warning" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                        </li>
                                        <li>
                                            Enable SMS Alerts <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="success" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                        </li>
                                    </ul>
                                    <h3 class="list-heading">System Settings</h3>
                                    <ul class="list-items borderless">
                                        <li>
                                            Security Level
                                            <select class="form-control input-inline input-sm input-small">
                                                <option value="1">Normal</option>
                                                <option value="2" selected>Medium</option>
                                                <option value="e">High</option>
                                            </select>
                                        </li>
                                        <li>
                                            Failed Email Attempts <input class="form-control input-inline input-sm input-small" value="5" />
                                        </li>
                                        <li>
                                            Secondary SMTP Port <input class="form-control input-inline input-sm input-small" value="3560" />
                                        </li>
                                        <li>
                                            Notify On System Error <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="danger" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                        </li>
                                        <li>
                                            Notify On SMTP Error <input type="checkbox" class="make-switch" checked data-size="small" data-on-color="warning" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                        </li>
                                    </ul>
                                    <div class="inner-content">
                                        <button class="btn btn-success"><i class="icon-settings"></i> Save Changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END QUICK SIDEBAR -->
            <!-- Copyright BEGIN -->
            <p class="copyright">
                @DateTime.Now.Year © Broward Clerk.
                @*<a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>*@
            </p>
            <!-- Copyright END -->
        </div>
    </div>
    <!-- END MAIN LAYOUT -->
    <a href="#index" class="go2top"><i class="icon-arrow-up"></i></a>

    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/Content/assets/global/plugins/respond.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/excanvas.min.js")"></script>
    <![endif]-->

    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/uniform/jquery.uniform.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN DATE PAGINATOR PLUGIN -->
    <script src="@Url.Content("~/Content/assets/global/plugins/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-datepaginator/bootstrap-datepaginator.min.js")" type="text/javascript"></script>
    <!-- END DATE PAGINATOR PLUGIN -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="@Url.Content("~/Content/assets/global/plugins/amcharts/amcharts/amcharts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/amcharts/amcharts/serial.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/amcharts/amcharts/themes/light.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/amcharts/ammap/ammap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Content/assets/global/plugins/morris/morris.min.js")" type="text/javascript"></script>*@
    @*<script src="@Url.Content("~/Content/assets/global/plugins/morris/raphael-AttendanceIdmin.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery.sparkline.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/select2/select2.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Content/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/clockface/js/clockface.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-daterangepicker/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/fuelux/js/spinner.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery.input-ip-address-control-1.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-pwstrength/pwstrength-bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery-tags-input/jquery.tagsinput.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/typeahead/handlebars.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/typeahead/typeahead.bundle.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Content/assets/global/plugins/ckeditor/ckeditor.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-toastr/toastr.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-toastr/toastr.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Content/MultiSelect/js/plugins/localisation/jquery.localisation-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/MultiSelect/js/plugins/scrollTo/jquery.scrollTo-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/MultiSelect/js/ui.multiselect.js")" type="text/javascript"></script>*@
    @*<script type="text/javascript" src="~/Content/js/bootstrap-multiselect.js"></script>*@
    <script src="@Url.Content("~/Content/assets/global/plugins/ckeditor/ckeditor.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery-tags-input/jquery.tagsinput.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Content/Scripts/jquery.table2excel.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/tableExport.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/jspdf.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/sprintf.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/jquery.base64.js")"></script>
    <script src="@Url.Content("~/Content/Scripts/base64.js")"></script>

    @*<script type="text/javascript" src="~/Content/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>*@
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    @*<script type="text/javascript" src="~/Content/assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>*@
    <script type="text/javascript" src="~/Content/assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>

    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="@Url.Content("~/Content/assets/global/scripts/metronic.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/admin/layout5/scripts/layout.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/admin/layout5/scripts/quick-sidebar.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Content/assets/admin/layout5/scripts/index.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Content/assets/admin/pages/scripts/tasks.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/admin/pages/scripts/table-managed.js")"></script>
    <script src="@Url.Content("~/Content/assets/admin/pages/scripts/components-pickers.js")"></script>
    <script src="@Url.Content("~/Content/assets/admin/pages/scripts/components-form-tools.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/admin/pages/scripts/ui-datepaginator.js")"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Content/assets/global/plugins/jquery-nestable/jquery.nestable.js"></script>
    <script src="~/Content/assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>

    <!-- END PAGE LEVEL SCRIPTS -->
    <script src="~/Content/assets/admin/pages/scripts/ui-nestable.js"></script>
    <script src="~/Content/assets/admin/pages/scripts/table-advanced.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.15/sorting/natural.js"></script>
    
    <script src="~/Content/assets/global/plugins/ion.rangeslider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>
    @*<script src="~/Content/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>*@
    <script src="~/Content/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="~/Content/assets/admin/pages/scripts/components-ion-sliders.js"></script>
    <script src="~/Content/assets/admin/pages/scripts/timeline.js" type="text/javascript"></script>
    <script src="~/Content/assets/admin/pages/scripts/ui-alert-dialog-api.js"></script>
    <script src="~/Content/assets/global/plugins/bootstrap-toastr/toastr.min.js"></script>
    <script src="~/Content/assets/admin/pages/scripts/ui-toastr.js"></script>
    @*<script src="~/Content/assets/global/plugins/ion.rangeslider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>
        @*<script src="~/Content/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>*@
    @*<script src="~/Content/assets/admin/pages/scripts/table-advanced.js"></script>*@

    <script>
        jQuery(document).ready(function () {

            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout
            QuickSidebar.init(); // init quick sidebar
            //Index.init(); // init index page

            Tasks.initDashboardWidget(); // init tash dashboard widget
            UIDatepaginator.init();

            TableManaged.init();
            ComponentsFormTools.init();
            ComponentsPickers.init();
            //UINestable.init();
            //UIToastr.init();
            //jQuery('.date-picker').on('change', function () {
            //    jQuery(this).datepicker('hide');
            //});

            TableAdvanced.init();

           // $('.select2-chosen').text(50);

            var infotext = $("#sample_Ad_5_info").text();

            var word = infotext.split(" ")
            var CntTabRecords = $("#HdnTabRecords").val();
            var SetValueText = "";
            if (CntTabRecords == 0) {
                SetValueText = "No records found"
            }
            else {
                SetValueText = "Showing 1 to " + word[3] + " of " + CntTabRecords + " records"
            }
            $("#sample_Ad_5_info").text(SetValueText);


            var infotext = $("#sample_PLM_5_info").text();

            var word = infotext.split(" ")
            var CntTabRecords = $("#HdnTabRecords").val();
            var SetValueText = "";
            if (CntTabRecords == 0) {
                SetValueText = "No records found"
            }
            else {
                SetValueText = "Showing 1 to " + word[3] + " of " + CntTabRecords + " records"
            }
            $("#sample_PLM_5_info").text(SetValueText);

            UIAlertDialogApi.init();
            //UIToastr.init();
        });


       
    </script>

    <style type="text/css">
        .right {
            float: right;
        }

        /*.dropdown-fw:hover ul {
                    display: inherit !important;
                }*/

        .dropdown-sub-menu {
            margin-left: 200px !important;
            margin-top: -40px !important;
            /*float: right;
                    font-size: 14px;
                    margin-top: 35px;
                    font-weight: bold;*/
        }


        /*.page-header .navbar .navbar-nav li > a:hover {
                    background-color: #1297DF !important;
                }*/

        .page-header .navbar .navbar-nav li > a:hover {
            background-color: #F9F9F9 !important;
        }

        .dropdown-left-main-menu:hover ul {
            display: inherit !important;
        }
    </style>

    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>