﻿@model List<SharkAppWeb.ViewModel.LoanAmortiZd>
@{
    ViewBag.Title = "_LoanAmortization";
    Layout = "";
}
<div class="col-md-12 responsive">
    <div class="portlet-body form">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    Loan Amortization List
                </div>
            </div>
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover" id="sample_LoanAmort">
                            <thead>
                                <tr>
                                    <th style="display:none;" class="clsAddressID"></th>
                                    <th>Month</th>
                                    <th class="clsRepayment">Repayment<br /> Number</th>
                                    <th>Opening<br /> Balance</th>
                                    <th>Loan<br /> Repayment</th>
                                    <th>Interest<br /> Charged</th>
                                    <th>Capital <br /> Repaid</th>
                                    <th>Closing <br /> Balance</th>
                                    <th>Capital <br /> Outstanding</th>
                                    <th>Interest<br /> Rate</th>
                                </tr>
                            </thead>
                            <tbody class="clsPropertyDetails" id="tbodyData">
                                @if (@Model != null)
                                {
                                    foreach (var item in Model)
                                    {

                                        <tr>
                                            <td style="display:none;" class="clsAddressID"></td>
                                            <td>@item.Month</td>
                                            <td>@item.RepaymentNumber</td>
                                            <td>@item.OpeningBalanceNew</td>
                                            <td>@item.LoanRepaymentNew</td>
                                            <td>@item.InterestChargedNew</td>
                                            <td>@item.CapitalRepaidNew</td>
                                            <td>@item.ClosingBalanceNew</td>
                                            <td>@item.CapitalOutstanding</td>
                                            <td>@item.InterestRateNew</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
    <!-- END PAGE CONTENT-->
</div>