﻿<div class="col-md-12 responsive">
    <div class="tabbable tabbable-custom boxless">
        <input type="hidden" id="hdnTabId" value="1" />
        <input type="hidden" id="hdnSubTabId" value="01" />

      

      
         
              

                <div class="tab-pane active" id="tab_00">
                    <div id="dvMainhtml">
                        <div class="clsshowreport" id="showreport">

                            @{Html.RenderAction("ShowReportManual", "Home");}

                        </div>

                    </div>

                </div>

          

      
    </div>

</div>