﻿@model IEnumerable<SharkAppWeb.ViewModel.SrchDefandant>
@{
    int rowIndex=0;
}

<div class="col-md-12 responsive">
    <div class="portlet-body form">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    Choose Default Property For the Case Number : @ViewBag.CaseNumber
                </div>
            </div>
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="sample_51">
                        <thead>
                            <tr>
                                <th style="display:none;"></th>
                                <th class="clsChangeType">Select As<br /> Default</th>
                                <th>BCPA Property Address</th>
                                <th>Matched Property Address</th>
                                <th>BCPA Legal Description</th>
                                <th>Matched Legal <br /> Description Address</th>                               
                                <th>Plaintiff</th>
                                <th>Defendant</th>                               
                                <th>Folio Number</th>
                                <th>PDF View</th>
                            </tr>
                        </thead>
                        <tbody class="clsMatchedDetails" id="tbodyMatched">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="display:none;"><input type="hidden" class="hdnDefendantID" value="@item.SrchDefendantID" /></td>
                                    <td><label><input type="radio" id="@rowIndex" name=" matchedothaddressid" value="@item.CompareOTHAddressID" class="clsOTHAddressID" /></label></td>
                                    <td class="clsSiteAddress">@item.OTHSiteAddressSrch</td>
                                    <td>@item.AddessMatched</td>
                                    <td>@item.OTHAbbreviatedLegalDesc</td>
                                    <td>@item.LegalDescMetched</td>                                   
                                    <td>@item.Plaintiff</td>
                                    <td>@item.Defendant</td>                                    
                                    <td>@item.OtherFolio</td>
                                    <td><a href="@item.ViewPDF">View PDF</a></td>
                                </tr>
                                rowIndex++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>