﻿@model IEnumerable<SharkAppWeb.ViewModel.OtherAssessedValue>
<div class="portlet box blue" style="border:0px!important">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-reorder"></i>Property Assessment Values
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body form">
        <div class="portlet-body">

            <div class="table-scrollable">
                <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="sample_6">
                    <thead>
                        <tr>
                            <th style="display:none;"></th>
                            <th>Year</th>
                            <th>Land</th>
                            <th>Building</th>
                            <th>MarketValue</th>
                            <th>AssessedValue</th>
                            <th>AssessedTax</th>
                        </tr>
                    </thead>
                    <tbody class="clsPropertyDetails" id="tbodyData">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="display:none;" class="clsAddressID">@item.OthPropertyAssesID</td>
                                <td class="clsYear">@item.OthYear</td>
                                <td class="clsLand">@item.OthLand</td>
                                <td>@item.OthBuilding</td>
                                <td>@item.OthMarketValue</td>
                                <td>@item.OthAssessedValue</td>
                                <td>@item.OthAssessedTax</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- END EXAMPLE TABLE PORTLET-->
