﻿@model IEnumerable<SharkAppWeb.ViewModel.PalmBeachLpcases>
@{
    Layout = "";
    ViewBag.Title = "CaseView";
    int rowIndex = 0;
}
<div class="col-md-12">
    <div class="row">


        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover" id="sample_5">
                <thead>
                    <tr>
                        <th style="display:none;" class="clsAddressID"></th>
                        <th>Select Default</th>
                        <th>Sale Date</th>
                        <th>PCN Number</th>
                        <th>Mailing Address</th>
                        <th class="clsDetails">Details</th>
                    </tr>
                </thead>
                <tbody class="clsothPropertyDetails" id="tbodyData">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="display:none;" class="clsAddressID">@item.PCBPalmDetailsID</td>
                            <td><label><input type="radio" id="@rowIndex" name=" matchedPCBPalmDetailsID" value="@item.PCBPalmDetailsID" class="clsPCBPalmDetailsID" /></label></td>
                            <td>@item.SaleDate</td>
                            <td>@item.PCNumber</td>
                            <td>@item.MailingAddress</td>
                            <td class="clsDetails"><input class="btn blue" type="button" value="Delete" onclick="GetPCBDetails(@item.PCBPalmDetailsID)" /></td>
                        </tr>
                        rowIndex++;
                    }
                </tbody>

            </table>
        </div>

    </div>
</div>
