﻿@model IEnumerable<SharkAppWeb.ViewModel.OtherProperty>
@{
    ViewBag.Title = "_OtherPropertyAddress";
    Layout = "";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet-body form">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                       Select Correct property Address To Set Default Property
                    </div>
                </div>
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover" id="sample_51">
                            <thead>
                                <tr>
                                    <th style="display:none;" class="clsAddressID"></th>
                                    <th>Select</th>
                                    <th class="clsFolioId">Folio Number</th>
                                    <th>Site Address Search</th>
                                    @*<th>Abbreviated Legal Description</th>*@
                                    <th>Property Owner</th>
                                    <th>View Map</th>
                                    <th>Folio BCPA Link</th>
                                </tr>
                            </thead>
                            <tbody class="clsPropertyDetails" id="tbodyCorrect">
                                @foreach (var item in Model)
                                {

                                    string ViewMap = "http://199.27.243.15/bcpawebmap_ex/bcpawebmap.aspx?FOLIO=" + @item.OTHFolioId.Replace(" ", "").ToString().Trim();

                                    <tr>
                                        <td style="display:none;" class="clsAddressID">@item.OTHAddressID</td>
                                        <td class="clsbtnCompare"> <input type="hidden" value="@item.SrchDefendantID" class="hdnSrchDefendantID" /><label><input type="radio" name="clsOTHAddressID" value="@item.OTHAddressID" class="clsOTHAddressID" /></label></td>
                                        <td class="clsFolioId">@item.OTHFolioId.Replace(" ", "").ToString()</td>
                                        <td class="clsSiteAddressSrch">@item.OTHSiteAddressSrch</td>
                                        @*<td>@item.OTHAbbreviatedLegalDesc</td>*@
                                        <td>@item.OTHPropertyOwner</td>
                                        <td><a href="@ViewMap">View Map</a></td>
                                        <td><a href="@item.OTHFolioSiteLink">View Property</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
</div>