﻿@model SharkAppWeb.ViewModel.ContactInfo
@{
    Layout = "";
}


    
@using (Html.BeginForm("SavePalmContactInfo", "Home", FormMethod.Post, new { @name = "SaveContactInfoForm", @id = "SaveContactInfoForm", @role = "form", @enctype = "multipart/form-data", @autocomplete = "off" }))
{
<div class="row">
    <div class="col-md-12">
        <div class="row clsFolio">
            <div class="col-md-6">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Mobile Number #1</label>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <input type="text" id="txtMobile" name="txtMobile" class="form-control txtMobile" value="@Model.Mobile" style="margin-left:10px;" />
                        <span class="spntxtMobile" style="color:red;"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Email</label>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <input type="text" id="txtEmail" name="txtEmail" class="form-control txtEmail" value="@Model.Email" style="margin-left:10px;" />
                        <span class="spntxtEmail" style="color:red;"></span>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="row clsFolio">
            <div class="col-md-6">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Landline #1</label>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <input type="text" id="txtLandline" name="txtLandline" class="form-control txtLandline" value="@Model.Landline" style="margin-left:10px;" />
                        <span class="spntxtLandline" style="color:red;"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Landline #2</label>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <input type="text" id="txtLandline1" name="txtLandline1" class="form-control txtLandline1" value="@Model.Landline1" style="margin-left:10px;" />
                        <span class="spntxtLandline1" style="color:red;"></span>
                    </div>
                </div>
            </div>
            
          
        </div>
       
        <div class="row clsFolio">
            <div class="col-md-6">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Mobile Number #2</label>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <input type="text" id="txtMobile2" name="txtMobile2" class="form-control txtMobile2" value="@Model.Mobile2" style="margin-left:10px;" />
                        <span class="spntxtMobile2" style="color:red;"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Email #1</label>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <input type="text" id="txtEmail1" name="txtEmail1" class="form-control txtEmail1" value="@Model.Email1" style="margin-left:10px;" />
                        <span class="spntxtEmail1" style="color:red;"></span>
                    </div>
                </div>
            </div>
           
           
        </div>
       
        <div class="row clsFolio">
           
            <div class="col-md-6">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Email #2</label>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <input type="text" id="txtEmail2" name="txtEmail2" class="form-control txtEmail2" value="@Model.Email2" style="margin-left:10px;" />
                        <span class="spntxtEmail2" style="color:red;"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Email #3</label>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <input type="text" id="txtEmail3" name="txtEmail3" class="form-control txtEmail3" value="@Model.Email3" style="margin-left:10px;" />
                        <span class="spntxtEmail3" style="color:red;"></span>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="row clsFolio">
            <div class="col-md-6">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Notes Box</label>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group" style="margin-left: 10px;">
                        <textarea class="form-control txtNOTESBOX" id="txtNOTESBOX">@Model.NOTESBOX</textarea>
                      
                        <span class="spntxtNOTESBOX" style="color:red;"></span>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="col-md-12">
            <div class="form-group" align="right">
                <input type="button" onclick="SubmitContactInfo('@Model.PCBPalmDetailsID')" class="btn blue" value="Submit" />
                
            </div>
        </div>
       
    </div>
</div>

         }