﻿<div class="col-md-12 responsive">
    <div class="tabbable tabbable-custom boxless">
        <input type="hidden" id="hdnTabId" value="1" />
        <input type="hidden" id="hdnSubTabId" value="01" />
        <input type="hidden" id="hdnSubTab" value="Single Family" />

        <ul class="nav nav-tabs" id="PropertyTab">
            <li class="active"><a href="#tab_01" data-toggle="tab" id="T01" data-recordcount="@ViewBag.Residential" onclick="ResidentialTab(1,'01', 'Single Family', this)">Residential (@ViewBag.Residential)</a></li>
            <li><a href="#tab_02" data-toggle="tab" id="T02" data-recordcount="@ViewBag.Commercial" onclick="CommercialTab(2,'03', 'Vacant Commercial', this)">Commercial (@ViewBag.Commercial)</a></li>
            <li><a href="#tab_03" data-toggle="tab" id="T03" data-recordcount="@ViewBag.Industrial" onclick="IndustrialTab(3,'40', 'Vacant Industrial', this)">Industrial (@ViewBag.Industrial)</a></li>
            <li><a href="#tab_04" data-toggle="tab" id="T04" data-recordcount="@ViewBag.Miscellaneous" onclick="PropertyTypeTab(4, this)">Miscellaneous (@ViewBag.Miscellaneous)</a></li>
            <li><a href="#tab_00" data-toggle="tab" id="10" data-recordcount="@ViewBag.ALLLEADS" onclick="PropertyOtherTab(5, this)">All Leads-Single Property (@ViewBag.ALLLEADS)</a></li>
            <li><a href="#tab_00" data-toggle="tab" id="11" data-recordcount="@ViewBag.MultiProperty" onclick="PropertyOtherTab(6, this)">Multiple Property (@ViewBag.MultiProperty)</a></li>
            <li><a href="#tab_00" data-toggle="tab" id="12" data-recordcount="@ViewBag.SetSubjtProperty" onclick="PropertyOtherTab(7, this)">Set Subject Property (@ViewBag.SetSubjtProperty)</a></li>
            <li><a href="#tab_00" data-toggle="tab" id="13" data-recordcount="@ViewBag.NotFound" onclick="PropertyOtherTab(8, this)">Not Found (@ViewBag.NotFound)</a></li>
        </ul>

        <div class="tab-content">

            @foreach (System.Data.DataRow Rwitem in (@ViewData["PalmSubTabCnt"] as System.Data.DataTable).Rows)
            {

                <div class="tab-pane active" id="tab_01">
                    <div class="tabbable tabbable-custom boxless">
                        <input type="hidden" id="HdnTabRecords" value="@Rwitem["Single Family"]" />
                        <ul class="nav nav-tabs" id="PropertySubTab_01">
                            <li class="active"><a href="#tab_011" data-toggle="tab" id="01" data-recordcount="@Rwitem["Single Family"]" onclick="ResidentialTab(1,'01', 'Single Family', this)">Single Family (@Rwitem["Single Family"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="03" data-recordcount="@Rwitem["Multi-Family '10+'"]" onclick="ResidentialTab(1,'03', 'Multi-Family \'10+\'', this)">Multi-Family "10+" (@Rwitem["Multi-Family '10+'"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="08" data-recordcount="@Rwitem["Multi Family '10-'"]" onclick="ResidentialTab(1,'08', 'Multi Family \'10-\'', this)">Multi Family "10-" (@Rwitem["Multi Family '10-'"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="02" data-recordcount="@Rwitem["Mobile Homes"]" onclick="ResidentialTab(1,'02', 'Mobile Homes', this)">Mobile Homes (@Rwitem["Mobile Homes"])</a></li>

                            <li><a href="#tab_011" data-toggle="tab" id="00" data-recordcount="@Rwitem["Vacant Residential"]" onclick="ResidentialTab(1,'00', 'Vacant Residential', this)">Vacant Residential (@Rwitem["Vacant Residential"])</a></li>
                            <li><a href="#tab_011" data-toggle="tab" id="01*" data-recordcount="@Rwitem["Single Family TownHomes"]" onclick="ResidentialTab(1,'01*', 'Single Family TownHomes', this)">Single Family TownHomes (@Rwitem["Single Family TownHomes"])</a></li>
                            <li><a href="#tab_011" data-toggle="tab" id="04" data-recordcount="@Rwitem["Condominium"]" onclick="ResidentialTab(1,'04', 'Condominium', this)">Condominium (@Rwitem["Condominium"])</a></li>
                            <li><a href="#tab_011" data-toggle="tab" id="05" data-recordcount="@Rwitem["Cooperatives"]" onclick="ResidentialTab(1,'05', 'Cooperatives', this)">Cooperatives (@Rwitem["Cooperatives"])</a></li>
                            <li><a href="#tab_011" data-toggle="tab" id="06" data-recordcount="@Rwitem["Retirement Homes"]" onclick="ResidentialTab(1,'06', 'Retirement Homes', this)">Retirement Homes (@Rwitem["Retirement Homes"])</a></li>
                            <li><a href="#tab_011" data-toggle="tab" id="07" data-recordcount="@Rwitem["Miscellaneous Residential"]" onclick="ResidentialTab(1,'07', 'Miscellaneous Residential', this)">Miscellaneous Residential (@Rwitem["Miscellaneous Residential"])</a></li>
                            <li><a href="#tab_011" data-toggle="tab" id="09" data-recordcount="@Rwitem["Residential Common"]" onclick="ResidentialTab(1,'09', 'Residential Common', this)">Residential Common (@Rwitem["Residential Common"])</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_011">
                                <div id="divResidential"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab_02">
                    <div class="tabbable tabbable-custom boxless">

                        <ul class="nav nav-tabs" id="PropertySubTab_02">

                            
                            <li><a href="#tab_021" data-toggle="tab" id="10" data-recordcount="@Rwitem["Vacant Commercial"]" onclick="CommercialTab(2,'10', 'Vacant Commercial', this)">Vacant Commercial (@Rwitem["Vacant Commercial"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="11" data-recordcount="@Rwitem["Stores, 1 Story"]" onclick="CommercialTab(2,'11', 'Stores, 1 Story', this)">Stores, 1 Story (@Rwitem["Stores, 1 Story"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="12" data-recordcount="@Rwitem["Mixed Use Store"]" onclick="CommercialTab(2,'12', 'Mixed Use Store', this)">Mixed Use Store (@Rwitem["Mixed Use Store"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="13" data-recordcount="@Rwitem["Department Store"]" onclick="CommercialTab(2,'13', 'Department Store', this)">Department Store (@Rwitem["Department Store"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="14" data-recordcount="@Rwitem["Supermarkets"]" onclick="CommercialTab(2,'14', 'Supermarkets', this)">Supermarkets (@Rwitem["Supermarkets"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="15" data-recordcount="@Rwitem["Regional Shopping"]" onclick="CommercialTab(2,'15', 'Regional Shopping', this)">Regional Shopping (@Rwitem["Regional Shopping"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="16" data-recordcount="@Rwitem["Community Shopping"]" onclick="CommercialTab(2,'16', 'Community Shopping', this)">Community Shopping (@Rwitem["Community Shopping"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="17" data-recordcount="@Rwitem["Office 1 Story"]" onclick="CommercialTab(2,'17', 'Office 1 Story', this)">Office 1 Story (@Rwitem["Office 1 Story"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="18" data-recordcount="@Rwitem["Office Multi-Story"]" onclick="CommercialTab(2,'18', 'Office Multi-Story', this)">Office Multi-Story (@Rwitem["Office Multi-Story"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="19" data-recordcount="@Rwitem["Professional"]" onclick="CommercialTab(2,'19', 'Professional', this)">Professional (@Rwitem["Professional"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="20" data-recordcount="@Rwitem["Airports"]" onclick="CommercialTab(2,'20', 'Airports', this)">Airports (@Rwitem["Airports"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="21" data-recordcount="@Rwitem["Restaurants"]" onclick="CommercialTab(2,'21', 'Restaurants', this)">Restaurants (@Rwitem["Restaurants"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="22" data-recordcount="@Rwitem["Drive-In Restaurants"]" onclick="CommercialTab(2,'22', 'Drive-In Restaurants', this)">Drive-In Restaurants (@Rwitem["Drive-In Restaurants"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="23" data-recordcount="@Rwitem["Financial Institutions"]" onclick="CommercialTab(2,'23', 'Financial Institutions', this)">Financial Institutions (@Rwitem["Financial Institutions"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="24" data-recordcount="@Rwitem["Insurance Offices"]" onclick="CommercialTab(2,'24', 'Insurance Offices', this)">Insurance Offices (@Rwitem["Insurance Offices"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="25" data-recordcount="@Rwitem["Repair Service Shops"]" onclick="CommercialTab(2,'25', 'Repair Service Shops', this)">Repair Service Shops (@Rwitem["Repair Service Shops"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="26" data-recordcount="@Rwitem["Service Stations"]" onclick="CommercialTab(2,'26', 'Service Stations', this)">Service Stations (@Rwitem["Service Stations"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="27" data-recordcount="@Rwitem["Auto Sales"]" onclick="CommercialTab(2,'27', 'Auto Sales', this)">Auto Sales (@Rwitem["Auto Sales"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="28" data-recordcount="@Rwitem["Parking Lots"]" onclick="CommercialTab(2,'28', 'Parking Lots', this)">Parking Lots (@Rwitem["Parking Lots"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="29" data-recordcount="@Rwitem["Florist, GreenHouses"]" onclick="CommercialTab(2,'29', 'Florist, GreenHouses', this)">Florist, GreenHouses (@Rwitem["Florist, GreenHouses"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="30" data-recordcount="@Rwitem["Wholesale Outlets"]" onclick="CommercialTab(2,'30', 'Wholesale Outlets', this)">Wholesale Outlets (@Rwitem["Wholesale Outlets"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="31" data-recordcount="@Rwitem["Drive-In Theaters"]" onclick="CommercialTab(2,'31', 'Drive-In Theaters', this)">Drive-In Theaters  (@Rwitem["Drive-In Theaters"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="32" data-recordcount="@Rwitem["Enclosed Theaters"]" onclick="CommercialTab(2,'32', 'Enclosed Theaters', this)">Enclosed Theaters (@Rwitem["Enclosed Theaters"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="33" data-recordcount="@Rwitem["Night Clubs, Cocktails"]" onclick="CommercialTab(2,'33', 'Night Clubs, Cocktails', this)">Night Clubs, Cocktails (@Rwitem["Night Clubs, Cocktails"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="34" data-recordcount="@Rwitem["Bowling Alleys"]" onclick="CommercialTab(2,'34', 'Bowling Alleys', this)">Bowling Alleys (@Rwitem["Bowling Alleys"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="35" data-recordcount="@Rwitem["Tourist Attractions"]" onclick="CommercialTab(2,'35', 'Tourist Attractions', this)">Tourist Attractions (@Rwitem["Tourist Attractions"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="36" data-recordcount="@Rwitem["Camps"]" onclick="CommercialTab(2,'36', 'Camps', this)">Camps (@Rwitem["Camps"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="37" data-recordcount="@Rwitem["Race Tracks, Horse"]" onclick="CommercialTab(2,'37', 'Race Tracks, Horse', this)">Race Tracks, Horse (@Rwitem["Race Tracks, Horse"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="38" data-recordcount="@Rwitem["Golf Courses"]" onclick="CommercialTab(2,'38', 'Golf Courses', this)">Golf Courses (@Rwitem["Golf Courses"])</a></li>
                            <li><a href="#tab_021" data-toggle="tab" id="39" data-recordcount="@Rwitem["Hotels, Motels"]" onclick="CommercialTab(2,'39', 'Hotels, Motels', this)">Hotels, Motels (@Rwitem["Hotels, Motels"])</a></li>

                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_021">

                                <div id="divCommercial"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_03">
                    <div class="tabbable tabbable-custom boxless">

                        <ul class="nav nav-tabs" id="PropertySubTab_03">
                            <li class="active"><a href="#tab_031" data-toggle="tab" id="40" data-recordcount="@Rwitem["Vacant Industrial"]" onclick="IndustrialTab(3,'40', 'Vacant Industrial', this)">Vacant Industrial (@Rwitem["Vacant Industrial"])</a></li>
                            <li><a href="#tab_031" data-toggle="tab" id="41" data-recordcount="@Rwitem["Light Manufacturing"]" onclick="IndustrialTab(3,'41', 'Light Manufacturing', this)">Light Manufacturing (@Rwitem["Light Manufacturing"])</a></li>
                            <li><a href="#tab_031" data-toggle="tab" id="42" data-recordcount="@Rwitem["Heavy Industrial"]" onclick="IndustrialTab(3,'42', 'Heavy Industrial', this)">Heavy Industrial (@Rwitem["Heavy Industrial"])</a></li>
                            <li><a href="#tab_031" data-toggle="tab" id="43" data-recordcount="@Rwitem["Lumber Yards"]" onclick="IndustrialTab(3,'43', 'Lumber Yards', this)">Lumber Yards (@Rwitem["Lumber Yards"])</a></li>
                            <li><a href="#tab_031" data-toggle="tab" id="44" data-recordcount="@Rwitem["Packing Plants"]" onclick="IndustrialTab(3,'44', 'Packing Plants', this)">Packing Plants (@Rwitem["Packing Plants"])</a></li>
                            <li><a href="#tab_031" data-toggle="tab" id="45" data-recordcount="@Rwitem["Canneries"]" onclick="IndustrialTab(3,'45', 'Canneries', this)">Canneries (@Rwitem["Canneries"])</a></li>
                            <li><a href="#tab_031" data-toggle="tab" id="46" data-recordcount="@Rwitem["Other Food"]" onclick="IndustrialTab(3,'46', 'Other Food', this)">Other Food (@Rwitem["Other Food"])</a></li>
                            <li><a href="#tab_031" data-toggle="tab" id="47" data-recordcount="@Rwitem["Mineral Processing"]" onclick="IndustrialTab(3,'47', 'Mineral Processing', this)">Mineral Processing (@Rwitem["Mineral Processing"])</a></li>
                            <li><a href="#tab_031" data-toggle="tab" id="48" data-recordcount="@Rwitem["Warehousing"]" onclick="IndustrialTab(3,'48', 'Warehousing', this)">Warehousing (@Rwitem["Warehousing"])</a></li>
                            <li><a href="#tab_031" data-toggle="tab" id="49" data-recordcount="@Rwitem["Open Storage"]" onclick="IndustrialTab(3,'49', 'Open Storage', this)">Open Storage (@Rwitem["Open Storage"])</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_031">
                                <div id="divIndustrial"></div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_04">
                    <div class="tabbable tabbable-custom boxless">

                        <ul class="nav nav-tabs" id="PropertyTab1">
                            <li class="active"><a href="#tab_041" data-toggle="tab" id="7" data-recordcount="@ViewBag.Miscellaneous" onclick="PropertyTypeTab(4, this)">Miscellaneous (@ViewBag.Miscellaneous) </a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_041">
                                <div id="divMainTab">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane active" id="tab_00">
                    <div id="dvMainhtml">
                        <div class="clsshowreport" id="showreport">

                            @{Html.RenderAction("ShowPalmReport", "Home", new { UseCodeCategoryID = 1, SubTabId = "Single Family" });}

                        </div>

                    </div>

                </div>

            }

        </div>
    </div>

</div>