﻿@model IEnumerable<SharkAppWeb.Models.tblPartySearchHistory>

<div class="col-md-12 responsive">
    <div class="portlet-body form">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    Search History for : Party Name
                </div>
            </div>
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet-body">
                <div class="row">
                    @*<input type="button" id="RefreshList" value="Refresh Case List" class="btn blue" onclick="Refreshlist()" />*@
                </div>
                <div class="table-scrollable">
                    <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="sample_4">
                        <thead>
                            <tr>
                                <th style="display:none;"></th>
                                <th>Searched Date</th>
                                <th>Party Name</th>
                                <th>Court Type</th>
                                 <th>From</th> 
                                <th>To</th>         
                                <th>View</th>
                                <th>Delete</th>  
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="display:none;"></td>
                                    <td>@item.PartySearchDate</td>
                                    <td>@item.PartyFirstName @item.PartyLastName</td>   
                                    <td>@item.PartyCourtType</td>   
                                    <td>@String.Format("{0:dd/MM/yyyy}", item.PartyFromDate)</td>       
                                    <td>@String.Format("{0:dd/MM/yyyy}", item.PartyToDate)</td>     
                                    <td><a href="@Url.Action("PartyDetails", "Home", new { PartySearchID = item.PartySearchID })" id="SearchVw" class="btn blue">View</a></td> 
                                    <td><a onclick="DeletepartyHistory(@item.PartySearchID)" class="icon-trash"></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

