﻿@model IEnumerable<SharkAppWeb.ViewModel.PropertyFolio>

<div class="col-md-12">
    <div class="portlet-body form">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    Broward Property List
                </div>
            </div>
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover" id="sample_5">                    
                        <thead>
                            <tr>
                                <th style="display:none;" class="clsAddressID"></th>
                                <th class="clsbtnCompare">Compare</th>
                                <th>Search Date</th>
                                <th class ="clsFolioId1" style="display:none;">Folio Id</th>
                                <th class="clsFolioId">Folio Id</th>
                                <th>Site Address Search</th>
                                <th>Property Owner</th>
                                <th>Land Factor</th>
                                <th>Abbreviated Legal Description</th>
                                <th>Units/Bed/Bath</th>
                                <th>Milage</th>
                                <th>Use</th>
                                @*<th>View Map</th>
                                <th>Folio BCPA Link</th>*@
                                @*<th>Mortgage Link</th>*@
                                <th class="clsPrevious">Previous Year Details</th>
                                <th class="clsProperty">Property Details</th>
                                <th class="clsDelete">Delete</th>
                            </tr>
                        </thead>
                        <tbody class="clsPropertyDetails" id="tbodyData">
                            @foreach (var item in Model)
                            { 
                                string Mortgagelink="";
                                if(item.SaleBookPage!=null && item.SaleBookPage!=""){
                                    Mortgagelink="https://officialrecords.broward.org/oncorev2/ShowDetails.aspx?CFN="+item.SaleBookPage;
                                }
                                else{
                                    Mortgagelink="https://officialrecords.broward.org/oncorev2/ShowDetails.aspx?CFN=";
                                }
                                string ViewMap = "http://199.27.243.15/bcpawebmap_ex/bcpawebmap.aspx?FOLIO=" + @item.FolioId.Replace(" ", "").ToString().Trim();
                                        
                                <tr>
                                    <td style="display:none;" class="clsAddressID" >@item.AddressID</td>
                                    <td class="clsbtnCompare"><a id=" btncompare" class="btn blue " href="@Url.Action("ViewComparision", "Home", new { AddressID = @item.AddressID })">Compare</a></td>
                                    <td class="clsSearchDate">@String.Format("{0:MM/d/yyyy}", @item.SearchDate)</td>
                                    <td class="clsFolioId1" style="display:none;">'@item.FolioId.Replace(" ", "").ToString()</td>
                                    <td class="clsFolioId">@item.FolioId.Replace(" ", "").ToString()</td>
                                    <td class="clsSiteAddressSrch">@item.SiteAddressSrch</td>
                                    <td>@item.PropertyOwner</td>
                                    <td>@item.LandFactor</td>
                                    <td>@item.AbbreviatedLegalDesc</td>
                                    <td>@item.UnitsBEDBath</td>
                                    <td>@item.Milage</td>
                                    <td>@item.SrchUse</td>
                                    @*<td><a href="@ViewMap">View Map</a></td>
                                    <td><a href="@item.FolioSiteLink">Go To Property</a></td>*@
                                    @*<td><a href="@Mortgagelink">View Grantor</a><input class="btn blue clsviewDetailsMortgage" type="button" value="Get Details" onclick="GetDetailsMortgage(@item.AddressID,@item.SaleBookPage)" /></td>*@
                                    <td class="clsPrevious"><input class="btn blue clsviewdetails" type="button" value="View Details" onclick="ViewPriviousYearsdetail(@item.AddressID)" /></td>
                                    <td class="clsProperty"><input class="btn blue clsviewdetails" type="button" value="View" onclick="ViewPropertydetail(@item.AddressID)" /></td>
                                    <td class="clsDelete"><input class="btn blue delete" type="button" value="Delete" onclick="DeleteProperty(@item.AddressID)" /></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>


