﻿@model IEnumerable<SharkAppWeb.Models.tblCaseNumberSearch>

<div class="table-scrollable">
    <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="sample_5">
        <thead>
            <tr>
                <th style="display:none;"></th>
                <th>Searched Date</th>
                <th>Case Number</th>
                <th>Case Style</th>
                <th>Case Type</th>
                <th>Filling Date</th>
                <th>Case Staus</th>
                <th>View Details</th>
                <th>Address</th>
                <th>View PDF</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="CaseSearchresult">
            @foreach (var item in Model)
            {
                <tr>
                    <td style="display:none;" class="CaseNumberID">@item.CaseNumberID</td>
                    <td class="CaseSearchDate">@item.CaseSearchDate</td>
                    <td class="Details">@item.CaseNumber</td>
                    <td>@item.CaseStyle</td>
                    @{
                var _casetype = item.CaseType;
                var FilterHtml = System.Text.RegularExpressions.Regex.Replace(_casetype, @"<[^>]*(>|$)|&nbsp;|&zwnj;|&raquo;|&laquo;|&amp;|&gt;|&lt;", " ").Trim();
                <td>@FilterHtml</td>
                    }
                    <td>@String.Format("{0:dd/MM/yyyy}", @item.FillingDate)</td>
                    <td>@item.CaseStatus</td>
                    <td><a onclick="CaseSearchDetails(@item.CaseNumberID)" class="btn blue">Detail</a></td>
                    <td><a onclick="CaseConvertAddress(@item.CaseNumberID)" class="btn blue">View</a></td>
                    <td><a onclick="CasePdfView(@item.CaseNumberID)" class="btn blue">PDF</a></td>
                    <td><a onclick="DeleteCaseHistory(@item.CaseNumberID)" class="icon-trash"></a></td>
                </tr>
            }
        </tbody>
    </table>

</div>