﻿
@model SharkAppWeb.ViewModel.VMCase
@{
    Layout = "";
    ViewBag.Title = "CaseView";
}

<div class="row">
   
        @if (Model != null && Model.searchPDFs != null && Model.searchPDFs.Count > 0)
        {
            <div class="row">
                <div class="col-lg-1">

                </div>
                <label class="col-lg-6">

                    Please Select Correct Address
                </label>
            </div>
            <br />
            var Cnt=1;
            foreach (var item in Model.searchPDFs)
            {
                <div class="row">                   
                    <div class="col-lg-12">
                        @if (item.tblNewAllAddress != null && item.tblNewAllAddress != null && item.tblNewAllAddress.Count > 0)
                    {
                        foreach (var tbladdress in item.tblNewAllAddress)
                        {
                            if (tbladdress.Defendantaddress != null && tbladdress.Defendantaddress != "")
                            {
                    <label class="col-lg-4" style="font-weight:bold">Address-@Cnt: </label>
                    <label class="col-lg-8">@tbladdress.Defendantaddress</label>
                            }
                            Cnt++;                   
                        }
                    }
                    </div>

                </div>
                
            }
           

        }
        else
        {
            <div class="col-lg-6" align="center">
                <label style="color:red">
                    No Filtered Address Found !!
                </label>
               
            </div>
        }
    </div>