﻿@model IEnumerable<SharkAppWeb.ViewModel.SrchDefandant>


<div class="portlet-body form">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                Broward Defendant List
            </div>
        </div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <input type="button" class="btn blue" onclick="DeleteSelectedLp()" value="Delete Selected Case" />
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="btn blue" onclick="ShowMapSelectedLpcase()" value="Show Map View" />
                        </div>
                        <div class="col-md-3">
                            <input type="button" class="btn blue" onclick="GetandSaveOwndBtn()" value="Calculate Est.Owner's Equity" />
                        </div>
                        @*<div class="col-md-2">
                            <input type="button" id="btnExportExcel" onclick="tableToExcel('sample_5', 'SampleTable')" class="btn blue" value="Export To Excel" />
                        </div>*@
                    </div>
                </div>
            </div>
            <br />
            <div class="block messages scrollBox">
                <div class="scroll block-fluid table-sorting clearfix" >

                    <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="sample_Ad_5">
                        <thead id="LPthead">
                            @*<tr>
                                <th class="clsAddressID" style="display:none;"></th>
                                <th class="clsChangeType">
                                    Select<br />
                                    <input type="checkbox" class="clscheckboxAll" id="clscheckboxAll" onclick="SelectAll(this)" />
                                </th>
                                <th class="clsChangeType">Map</th>
                                <th>Record Date</th>
                                <th style="display:none;">Searched<br />Date</th>
                                <th style="display:none;">Document<br />Type</th>
                                <th style="display:none;">Plaintiff</th>
                                <th class="clsChangeType">Spokeo Details</th>
                                <th style=" overflow:hidden;width:30px">Defendant</th>
                                <th>Site Address</th>
                                <th class="clsChangeType" style="display:none;">Contact Info</th>
                                <th>Mailing Address</th>
                                <th>Just Market value</th>
                                <th>% Change <input type="number" class="txtAllPercent" value="15" style="width:100%;" /></th>
                                <th>Est./Market Value</th>
                                <th>Est. Owner's Equity</th>
                                <th style="display:none;">Book<br />Type</th>
                                <th style="display:none;">Case<br />Number</th>
                                <th style="display:none;">Ref<br />Num</th>
                                <th style="display:none;" class="clsIsResidential">Property<br />Type</th>
                                <th style="display:none;">Property Type</th>
                                <th>Exemptions</th>
                                <th>Tax Issue</th>
                                <th class="clsChangeType">Tax Details</th>
                                <th class="clsChangeType">Compare</th>
                                <th class="clsChangeType">Property Detail</th>
                                <th class="clsChangeType">Case Url</th>
                                <th style="display:none;">Case Url</th>
                                <th class="clsChangeType">Loan Amortization</th>
                                <th class="clsChangeType">Other<br />Properties</th>
                                <th class="clsfixed clsChangeType">Other Plaintiffs</th>
                                <th class="clsChangeType">Set Default<br />Property</th>
                                <th style="display:none;" class="clsChangeType">BCPA<br />Details</th>
                                <th style="display:none;" class="clsChangeType">Match<br />From<br />BCPA</th>
                              
                                <th style="display:none;" class="clsChangeType">PDFs<br />Addresses</th>
                               
                                <th class="clsdelete">Delete</th>
                                <th class="clsChangeType" style="display:none;">Sales Price SqFt</th>
                                <th class="clsChangeType" style="display:none;">Assessed Market SqFt</th>
                                <th class="clsChangeType" style="display:none;">Estimated Mortgage</th>
                               
                            </tr>*@
                            <tr>
                                <th class="not_export">Select <input type="checkbox" class="clscheckboxAll" id="clscheckboxAll" onclick="SelectAll(this)" /></th>

                                <th class="not_export">View Map</th>
                                <th>See Financial</th>
                                <th>Case Date</th>
                                <th>Date Modified</th>
                                <th>Property Type</th>
                                @*<th class="not_export">Contact Info</th>*@
                                <th>Plaintiff Name</th>
                                <th>Defendant</th>
                                <th>Property Owner</th>
                                <th>Site Address</th>
                                <th>Mailing Address</th>
                                <th>Just Market Value</th>
                                <th class="not_export" style="min-width:100px;">% Change <input type="number" class="txtAllPercent form-control" value="15" style="display:block;" /></th>
                                <th>Est./Market Value</th>
                                <th>Assessed Value</th>
                                <th>Land Value</th>
                                <th>Redfin Market Value</th>
                                <th>Redfin HOA Dues</th>
                                <th>Zillow Market Value</th>
                                <th>Zillow Rentzestimate</th>
                                <th>Zillow Refipayment</th>
                                <th>Loopnet Market Value</th>
                                <th>Est. Owner's Equity</th>
                                <th class="not_export">Document Type</th>
                                <th class="not_export">Formulas</th>
                                <th>Exemptions</th>
                                <th>Tax Issue</th>
                                <th class="not_export" style="min-width:100px;">Tax Details</th>
                                <th>Condo/Home Association</th>
                                <th>Sale Date</th>
                                <th>Sales Price</th>
                                <th>Estimated Mortgage</th>
                                <th>Folio ID</th>
                                <th>Time on Redfin</th>
                                <th>Time on Zillow</th>
                                <th class="not_export">Compare</th>
                                <th class="not_export">Property Detail</th>
                                <th class="not_export">Case Url</th>
                                <th class="not_export">Loan Amortization</th>
                                <th class="not_export">Other Properties</th>
                                <th class="not_export">Other Plaintiffs</th>
                                <th class="not_export">Set Default Property</th>
                                <th class="not_export">Delete</th>
                                <th class="not_export">Spokeo Details</th>
                                <th class="not_export">Sunbiz Details</th>
                                <th class="not_export">LinkedIn Details</th>
                                <th class="not_export">Twitter Details</th>

                            </tr>
                        </thead>
                        <tbody id="tbodyData"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>
<!-- END PAGE CONTENT-->
