﻿@model IEnumerable<SharkAppWeb.ViewModel.PalmBeachLpcases>
@{
    Layout = "";
    ViewBag.Title = "CaseView";
    int rowIndex = 0;
}
<div class="col-md-12">
    <div class="row">

        <div class="table-scrollable">
            <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="sample_5">
                <thead>
                    <tr>
                        <th class="clsAddressID" style="display:none;"></th>
                        <th>Plaintiff</th>
                        <th>Defendant</th>
                        <th>Type</th>
                        <th>CFN</th>
                        <th>Book</th>
                        <th>Page Number</th>
                        <th>Case Date</th>
                        <th>Leagal</th>
                        <th>Details Url</th>
                        
                    </tr>
                </thead>
                <tbody class="clsPalmDetails1" id="tbodyData1">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td style="display:none;" class="clsAddressID">@item.PalmBeachLPCaseID</td>
                                <td>@item.Name</td>
                                <td>@item.CrossName</td>
                                <td>@item.CaseType</td>                             
                                <td>@item.CFN</td>
                                <td>@item.Book</td>
                                <td>@item.PageNumber</td>
                                <td>@item.CaseDate.Value.ToShortDateString()</td>
                                <td>@item.Legal</td>
                                <td><a href="@item.DetailsByUrl" target="_blank">Details</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
