﻿@model IEnumerable<SharkAppWeb.ViewModel.PalmBeachLpcases>


<div class="col-md-12 responsive">
    <div class="portlet-body form">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    Palm Beach Cases List
                </div>
            </div>
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet-body">
                @*<div class="table-scrollable">

                    </div>*@
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <input type="button" class="btn blue" onclick="DeleteSelectedLp()" value="Delete Selected Case" />
                            </div>
                            <div class="col-md-2">
                                <input type="button" class="btn blue" onclick="ShowMapSelectedLpcase()" value="Show Map View" />
                            </div>
                            <div class="col-md-3">
                                <input type="button" class="btn blue" onclick="GetandSaveOwndBtn()" value="Calculate Est.Owner's Equity" />
                            </div>
                            <div class="col-md-3">
                                <input type="hidden" id="hdnGroupByCFN" value="true" />
                                <input type="checkbox" id="chkGroupByCFN" onchange="GroupByCFN(this)" checked="checked" /> Group by CFN
                            </div>
                            @*<div class="col-md-2" align="right">
                                <input type="button" id="btnExportExcel" onclick="tableToExcel('sample_5', 'SampleTable')" class="btn blue" value="Export To Excel" />
                            </div>*@
                        </div>
                    </div>
                </div>
<br />
                <div class="block messages scrollBox">
                    <div class="scroll block-fluid table-sorting clearfix">
                        <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="sample_PLM_5">
                            <thead>
                                <tr>
                                    @*<th class="clsAddressID" style="display:none;"></th>
        <th class="clsChangeType">
            Select<br />
            <input type="checkbox" class="clscheckboxAll" id="clscheckboxAll" onclick="SelectAll(this)" />
        </th>
        <th class="clsfixed1" style="display:none;">Plaintiff</th>
        <th class="clsfixed clsChangeType">Map</th>
        <th>Record Date</th>
        <th class="clsChangeType">Spokeo Details</th>
        <th class="clsfixed1" style=" overflow:hidden;width:30px">Defendant</th>
        <th class="clsfixed1">Property Address</th>
        <th class="clsfixed1">Mailing Address</th>
        <th class="clsfixed1">Just Market value</th>
        <th class="clsfixed1">% Change <input type="number" class="txtAllPercent" value="15" style="width:100%;" /></th>
        <th class="clsfixed1">Est./Market Value</th>
        <th class="clsfixed1">Est. Owner's Equity</th>
        <th class="clsfixed1">Exemptions</th>
        <th class="clsfixed1">Tax<br />Issue</th>
        <th class="clsfixed1" style="display:none;">Sale Date</th>
        <th class="clsfixed1" style="display:none;">Market Value</th>
        <th class="clsfixed1" style="display:none;">ExemptionAmt</th>
        <th class="clsfixed1" style="display:none;">Total Taxes</th>
        <th class="clsfixed1" style="display:none;">Type</th>
        <th class="clsfixed1" style="display:none;">CFN</th>
        <th class="clsfixed1" style="display:none;">Book</th>
        <th class="clsfixed1" style="display:none;">Case Date</th>
        <th class="clsfixed clsChangeType">Compare</th>
        <th class="clsfixed clsChangeType">PBC Details</th>
        <th class="clsfixed clsChangeType">Case Url</th>
        <th class="clsfixed clsChangeType">Loan Amortization</th>
        <th class="clsfixed clsChangeType">Other Properties</th>
        <th class="clsfixed clsChangeType">Other Plaintiffs</th>
        <th class="clsfixed clsChangeType">Set Default<br />Property</th>
        <th class="clsdelete">Delete</th>
        <th class="clsChangeType" style="display:none;">Sales Price SqFt</th>
        <th class="clsChangeType" style="display:none;">Assessed Market SqFt</th>
        <th class="clsChangeType" style="display:none;">Estimated Mortgage</th>
        <th style="display:none;"></th>
        <th style="display:none;"></th>
        <th style="display:none;"></th>*@




                                    <th>Select <input type="checkbox" class="clscheckboxAll" id="clscheckboxAll" onclick="SelectAll(this)" /></th>
                                    <th>View Map</th>
                                    <th>Case Date</th>
                                    <th>Property Type</th>
                                    <th>Contact Info</th>
                                  
                                    @*<th>Plantiff Name</th>*@
                                    <th>Defendant</th>
                                    <th>Property Owner</th>
                                    <th>Site Address</th>
                                    <th>Mailing Address</th>
                                    <th>Land Value</th>
                                    <th>Assesed Value</th>
                                    <th>Just Market Value</th>
                                    <th style="min-width:100px;">% Change <input type="number" class="txtAllPercent form-control" value="15" style="display:block;" /></th>
                                    <th>Est./Market Value</th>
                                    <th>Redfin Market Value</th>
                                    <th>Redfin HOA Dues</th>
                                    <th>Zillow Rentzestimate</th>
                                    <th>Zillow Refipayment</th>
                                    <th>Zillow Market Value</th>
                                    <th>Loopnet Market Value</th>
                                    <th>Est. Owner's Equity</th>
                                    <th>Document Type</th>
                                    <th>Formulas</th>
                                    <th>Exemptions</th>
                                    <th>Condo/Home Association</th>
                                    <th>Sale Date</th>
                                    <th>Sales Price</th>
                                    <th>Estimated Mortgage</th>
                                    <th>Plaintiff Name</th>
                                    <th>Time on Redfin</th>
                                    <th>Time on Zillow</th>
                                    <th>Compare</th>
                                    <th>Property Detail</th>
                                    <th>Case Url</th>
                                    <th>Loan Amortization</th>
                                    <th>Other Properties</th>
                                    <th>Other Plaintiffs</th>
                                    <th>Set Default Property</th>
                                    <th>Delete</th>
                                      <th>Spokeo Details</th>
                                    <th>Sunbiz Details</th>
                                    <th>LinkedIn Details</th>
                                    <th>Twitter Details</th>



                                </tr>
                            </thead>
                            <tbody id="tbodyData"></tbody>


                            
                        </table>



                        
                    </div>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

