﻿@model SharkAppWeb.ViewModel.OtherProperty

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-reorder"></i>Property Details
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body form">
        <div class="portlet-body">
            <div class="row">
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Search Date :
                    </label>
                    <label class="col-sm-6">
                        <span id="SearchDate">@Model.OTHSearchDate</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Folio Id :
                    </label>
                    <label class="col-sm-6">
                        <span id="FolioId">@Model.OTHFolioId</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Site Address :
                    </label>
                    <label class="col-sm-6">
                        <span id="SiteAddressSrch">@Model.OTHSiteAddressSrch</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Property Owner :
                    </label>
                    <label class="col-sm-6">
                        <span id="PropertyOwner">@Model.OTHPropertyOwner</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Land Factor :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.OTHLandFactor</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Sale Price :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.SalePrice</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Assessed Market value/SqFt :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.AssedMarketSqFt
                        </span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Sale Price/SqFt :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">$@Model.SalePricePrSqFt
                        </span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Mailing Address :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.OTHMailingAddress</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Abbreviated Legal Description :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.OTHAbbreviatedLegalDesc</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Folio Site Url :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor"><a href="@Model.OTHFolioSiteLink">@Model.OTHFolioSiteLink</a></span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Units/Bed/Bath :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.UnitsBEDBath
                        </span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Adv.Bldg.S.F(Card Scatch) :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.OTHAdvBldgSF</span>
                    </label>
                </div>

                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Milage :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.OTHMilage</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Use :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.OTHSrchUse</span>
                    </label>
                </div>

            </div>
        </div>

    </div>
</div>
    </div>
<!-- END EXAMPLE TABLE PORTLET-->
