﻿@model IEnumerable<SharkAppWeb.Models.tblCourtDetail>
@{
    Layout = "";
    ViewBag.Title = "CaseView";
 
}
<div class="col-md-12">
    <div class="row">

        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover" id="sample_5">
                <thead>
                    <tr>
                        <th style="display:none;" class="CourtDetailsID"></th>
                        <th>Records Number</th>
                        <th>Offense Date</th>
                        <th>Offense Code</th>
                        <th>Offense Desc</th>
                        <th>Disposition</th>
                        <th>Disposition Date</th>
                        <th>Source State</th>
                        <th>Source Name</th>
                        <th>CaseNo</th>
                        <th>Arrest Date</th>
                        <th>Racewhite</th>
                    </tr>
                </thead>
                <tbody class="clsothPropertyDetails" id="tbodyData">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="display:none;" class="clsAddressID">@item.CourtDetailsID</td>
                            <td>@item.RecordsNumber</td>
                            <td>@item.OffenseDate</td>
                            <td>@item.OffenseCode</td>
                            <td>@item.OffenseDesc</td>
                            <td>@item.Disposition</td>
                            <td>@item.DispositionDate</td>
                            <td>@item.SourceState</td>
                            <td>@item.SourceName</td>
                            <td>@item.CaseNo</td>
                            <td>@item.ArrestDate</td>
                            <td>@item.Racewhite</td>
                        </tr>  
                    }
                </tbody>

            </table>
        </div>

    </div>
</div>
