﻿@model SharkAppWeb.ViewModel.PropertyFolio

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-reorder"></i>Property Details
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body form">
        <div class="portlet-body">
            <div class="row">
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Search Date :
                    </label>
                    <label class="col-sm-6">
                        <span id="SearchDate">@Model.SearchDate</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Folio Id :
                    </label>
                    <label class="col-sm-6">
                        <span id="FolioId">@Model.FolioId</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Site Address :
                    </label>
                    <label class="col-sm-6">
                        <span id="SiteAddressSrch">@Model.SiteAddressSrch</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Property Owner :
                    </label>
                    <label class="col-sm-6">
                        <span id="PropertyOwner">@Model.PropertyOwner</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Land Factor :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.LandFactor</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Sale Price :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.SalePrice</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Assessed Market value/SqFt :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.AssedMarketSqFt</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Sale Price/SqFt :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">$@Model.SalePricePrSqFt</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Mailing Address :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.MailingAddress</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Abbreviated Legal Description :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.AbbreviatedLegalDesc</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Folio Site Url :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor"><a href="@Model.FolioSiteLink">@Model.FolioSiteLink</a></span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Units/Bed/Bath :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.UnitsBEDBath</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Adv.Bldg.S.F(Card Scatch) :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.AdvBldgSF</span>
                    </label>
                </div>

                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Milage :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.Milage</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Use :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.SrchUse</span>
                    </label>
                </div>

            </div>
        </div>

    </div>
</div>
    </div>
<!-- END EXAMPLE TABLE PORTLET-->
