﻿@model IEnumerable<SharkAppWeb.ViewModel.PalmBeachLpcases>
<div class="block messages scrollBox">
    <div class="scroll block-fluid table-sorting clearfix">
        <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="sample_PLM_5">
            <thead>
                <tr>
                    <th>RecordDate</th>
                    <th>Defendant</th>
                    <th>Legal Description</th>
                    <th>Document Type</th>
                    <th>Formulas</th>
                    <th>Exemptions</th>
                    <th>Tax Issue</th>
                    <th>Compare</th>
                    <th>Property Detail</th>
                    <th>Case Url</th>
                    <th>Loan Amortization</th>
                    <th>Other Properties</th>
                    <th>Other Plaintiffs</th>
                    <th>Set Default Property</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody class="clsPalmDetails" id="tbodyData">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                       
                        string CaseDate = item.CaseDate.HasValue ? item.CaseDate.Value.ToShortDateString() : string.Empty;

                        <tr>
                          
                            <td>@CaseDate</td>
                            <td>@item.CrossName</td>
                            <td>@item.LegalDesc</td>
                            <td style="display:none;">@item.CaseType</td>
                            <td style="display:none;">@item.CFN</td>
                            <td style="display:none;">@item.Book</td>
                            <td><a href="@item.DetailsByUrl" data-toggle="tooltip" class="btn blue" target="_blank">Official Link</a></td>

                            <td>
                                @if (@item.cntPlaintiffs == true)
                                {<input type="button" class="btn blue" onclick="OtherPlaintiffs(@item.PalmBeachLPCaseID)" value="Other Plaintiffs" />
                                }
                                else
                                {<input type="button" class="btn grey-salt" value="Other Plaintiffs" />

                                }
                            </td>
                            <td class="clsfixed clsChangeType">
                                @if (@item.IsOtherPalm == true && @item.ISCorrectPalmPCB != true)
                                {

                                    <a class="btn blue" onclick="MultiPalmProperties(@item.PalmBeachLPCaseID)">Set Default</a>

                                }
                                else
                                {
                                    <a class="btn grey-salt" href="">Set Default</a>
                                }
                            </td>
                            <td class="clsdelete"><input class="btn blue delete" type="button" value="Delete" onclick="DeletePalmBeachCase(@item.PalmBeachLPCaseID)" /></td>
                            <td class="clsChangeType" style="display:none;">
                                @if (!string.IsNullOrEmpty(item.SalesPriceSqFt))
                                {
                                    <span>$@item.SalesPriceSqFt</span>
                                }
                            </td>
                            <td class="clsChangeType" style="display:none;">
                                @if (!string.IsNullOrEmpty(item.AssessedMarketSqFt))
                                {  <span>$@item.AssessedMarketSqFt</span>
                                }
                            </td>
                            <td class="clsChangeType" style="display:none;">
                                @if (!string.IsNullOrEmpty(item.OwedOnMortgage))
                                {
                                    if (item.OwedOnMortgage == "FULLY PAID")
                                    {
                                        <span>FULLY PAID</span>
                                    }
                                    else
                                    {
                                        <span>$@string.Format("{0:n}", Convert.ToDouble(item.OwedOnMortgage))</span>
                                    }

                                }
                            </td>
                            <td style="display:none;">@item.PCBPalmDetailsID</td>
                            <td style="display:none;">@item.PCNumber</td>
                            <td style="display:none;">@item.Price</td>
                        </tr>
                    }
                }
            </tbody>
        </table>




    </div>
</div>