﻿@model IEnumerable<SharkAppWeb.ViewModel.BrowardCasesLinkedIntable>
@{
    Layout = "";
    ViewBag.Title = "CaseView";
}

    <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover" id="sample_5">
            <thead>
                <tr>
                    <th style="display:none;" class="OthAddressID"></th>
                    <th>Owner Name</th>
                    <th>Owner Company</th>
                    <th>Owner Contact Info</th>
                    <th>View Details</th>
                </tr>
            </thead>
            <tbody class="clsothPropertyDetails" id="tbodyData">
                @foreach (var item in Model)
        {
                <tr>
                    <td style="display:none;" class="clsAddressID">@item.OthAddressID</td>
                    @*<td><a href="@item.Defendant" target="_blank">@item.Defendant</a></td>*@
                <td><a href="@Url.Action("BrowardCasesLinkedInOwnerDetails", "Home", new { OthAddressID = item.OthAddressID })" target="_blank">@item.OwnerName</a></td>
                    @*<td>@item.Defendant</td>*@
                    <td>@item.OwnerCompany</td>
                    <td width="30%"><a href="@item.OwnerContactinfoIink" target="_blank">@item.OwnerContactinfoIink</a></td>
                    <td><a class="btn btn-primary" href="@Url.Action("BrowardCasesLinkedInOwnerDetails", "Home", new { OthAddressID = item.OthAddressID})" target="_blank">View Details</a></td>
                </tr>

}
            </tbody>

        </table>
    </div>


