﻿@model IEnumerable<SharkAppWeb.ViewModel.OtherProperty>
@{
    Layout = "";
    ViewBag.Title = "CaseView";
}


<div class="table-scrollable">
    <table class="table table-striped table-bordered table-hover" id="sample_5">
        <thead>
            <tr>
                <th style="display:none;" class="clsAddressID"></th>
                <th class="clsbtnCompare">Compare</th>

                <th class="clsFolioId1" style="display:none;">Folio Id</th>
                <th class="clsFolioId">Folio Id</th>
                <th>Site Address Search</th>
                <th>Property Owner</th>
                <th>Land Factor</th>
                <th>Abbreviated Legal Description</th>
                <th>Units/Bed/Bath</th>
                <th>Milage</th>
                <th>Use</th>
                <th>View Map</th>
                @*<th>Folio BCPA Link</th>*@
                @*<th>Mortgage Link</th>*@
                <th class="clsPrevious">Previous Year Details</th>
                <th class="clsProperty">Property Details</th>
                <th class="clsDelete">Delete</th>
            </tr>
        </thead>
        <tbody class="clsothPropertyDetails" id="tbodyData">
            @foreach (var item in Model)
            {
                string Mortgagelink = "";

                if (item.SaleBookPage != null && item.SaleBookPage != "")
                {
                    Mortgagelink = "https://officialrecords.broward.org/oncorev2/ShowDetails.aspx?CFN=" + item.SaleBookPage;
                }
                else
                {
                    Mortgagelink = "https://officialrecords.broward.org/oncorev2/ShowDetails.aspx?CFN=";
                }
                string ViewMap = "http://199.27.243.15/bcpawebmap_ex/bcpawebmap.aspx?FOLIO=" + @item.OTHFolioId.Replace(" ", "").ToString().Trim();

                <tr>
                    <td style="display:none;" class="clsAddressID">
                        @item.OTHAddressID
                    <input type="hidden" id="hdnSrchDeftID" value="@item.SrchDefendantID" />
                </td>
                <td class="clsbtnCompare"><a id=" btncompare" class="btn blue " href="@Url.Action("OtherComparision", "Home", new { AddressID = @item.OTHAddressID })">Compare</a></td>

                <td class="clsFolioId1" style="display:none;">'@item.OTHFolioId.Replace(" ", "").ToString()</td>
                <td class="clsFolioId">@item.OTHFolioId.Replace(" ", "").ToString()</td>
                <td class="clsSiteAddressSrch">@item.OTHSiteAddressSrch</td>
                <td>@item.OTHPropertyOwner</td>
                <td>@item.OTHLandFactor</td>
                <td>@item.OTHAbbreviatedLegalDesc</td>
                <td>@item.UnitsBEDBath</td>
                <td>@item.OTHMilage</td>
                <td>@item.OTHSrchUse</td>
                @*<td><a href="@ViewMap">View Map</a></td>*@
                    <td><a href="@Url.Action("ShowMapOthProperty", "Home", new { OTHAddressID = @item.OTHAddressID })" >View Map</a></td>
                @*<td><a href="@item.OTHFolioSiteLink">Go To Property</a></td>*@
                @*<td><a href="@Mortgagelink">View Grantor</a><input class="btn blue clsviewDetailsMortgage" type="button" value="Get Details" onclick="GetDetailsMortgage(@item.OTHAddressID,@item.SaleBookPage)" /></td>*@
                <td class="clsPrevious"><input class="btn blue clsviewdetails" type="button" value="View Details" onclick="ViewPriviousYearsdetail(@item.OTHAddressID)" /></td>
                <td class="clsProperty"><input class="btn blue clsviewdetails" type="button" value="View" onclick="ViewPropertydetail(@item.OTHAddressID)" /></td>
                <td class="clsDelete"><input class="btn blue delete" type="button" value="Delete" onclick="DeleteProperty(@item.OTHAddressID)" /></td>
            </tr>
            }
        </tbody>

    </table>
</div>



