﻿@model IEnumerable<SharkAppWeb.ViewModel.SpokioDetail>
@{
    Layout = "";
    ViewBag.Title = "CaseView";
}

        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover" id="sample_5">
                <thead>
                    <tr>
                        <th style="display:none;" class="SpokioDetailsID"></th>
                        <th>Owner Name</th>
                        <th>BirthDate</th>
                        <th>Spokeo Url</th>
                        <th>View Details</th>
                    </tr>
                </thead>
                <tbody class="clsothPropertyDetails" id="tbodyData">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="display:none;" class="clsAddressID">@item.SpokioDetailsID</td>
                            <td><a href="@Url.Action("SpokeoOwnerProfileDetail", "Home", new { spokioDetailsID=item.SpokioDetailsID, othAddressID=item.OTHAddressID})" target="_blank">@item.SpkUName</a></td>
                            <td>@item.SpkBirthDate</td>
                            <td><a href="@item.SpkUrl" target="_blank">@item.SpkUrl</a></td>
                            <td><a class="btn btn-primary" href="@Url.Action("SpokeoOwnerProfileDetail", "Home", new { spokioDetailsID=item.SpokioDetailsID, othAddressID=item.OTHAddressID})" target="_blank">View Details</a></td>
                        </tr>
                      
                    }
                </tbody>

            </table>
        </div>
