﻿@model IEnumerable<SharkAppWeb.ViewModel.BrowardTaxIsueDetails>
@{
    Layout = "";
    ViewBag.Title = "CaseView";
}

    <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover" id="sample_5">
            <thead>
                <tr>
                    <th style="display:none;" class="SearchDefendantID"></th>
                    <th style="display:none;" class="TaxDetailID"></th>
                    <th>Status</th>
                    <th>Year</th>
                    <th>Due Amount</th>
                    @*<th>Owner Name</th>
                    <th>Owner Address</th>*@
                    @*<th></th>
        <th>View Details</th>*@
                </tr>
            </thead>
            <tbody class="clsothPropertyDetails" id="tbodyData">
                @foreach (var item in Model)
    {

            <tr>
                <td style="display:none;" class="clsAddressID">@item.SearchDefendantID</td>
                <td style="display:none;" class="clsAddressID">@item.TaxDetailID</td>
                <td><a href="@Url.Action("TaxDetailBrowardCaseYear", "Home", new { TaxDetailID = item.TaxDetailID })" target="_blank">@item.CertificateStatus</a></td>
                <td>@item.SelectedYear</td>
                <td>@item.AmountPaidDue</td>

                @*// <td><a href="@item.CertificateStatus" target="_blank">@item.CertificateStatus</a></td>*@

                @*<td>@item.OwnerName</td>
                <td>@item.OwnerAddress</td>*@
            </tr>

}

            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td><label>Total Tax Due</label></td>
                    <td>
                        <label>@ViewBag.Totaldue</label>
                    </td> 
                </tr>
            </tfoot>
        </table>

     
    </div>


