﻿@model IEnumerable<SharkAppWeb.ViewModel.PalmBeachCasesSunbizDetail>
@{
    Layout = "";
    ViewBag.Title = "CaseView";
}

    <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover" id="sample_5">
            <thead>
                <tr>
                    <th style="display:none;" class="SunbizCompanyID"></th>
                    <th>Company Name</th>
                    <th>Document Number</th>
                    <th>Sunbiz Url</th>
                    <th>View Details</th>
                </tr>
            </thead>
            <tbody class="clsothPropertyDetails" id="tbodyData">
                @foreach (var item in Model)
        {
                <tr>
                    <td style="display:none;" class="clsAddressID">@item.SunbizDetailID</td>
                    @*<td><a href="@item.Defendant" target="_blank">@item.Defendant</a></td>*@
                <td><a href="@Url.Action("PalmBeachCasesSunbizOwnerDetails", "Home", new { SunbizDetailID = item.SunbizDetailID })" target="_blank">@item.CompanyName</a></td>
                    @*<td>@item.Defendant</td>*@
                    <td>@item.DirectorName</td>
                    <td width="30%"><a href="@item.url" target="_blank">@item.url</a></td>
                    <td><a class="btn btn-primary" href="@Url.Action("PalmBeachCasesSunbizOwnerDetails", "Home", new { SunbizDetailID = item.SunbizDetailID})" target="_blank">View Details</a></td>
                </tr>

}
            </tbody>

        </table>
    </div>


