﻿@model SharkAppWeb.ViewModel.OtherProperty

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-reorder"></i>Property Details
        </div>
        <div class="tools">
        </div>
    </div>
   
       
    <div class="portlet-body form">
@if (Model != null)
{

        <div class="portlet-body">
            <div class="row">
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Sale Price :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.SalePrice</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Property Sale Date :
                    </label>
                    <label class="col-sm-6">
                        <span id="Use">@Model.OthSaleDate</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Property Sale Price :
                    </label>
                    <label class="col-sm-6">
                        <span id="Use">@Model.SalePrice</span>
                    </label>
                </div>

                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Card :
                    </label>
                    <label class="col-sm-6">
                        <a href="@Model.OTHCardUrl">View Card</a>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Sketch :
                    </label>
                    <label class="col-sm-6">
                        <a href="@Model.OTHSketchUrl">View Sketch</a>
                    </label>
                </div>
            
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Eff. Year Built
                    </label>
                    <label class="col-sm-6">
                        <span id="EffYearBuilt">@Model.OTHEffYearBuilt</span>
                    </label>
                </div>
              
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Folio Id :
                    </label>
                    <label class="col-sm-6">
                        <span id="FolioId">@Model.OTHFolioId</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Site Address :
                    </label>
                    <label class="col-sm-6">
                        <span id="SiteAddressSrch">@Model.OTHSiteAddressSrch</span>
                    </label>
                </div>
                @*<div class="col-sm-12">
                        <label class="col-sm-6">
                            Property Owner :
                        </label>
                        <label class="col-sm-6">
                            <span id="PropertyOwner">@Model.OTHPropertyOwner</span>
                        </label>
                    </div>*@
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Land Factor :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.OTHLandFactor</span>
                    </label>
                </div>

                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Assessed Market value/SqFt :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">
                            @{
    string assesedMarketSqFt = ((string.IsNullOrEmpty(Model.AssedMarketSqFt) ? 0 : Math.Round((Convert.ToDouble(Model.AssedMarketSqFt.Replace(",", "").Replace("$", ""))) / (string.IsNullOrEmpty(Model.OTHAdvBldgSF) ? 1 : Convert.ToInt32(Model.OTHAdvBldgSF)), 2))).ToString();
                            }
                            $@string.Format("{0:n}", assesedMarketSqFt)
                        </span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Sale Price/SqFt :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">
                            $@Model.SalePricePrSqFt
                        </span>
                    </label>
                </div>
                @*<div class="col-sm-12">
                        <label class="col-sm-6">
                            Mailing Address :
                        </label>
                        <label class="col-sm-6">
                            <span id="LandFactor">@Model.OTHMailingAddress</span>
                        </label>
                    </div>*@
                @*<div class="col-sm-12">
                        <label class="col-sm-6">
                            Abbreviated Legal Description :
                        </label>
                        <label class="col-sm-6">
                            <span id="LandFactor">@Model.OTHAbbreviatedLegalDesc</span>
                        </label>
                    </div>*@
                @*<div class="col-sm-12">
                        <label class="col-sm-6">
                            Folio Site Url :
                        </label>
                        <label class="col-sm-6">
                            <span id="LandFactor"><a href="@Model.OTHFolioSiteLink">@Model.OTHFolioSiteLink</a></span>
                        </label>
                    </div>*@
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Units/Bed/Bath :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">
                            @Model.UnitsBEDBath
                        </span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Adv.Bldg.S.F(Card Scatch) :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.OTHAdvBldgSF</span>
                    </label>
                </div>

                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Milage :
                    </label>
                    <label class="col-sm-6">
                        <span id="LandFactor">@Model.OTHMilage</span>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Use :
                    </label>
                    <label class="col-sm-6">
                        <span id="Use">@Model.OTHSrchUse</span>
                    </label>
                </div>
     
                <div class="col-sm-12">
                    <label class="col-sm-6">
                      View Map
                    </label>
                    <label class="col-sm-6">
                        <a class="btn blue" href="@Url.Action("ShowMapOthProperty", "Home", new { OTHAddressID=@Model.OTHAddressID })">View Map</a>
                    </label>
                </div>
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Sale History
                    </label>
                    <label class="col-sm-6">
                        <input type="button" class="btn blue" onclick="SaleHistory(@Model.OTHAddressID)" value=" view Sale History" />
                    </label>
                </div>
              
                <div class="col-sm-12">
                    <label class="col-sm-6">
                        Mortgage Link
                    </label>
                    <label class="col-sm-6">
                        <a href="@Url.Action("MortgageLink", "Home")" class="btn blue">Mortgage Link</a>

                    </label>
                </div>
            </div>
        </div>

}
else
{
    <div class="portlet-body">
        <div align="center"><span style="color:red">No Property Details Found</span></div>
    </div>
}
    </div>


</div>

<!-- END EXAMPLE TABLE PORTLET-->
