﻿@model IEnumerable<SharkAppWeb.ViewModel.TwitterIndividualData>
@{
    Layout = "";
    ViewBag.Title = "CaseView";
}

    <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover" id="sample_5">
            <thead>
                <tr>
                    <th style="display:none;" class="SunbizCompanyID"></th>
                    <th>Info Link</th>
                   
                </tr>
            </thead>
            <tbody class="clsothPropertyDetails" id="tbodyData">
                @foreach (var item in Model)
        {
                <tr>
                  
                    <td width="30%"><a href="@item.TwitterBrowardLink" target="_blank">@item.TwitterBrowardLink</a></td>
                    @*<td><a class="btn btn-primary" href="@Url.Action("BrowardCasesLinkedInOwnerDetails", "Home", new { OthAddressID = item.OthAddressID})" target="_blank">View Details</a></td>*@
                </tr>

}
            </tbody>

        </table>
    </div>


