﻿@model List<SharkAppWeb.ViewModel.PCBPalmDetail>

<div>
    @if (@Model != null)
    {
        <div class="col-md-12 responsive">
            <div class="portlet-body form">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            PBC Details
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                var VPCNumber = @item.PCNumber.Replace("-", "");
                                var Viewmapurl = "http://pbcgov.com/papa/Asps/papagis/papagis.aspx?qvalue=" + VPCNumber;
                                <div class="col-md-12">
                                    <b> Property Details</b>
                                    <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="sample_1">
                                        <tr>
                                            <td><b>Mailing Address</b></td>
                                            <td><span>@item.MailingAddress</span></td>
                                        </tr>
                                        <tr>
                                            <td> <b>Parsel Control Number</b></td>
                                            <td><span>@item.PCNumber</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Subdivision</b></td>
                                            <td><span>@item.Subdivision</span></td>
                                        </tr>

                                        <tr>
                                            <td><b>Official Recor Book</b></td>
                                            <td><span>@item.OfficialBook</span></td>
                                        </tr>

                                        <tr>
                                            <td><b>Sale date</b></td>
                                            <td><span>@item.SaleDate</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Legal Description</b></td>
                                            <td><span>@item.LegalDesc</span></td>
                                        </tr>

                                        <tr>
                                            <td><b>Number of Units</b></td>
                                            <td><span>@item.Units</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Total Square Feet</b></td>
                                            <td><span>@item.TotalSqft</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Acres</b></td>
                                            <td><span>@item.Acres</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Use Code</b></td>
                                            <td><span>@item.Usecode</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>Zoning</b></td>
                                            <td><span>@item.Zoning</span></td>
                                        </tr>
                                        <tr>
                                            <td><b>View map</b></td>
                                            <td><a href="@Viewmapurl">View</a></td>
                                        </tr>
                                    </table>

                                </div>
                                <div class="col-md-12">
                                    <b>Property Sale Information</b>
                                    <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="sample_2">
                                        <tr>
                                            <th>Sale Date</th>
                                            <th>Price</th>
                                            <th>Book/Page</th>
                                            <th>Sale Type</th>
                                            <th>Owner</th>
                                        </tr>
                                        @foreach (var sale in item.PCBSaleInfo)
                                        {
                                            <tr>
                                                <td><span>@sale.SaleDate</span></td>
                                                <td><span>@sale.Price</span></td>
                                                <td><span>@sale.BookPage</span></td>
                                                <td><span>@sale.SaleType</span></td>
                                                <td><span>@sale.Owner</span></td>
                                            </tr>
                                        }
                                    </table>
                                </div>

                                <div class="col-md-12">
                                    <b>Appraisal</b>
                                    <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="sample_3">
                                        <tr>
                                            <th>Tax Year</th>
                                            <th>Improvement Value</th>
                                            <th>Land Value</th>
                                            <th>Market value</th>
                                        </tr>
                                        @foreach (var sale in item.PCBAppraisal)
                                        {
                                            <tr>
                                                <td><span>@sale.TaxYear</span></td>
                                                <td><span>@sale.ImprovementVal</span></td>
                                                <td><span>@sale.LandValue</span></td>
                                                <td><span>@sale.MarketValue</span></td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                                <div class="col-md-12">
                                    <b>Assessed and Taxable Values</b>
                                    <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="sample_4">
                                        <tr>
                                            <th>Tax Year</th>
                                            <th>Assessed Value</th>
                                            <th>Exemption Amount</th>
                                            <th>Taxable value</th>
                                        </tr>
                                        @foreach (var sale in item.PCBTaxAssesed)
                                        {
                                            <tr>
                                                <td><span>@sale.TaxAssdYear</span></td>
                                                <td><span>@sale.AssesedVal</span></td>
                                                <td><span>@sale.ExemptionAmt</span></td>
                                                <td><span>@sale.TaxableValue</span></td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                                <div class="col-md-12">
                                    <b>Taxes</b>
                                    <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="sample_5">
                                        <tr>
                                            <th>Tax Year</th>
                                            <th>Ad Valorem</th>
                                            <th>Non Ad Valorem</th>
                                            <th>Total tax</th>
                                        </tr>
                                        @foreach (var sale in item.PCBTotalTax)
                                        {
                                            <tr>
                                                <td><span>@sale.TaxesTax</span></td>
                                                <td><span>@sale.AdValorem</span></td>
                                                <td><span>@sale.NonAdValorem</span></td>
                                                <td><span>@sale.TotalTaxes</span></td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
