﻿@model IEnumerable<SharkAppWeb.Models.SearchHistory>

<div class="col-md-12 responsive">
    <div class="portlet-body form">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    Search History for : Business Name
                </div>
            </div>
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet-body">
                <div class="row">
                    @*<input type="button" id="RefreshList" value="Refresh Case List" class="btn blue" onclick="Refreshlist()" />*@
                </div>
                <div class="table-scrollable">
                    <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="sample_3">
                        <thead>
                            <tr>
                                <th style="display:none;"></th>  
                                <th>Searched Date</th>                            
                                <th>Business Name</th>
                                <th>From</th>
                                <th>To</th>                                                           
                                <th>Court Type</th>  
                                <th>View</th>    
                                <th>Delete</th>                               
                            </tr>
                        </thead>
                        <tbody>
                         @foreach (var item in Model)
                         {
                                <tr>
                                    <td style="display:none;"></td>
                                    <td>@item.SearchedDate</td>
                                    <td>@item.BusinessName</td> 
                                    <td>@String.Format("{0:dd/MM/yyyy}", @item.SearchDateFrom)</td>                                 
                                    <td>@String.Format("{0:dd/MM/yyyy}", @item.SearchDateTo)</td>                                              
                                    <td>@item.SearchCourtType</td>
                                    <td><a href="@Url.Action("SearchedDetails", "Home", new { SearchID=item.SearchID })" id="SearchVw" class="btn blue" >View</a></td>                                   
                                    <td ><a onclick="DeleteHistory(@item.SearchID)" class="icon-trash"></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
               
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>


