﻿@model List<System.Data.DataRow>
@{
    ViewBag.Title = "ViewComparision";
    Layout = "";
}
<div class="row">
    @if (Model.Count > 0)
    {
        <div class="col-md-12">
            <div class="table-scrollable">
                <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="sample_5">
                    <tbody id="tbodyAdust">
                        @{var count = 0; }
                        @foreach (var item in Model)
                        {
                            if (count == 0)
                            {
                                <tr>
                                    @for (int k = 0; k < item.ItemArray.Count(); k++)
                                    {
                                        if (k < 2)
                                        {
                                            <td>@item.ItemArray[k]</td>

                                        }

                                        else
                                        {
                                            <td>@item.ItemArray[k]<button type="button" class="bootbox-close-button close" onclick="RemoveColumn(@k)"></button></td>
                                            //<td>Adustments</td>
                                        }

                                    }


                                </tr>
                                @*<tr>
                                        @for (int k = 0; k < item.ItemArray.Count(); k++)
                                        {
                                            <td><b>@item.ItemArray[k]</b></td>

                                        }

                                    </tr>*@
                            }
                            else if (count > 0 && count <= 2)
                            {

                                <tr>
                                    @for (int k = 0; k < item.ItemArray.Count(); k++)
                                    {
                                        <td><b>@item.ItemArray[k]</b></td>

                                    }

                                </tr>
                                <tr>
                                    @for (int k = 0; k < item.ItemArray.Count(); k++)
                                    {
                                        <td></td>

                                    }

                                </tr>

                            }
                            else if (count <= 6 && count >= 3)
                            {
                                <tr>
                                    @for (int k = 0; k < item.ItemArray.Count(); k++)
                                    {

                                        if (k == 1)
                                        {
                                            <td><input type="text" id="SubAdjust-@count" class="form-control txtTextvalue" value="@item.ItemArray[k]" /><label style="display:none;" class="lblTextvalue">@item.ItemArray[k]</label></td>
                                        }
                                        else
                                        {
                                            <td>@item.ItemArray[k]</td>
                                        }
                                    }

                                </tr>
                            }
                            else if (count == 17)
                            {
                                <tr>
                                    <td></td>
                                    @*<td>View Property</td>*@
                                    @for (int k = 1; k < item.ItemArray.Count(); k++)
                                    {
                                        if (@item.ItemArray[k] != "" && @item.ItemArray[k] != null)
                                        {
                                            @*<td><a href="@item.ItemArray[k]">View Property</a></td>*@
                                        <td></td>

                                        }

                                        else
                                        {
                                            <td></td>
                                        }

                                    }

                                </tr>
                            }

                            else if (count <= 16 && count >= 11)
                            {
                                <tr>
                                    @for (int k = 0; k < item.ItemArray.Count(); k++)
                                    {


                                        if (k == 1)
                                        {
                                            <td><input type="text" id="SubAdjust-@count" class="form-control txtTextvalue" value="@item.ItemArray[k]" /><label style="display:none;" class="lblTextvalue">@item.ItemArray[k]</label></td>
                                        }
                                        else
                                        {
                                            <td>@item.ItemArray[k]</td>
                                        }
                                    }

                                </tr>
                            }

                            else
                            {
                                <tr>
                                    @for (int k = 0; k < item.ItemArray.Count(); k++)
                                    {
                                        <td>@item.ItemArray[k]</td>

                                    }

                                </tr>
                            }
                            count++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

