﻿@model SharkAppWeb.Models.LocalPasswordModel

@*<h3>Change password</h3>*@

@*@using (Html.BeginForm("Manage", "Account"))
    {*@
@Html.AntiForgeryToken()
@Html.ValidationSummary()

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            Change Password
        </div>
    </div>
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet-body form">
        <div class="form-body">

            <div class="row">
                <div class="col-md-2">
                    <label>New Password<span class="requird">*</span></label>
                </div>
                <div class="col-md-4" align="right">
                    <input type="password" class="form-control" name="txtNewPassword" id="txtNewPassword">
                </div>
                <div class="col-md-2">
                    <label>Confirm Password<span class="requird">*</span></label>
                </div>
                <div class="col-md-4" align="right">
                    <input type="password" class="form-control" name="txtConfirmPassword" id="txtConfirmPassword">
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-md-10"></div>
                <input type="button" id="btnConfirm" class="btn btn-primary" value="Change Password" />
            </div>


        </div>

    </div>
</div>



<script>
       $(document).ready(function () {
           $("#btnConfirm").click(function () {
               ChangePassword();
              
           });

             function ChangePassword() {
                 var NewPassword = $('#txtNewPassword').val();
                 var ConfirmPassword = $('#txtConfirmPassword').val();
                 if (NewPassword == "") {
                     alert("Please Enter New Password");
                     return;
                 }

                 else if (ConfirmPassword == "") {
                     alert("Please Enter Confirm Password");
                     return;
                 }

           $.ajax({
                 url: '@Url.Action("ChangePassword", "Home")',
                type: 'GET',
               contentType: "application/json; charset=utf-8",
               data: { NewPassword: NewPassword, ConfirmPassword: ConfirmPassword},
               dataType: "json",
               success: function (b) {
                   if (b == "1") {
                       alert("Password Changes Successfully!")
                       $('#txtNewPassword').val("");
                       $('#txtConfirmPassword').val("");
                       return;

                   }
                   else if (b == "2") {
                       alert("New Password and Confirm Password is not Same");
                       return;
                   }

               },

               error: function () {

               }
                           });

       }

       });


    </script>
