﻿@model SharkAppWeb.Models.LocalPasswordModel

@*<h3>Change password</h3>*@

@*@using (Html.BeginForm("Manage", "Account"))
    {*@
@Html.AntiForgeryToken()
@Html.ValidationSummary()

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            Add Admin User
        </div>
    </div>
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet-body form">
        <div class="form-body">

            <div class="row">
                <div class="col-md-2">
                    <label>User Name<span class="requird">*</span></label>
                </div>
                <div class="col-md-4" align="right">
                    <input type="text" class="form-control" name="txtUserName" id="txtUserName">
                </div>
                <div class="col-md-2">
                    <label>User Email <span class="requird">*</span></label>
                </div>
                <div class="col-md-4" align="right">
                    <input type="text" class="form-control" name="txtUserEmail" id="txtUserEmail">
                </div>


            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>User Password<span class="requird">*</span></label>
                </div>
                <div class="col-md-4" align="right">
                    <input type="password" class="form-control" name="txtUserPassword" id="txtUserPassword">
                </div>
                <div class="col-md-2">
                    <label>Phone No.</label>
                </div>
                <div class="col-md-4" align="right">
                    <input type="number" class="form-control" name="txtPhoneno" id="txtPhoneno">
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>County</label>
                </div>
                <div class="col-md-4" align="right">
                    <input type="text" class="form-control" name="txtCounty" id="txtCounty">
                </div>

                <div class="col-md-2">
                    <label>Zipcode</label>
                </div>
                <div class="col-md-4" align="right">
                    <input type="text" class="form-control" name="txtZipcode" id="txtZipcode">
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-2">
                    <label>Address</label>
                </div>
                <div class="col-md-4" align="right">

                    <textarea type="text" class="form-control" name="txtAddress" id="txtAddress"></textarea>
                </div>
            </div>
            <br />
            <div class="row">
                @*<div class="col-md-1"></div>*@
                <div class="col-md-9">
                    
                </div>
                @*<div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>*@
                
                <input typce="button" id="btnSubmit" class="btn btn-primary" value="Add User" />
                <input type="button" id="btnReset" class="btn btn-primary" value="Reset" />

            </div>
            <br/>


            <div class="row">
                <div class="col-md-12 responsive">
                    <div class="portlet-body form">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                   Admin User Detail's'
                                </div>
                            </div>
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet-body">
                                @*<div class="table-scrollable">

                        </div>*@

                                <div class="block messages scrollBox">
                                    <div class="scroll block-fluid table-sorting clearfix">
                                        <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="sample_PLM_5">
                                            <thead>
                                                <tr>

                                                    @*<th>Select <input type="checkbox" class="clscheckboxAll" id="clscheckboxAll" onclick="SelectAll(this)" /></th>*@
                                                    @*<th>View Map</th>*@
                                                    @*<th>SunbizCompanyID</th>*@
                                                    <th>User Name</th>
                                                    <th>User Email</th>
                                                    <th>Phone No.</th>
                                                    <th>User County</th>
                                                    <th>User Zipcode</th>
                                                    <th>User Address</th>

                                                </tr>
                                            </thead>
                                            <tbody id="tbodyData"></tbody>



                                        </table>




                                    </div>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                        <!-- END PAGE CONTENT-->
                    </div>
                </div>
            </div>


            </div>

    </div>
</div>



<script>
       $(document).ready(function () {
           $("#btnSubmit").click(function () {
               AddUser();
              
           });

           $("#btnReset").click(function () {
               $('#txtUserName').val("");
               $('#txtUserEmail').val("");
               $('#txtUserPassword').val("");
               $('#txtPhoneno').val("");
               $('#txtCounty').val("");
               $('#txtZipcode').val("");
               $('#txtAddress').val("");

           });


             function AddUser() {
                 var username = $('#txtUserName').val();
                 var useremail = $('#txtUserEmail').val();
                 var password = $('#txtUserPassword').val();
                 var phoneno = $('#txtPhoneno').val();
                 var county = $('#txtCounty').val();
                 var zipcode = $('#txtZipcode').val();
                 var address = $('#txtAddress').val();

                 if (username == "") {
                     alert("Please Enter User Name");
                     return;
                 }

                 else if (useremail == "") {
                     alert("Please Enter User Email");
                     return;
                 }
                 else if (password == "") {
                     alert("Please Enter Password");
                     return;
                 }
                
                

           $.ajax({
                 url: '@Url.Action("AddAdminuserSave", "Home")',
                type: 'GET',
               contentType: "application/json; charset=utf-8",
               data: { username: username, useremail: useremail, password: password, phoneno: phoneno, county: county, zipcode: zipcode, address: address},
               dataType: "json",
               success: function (b) {
                   if (b == "1") {
                       alert("Admin User Added Successfully!")
                       $('#txtUserName').val("");
                       $('#txtUserEmail').val("");
                       $('#txtUserPassword').val("");
                       $('#txtPhoneno').val("");
                       $('#txtCounty').val("");
                       $('#txtZipcode').val("");
                       $('#txtAddress').val("");
                       return;
                       
                   }
                   else  {
                       alert("Error in Adding Admin User");
                       return;
                   }

               },

               error: function () {

               }
                           });

       }

       });


    </script>
