﻿@{
    ViewBag.Title = "BCPAAddressByCase";
}

<div class="row">

    

    <div class="col-md-12">

        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>BCPA Case Serach Result
                </div>
                <div class="tools">
                </div>
            </div>

            <div class="portlet-body ">
                <div class="row" id="dvFolio">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label col-md-4">Select Search date</label>
                            <div class="col-md-4">
                                <input type="text" id="txtSrchDate" class="form-control date-picker" />
                                <span id="spnFolioNumber" class="help-block has-error" style="color:red;"></span>
                            </div>
                            <div class="col-md-4">
                                <input type="button" class="btn blue" onclick="GetAddressCase()" value="Get Address"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="dvcaseNumber">
                    @{Html.RenderAction("CaseNumberSearch", "Home");}
                </div>
                   
              
            </div>
        </div>

    </div>
</div>
<a href="#myModal4" data-toggle="modal" id="anchorcase" class="anchor1"></a>
<div id="myModal4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModal4" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" style="font-weight:bold;">Message</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div id="dvcasedetials">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="close" data-dismiss="modal" class="btn blue" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    function GetAddressCase() {

        var Searchdate = $("#txtSrchDate").val();

        $('.loading').show();
        $.ajax({
            url: String('@Url.Action("GetSaveCaseAddress", "Home")'),
            type: "POST",
            data: { Searchdate: Searchdate },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {

                $('#dvcasedetials').html(data);
                $("#anchorcase")[0].click();
               // $("#dvcaseNumber").html("");
               // $("#dvcaseNumber").html(data);
               // $('#sample_5').dataTable({
               //     "lengthMenu": [
               //[5, 15, 20, -1],
               //[5, 15, 20, "All"] // change per page values here
               //     ],
               //     // set the initial value
               // });
            },
            error: function () { alert('error in Process'); }
        });

    }
</script>
