﻿@{
    ViewBag.Title = "BrowardProperty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <h4>
                    <b>Property Search </b>
                </h4>

            </div>
           
        </div>

        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>Search Broward Property
                </div>
                <div class="tools">
                </div>
            </div>

            <div class="portlet-body form">
                <div class="form-body">
                    <div class="row">
                        
                            <div class="col-md-8"> 
                                <div class="col-md-4">
                                    <label><b>Search Type By</b></label>
                                </div>   
                                <div class="form-group">                                   
                                    <div class="col-md-4">
                                        <label> <input type="radio" id="radFolio" class="form-control radFolio" value="1" name="RadFolio" checked="checked" />Folio Number</label>
                                    </div>                                 
                                    <div class="col-md-4">
                                        <label><input type="radio" id="radPrAddress" class="form-control radFolio" value="2" name="RadFolio" />Property Address</label>
                                    </div>
                                </div>
                                </div>
                        <input type="hidden" id="hdnRadioValue" value="1" />
                        </div>
                    <br />
                    <div class="row" id="dvFolio">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label col-md-6" >Folio Number</label>
                                <div class="col-md-6">
                                    <input type="text" id="txtFolioNumber" class="form-control" />
                                    <span id="spnFolioNumber" class="help-block has-error" style="color:red;"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row" id="dvProperty" style="display:none;">
                      
                        <div class="col-md-8">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Street Number</label>
                                        <div class="col-md-8">
                                            <input type="text" id="txtStreetNumber" class="form-control" />
                                            <span id="spnStreetNumber" class="help-block has-error" style="color:red;"></span>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Street Direction</label>
                                        <div class="col-md-8">
                                            <input type="text" id="txtStreetDirection" class="form-control" />
                                            <span id="spnStreetDirection" class="help-block has-error" style="color:red;"></span>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Street Name</label>
                                        <div class="col-md-8">
                                            <input type="text" id="txtStreetName" class="form-control" />
                                            <span id="spnStreetName" class="help-block has-error" style="color:red;"></span>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Street Type</label>
                                        <div class="col-md-8">
                                            <input type="text" id="txtStreetType" class="form-control" />
                                            <span id="spnStreetType" class="help-block has-error" style="color:red;"></span>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Post Direction</label>
                                        <div class="col-md-8">
                                            <input type="text" id="txtPostDirection" class="form-control" />
                                            <span id="spnPostDirection" class="help-block has-error" style="color:red;"></span>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Unit Number</label>
                                        <div class="col-md-8">
                                            <input type="text" id="txtUnitNumber" class="form-control" />
                                            <span id="spnUnitNumber" class="help-block has-error" style="color:red;"></span>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Street City</label>
                                        <div class="col-md-8">
                                            <input type="text" id="txtStreetCity" class="form-control" />
                                            <span id="spnStreetCity" class="help-block has-error" style="color:red;"></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        </div>
                </div>
                <div class="form-actions " id="divsearch">
                    <div align="right">
                        <input type="button" class="btn blue" id="searchFolio" onclick="btnsearchFolio()" value="Search Property" />
                    </div>
                </div>
            </div>
        </div>
        @*<div class="portlet box blue" style="display:none;">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-reorder"></i>Search Broward Property
                    </div>
                    <div class="tools">
                    </div>
                </div>

                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-md-6" id="lblKRAEmployee">Enter property Address</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtpropertyaddrs" class="form-control" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions " id="divsearch">
                        <div align="right">
                            <input type="button" class="btn blue" id="searchproperty" onclick="btnsearchproperty()"  value="Search Property" />
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="row" align="right">
            <div class="col-md-12">
                <input type="button" id="btnExportExcel" onclick="tableToExcel('sample_5', 'SampleTable')" class="btn blue" value="Export To Excel" />
            </div>
        </div>
        <br />
        <div class="row" id="clsPropertyDetails">
            @{Html.RenderAction("ShowPropertyList", "Home");}
        </div>
        @*<div class="row" id="clsPropertyDetails">
                @{Html.RenderAction("GetPropertiesDetails", "Home");}
            </div>*@
    </div>
</div>

<a class="link" href="#myModal41" data-toggle="modal" title="Login" id="popupviewdata"></a>
<div id="myModal41" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog" style="width: 67% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <center>Previous Year Details</center> <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-10">
                            <div class="row" id="clsPropertyList">
                            </div>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a class="link" href="#myModal4Pr" data-toggle="modal" title="Login" id="popupProperty"></a>
<div id="myModal4Pr" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 id="spnMessage"></h4>
            </div>
            <div class="modal-body">
                <div id="dvPropertyDetails">

                </div>
            </div>
        </div>
    </div>
</div>
@*<a class="link" href="#myModalCompare" data-toggle="modal" title="Login" id="popupCompare"></a>
    <div id="myModalCompare" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close closebutton" data-dismiss="modal" aria-hidden="true"></button>
                    <h4>Compare property</h4>
                </div>
                <div class="modal-body">
                    <form id="FolioIDform" method="post" enctype="multipart/form-data">
                        <input type="hidden" id="hdnAddressToID" name="hdnAddressToID" />
                        <div id="dvPropertyCompare">

                        </div>

                        <div class="modal-footer">
                            <div class="right">
                                <a id="btnCompare" class="btn blue" onclick="CompareProperties()" sty>Compare Properties</a>
                                <input type="button" class="btn blue" id="btnSubmitFields" onclick="SubmitFields()" value="Submit" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>*@

<a href="#myModaldelete" id="popupdelete" data-toggle="modal"></a>
<div id="myModaldelete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel122" aria-hidden="true">
    <div class="modal-dialog" style="max-width:400px;min-height:50%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnSuccess"></button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hdnAddressID" />
                <span id="deleteMsg" name="deleteMsg"></span>
            </div>
            <div class="modal-footer">
                <button class="btn blue btnok" id="btnok" data-dismiss="modal" aria-hidden="true">Ok</button>
                <button class="btn default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <input type="hidden" id="hdnAddressID" />
            </div>
        </div>
    </div>
</div>

<a href="#myModalMessage" id="popupMessage" data-toggle="modal"></a>
<div id="myModalMessage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel122" aria-hidden="true">
    <div class="modal-dialog" style="max-width:400px;min-height:50%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnSuccess"></button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
              
                <span id="spnMessagetext" name="spnMessage"></span>
            </div>
            <div class="modal-footer">
                <button class="btn blue " data-dismiss="modal" aria-hidden="true">Ok</button>
                <button class="btn default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <input type="hidden" id="hdnAddressID" />
            </div>
        </div>
    </div>
</div>
<script>
    function CompareProperties() {
        var _AdressId = $("#hdnAddressToID").val();
        var _url = 'ViewComparision?AddressID=' + _AdressId;@*// '@Url.Action("ViewComparision", "Home", new { AddressID = _AdressId })';*@
        window.location.href = _url;
    }
    function SubmitFields() {

        debugger;
        var formData = new FormData($("#FolioIDform")[0]);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("SaveSearchCmpFolio", "Home")',
            contentType: false,
            processData: false,
            data: formData,
            dataType: "json",
            async: false,
            success: function (data) {
                $("#spnMessage").text("Message");
                if (data == "Success") {
                    var _html = "<span>Property Search and Save completed successfuly.</span>"
                    $("#dvPropertyDetails").html(_html);

                }
                else {
                    var _html = "<span>Enter another Folio ID for compare.</span>"
                    $("#dvPropertyDetails").html(_html);
                }
                $(".closebutton")[0].click();
                $("#popupProperty")[0].click();

            },
            error: function (xhr) {
                alert(xhr);
            },
            cache: false,
            contentType: false,
            processData: false
        });
    }

    function AddFolioIdField(control) {
        debugger;
        var ctrl = control.parent().parent().parent().parent();
        var id = control.parent().parent().parent().attr('id');
        id++;

        if ($("#" + id).length) {
        }
        else {
            var html = "<div class='row clsFolio' id='" + id + "'><div class='col-md-4' style='margin-left:0px;'><div class='form-group'>";
            html += "<label>Enter Folio ID</label></div>";
            html += "</div><div class='col-md-6'><div class='form-group'>";
            html += "<input type='text' id='txtFolioId' name='txtFolioId'  class='form-control' style='margin-left:10px;width:218px;' /> <span class='spntxtFolioId' style='color:red;'></span></div></div>";
            html += "<div class='col-md-2' style='margin-left:0px;'><div class='form-group'><a onclick='AddFolioIdField($(this))'  class='btn blue icon icon-plus'></a>";
            html += "</div></div></div>";
            ctrl.after().append(html);
        }
    }

    function Comparefolio(evt) {

        var _AddressID = evt;
        $("#hdnAddressToID").val(_AddressID);
        // debugger;
        $.ajax({
            url: '@Url.Action("GetFolioForm", "Home")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            // dataType: 'json',
            data: JSON.stringify({ 'AddressID': _AddressID }),
            async: false,
            success: function (data) {

                $("#dvPropertyCompare").html(data);
                $("#popupCompare")[0].click();
            },
            error: function (xhr) {
                debugger;
                alert('error in Process');
            }
        });
    }

    function GetDetailsMortgage(evt, Mortgagelink) {
        var _AddressID = evt;
       
        $.ajax({
            url: '@Url.Action("GetandSaveMortgage", "Home")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            // dataType: 'json',
            data: JSON.stringify({ 'AddressID': _AddressID, 'MortgageCFN': Mortgagelink }),
            async: false,
            success: function (data) {

                $("#dvPropertyCompare").html(data);
                $("#popupCompare")[0].click();
            },
            error: function (xhr) {
                debugger;
                alert('error in Process');
            }
        });
    }


    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
  , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
  , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
  , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            var modifiedTable = $("#sample_5").clone();
            modifiedTable.find('.clsFolioId,.clsAddressID,.clsbtnCompare,.clsPrevious,.clsProperty,.clsDelete,.clsviewDetailsMortgage').remove();

            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: modifiedTable.html() }
            window.location.href = uri + base64(format(template, ctx))
        }
    })()

    $("#txtFolioNumber").keypress(function () {
        $("#spnFolioNumber").html("");
        $("#txtFolioNumber").css({ "border-color": "#E5E5E5" });
    })
    $("#txtProperty").keypress(function () {
        $("#spnproperty").html("");
        $("#txtProperty").css({ "border-color": "#E5E5E5" });
    })

    $(".radFolio").change(function () {
        $("#hdnRadioValue").val($(this).val());
        $("#spnproperty").html("");
        $("#txtProperty").css({ "border-color": "#E5E5E5" });
        $("#spnFolioNumber").html("");
        $("#txtFolioNumber").css({ "border-color": "#E5E5E5" });
        if ($(this).val() == 1) {
            $("#dvFolio").css("display", "block");
            $("#dvProperty").css("display", "none");
        }
        else {
            $("#dvFolio").css("display", "none");
            $("#dvProperty").css("display", "block");
        }

    });
    //radPrAddress

    function btnsearchFolio() {
        var _radioval = "";

        _radioval = $("#hdnRadioValue").val();
        if (_radioval == "") {
            _radioval = 1;
        }
        debugger;
        var haserror = false;
        var FolioID = "";
        if (_radioval == 1) {
            FolioID = $("#txtFolioNumber").val();
            if (FolioID == "") {
                $("#spnFolioNumber").html('Folio number is required');
                $("#txtFolioNumber").css({ "border-color": "Red" });
                $("#txtFolioNumber").focus();
                haserror = true;
            } else {
                $("#spnFolioNumber").html("");
                $("#txtFolioNumber").css({ "border-color": "#E5E5E5" });
            }
        }
        else {

            var txtStreetNumber = $("#txtStreetNumber").val();
            var StreetName1 = $("#txtStreetName").val();
            if (txtStreetNumber == "" && StreetName1 == "") {
                $("#spnMessagetext").text('street number or Street Name is required');
                $("#txtStreetName").css({ "border-color": "Red" });
                $("#txtStreetNumber").css({ "border-color": "Red" });
                $("#txtStreetNumber").focus();
                haserror = true;
                $('#myModalMessage').modal('show');
            }else {
                $("#spnStreetNumber").html("");
                $("#txtStreetNumber").css({ "border-color": "#E5E5E5" });
                $("#txtStreetName").css({ "border-color": "#E5E5E5" });
            }

            var StreetNumber = $.trim($("#txtStreetNumber").val());
            var StreetDirection = $.trim($("#txtStreetDirection").val());
            var StreetName = $.trim($("#txtStreetName").val());
            var StreetType = $.trim($("#txtStreetType").val());
            var PostDirection = $.trim($("#txtPostDirection").val());
            var UnitNumber = $.trim($("#txtUnitNumber").val());
            var StreetCity = $.trim($("#txtStreetCity").val());
            FolioID = StreetNumber + "," + StreetDirection + "," + StreetName + "," + StreetType + "," + PostDirection + "," + UnitNumber + "," + StreetCity;
        }
        if (haserror == true) {
            return false;
        }
        else {
            $('.loading').show();
            $.ajax({
                url: String('@Url.Action("SearchByFolioID", "Home")'),
                type: "POST",
                data: { FolioID: FolioID, Radiovalue: _radioval },
                traditional: true,
                ajaxStart: function () { $('.loading').show(); },
                complete: function () { $('.loading').hide(); },
                success: function (data) {
                    if (data == "Success") {
                        $("#txtFolioNumber").val("");
                        $("#spnMessage").text("Message");
                        var _html = "<span>Property search and save by folio number completed successfuly.</span>"
                        $("#dvPropertyDetails").html(_html);
                        $("#popupProperty")[0].click();
                    } else {
                        alert(data);
                    }
                    SearchPropertyList();
                },
                error: function () { alert('error in Process'); }
            });
        }
    }

    function btnsearchproperty() {
        var _Address = $("#txtpropertyaddrs").val();
        $.ajax({
            url: String('@Url.Action("SearchByProperty", "Home")'),
            type: "POST",
            data: { PropertyAddress: _Address },
            traditional: true,
            success: function (data) {
            },
            error: function () { alert('error in Process'); }
        });
    }

    function SearchPropertyList() {
        $('.loading').show();
        $.ajax({
            url: String('@Url.Action("ShowPropertyList", "Home")'),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            async: false,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $("#clsPropertyDetails").html('');
                $("#clsPropertyDetails").html(data);
                TableManaged.init();
            },
            error: function () { alert('error in Process'); }
        });
    }


    function ViewPriviousYearsdetail(AddressID) {
        $('.loading').show();
        $.ajax({
            url: String('@Url.Action("GetPriviousYearsDetails", "Home")'),
            type: "POST",
            data: { AddressID: AddressID },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $("#clsPropertyList").html('');
                $("#clsPropertyList").html(data);
                $("#popupviewdata")[0].click();
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }

    function ViewPropertydetail(AddressID) {
        $('.loading').show();
        $.ajax({
            url: String('@Url.Action("GetPropertiesDetails", "Home")'),
            type: "POST",
            data: { AddressID: AddressID },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $("#dvPropertyDetails").html(data);
                $("#popupProperty")[0].click();
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }
    $("#btnok").click(function () {
        $('.loading').show();
        var AddressID = $("#hdnAddressID").val();
        $.ajax({
            url: '@Url.Action("DeleteProperty", "Home")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: 'JSON',
            data: JSON.stringify({ 'AddressID': AddressID }),
            async: false,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                SearchPropertyList();
                $("#deleteMsg").html(data);
                $("#popupdelete")[0].click();
            },
            error: function () {
                $("#deleteMsg").html('Something went wrong, try again!');
                $("#popupdelete")[0].click();
                data = false;
            }
        });
    })
    function DeleteProperty(AddressID) {
        $("#hdnAddressID").val(AddressID);
        $("#deleteMsg").html('Are you sure you want to delete Property ?.');
        $("#popupdelete")[0].click();
    }


    @*function DeleteProperty(AddressID) {

        $.ajax({
            url: '@Url.Action("DeleteProperty", "Home")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: 'JSON',
            data: JSON.stringify({ 'AddressID': AddressID }),
            async: false,
            success: function (data) {
                SearchPropertyList();
                $("#deleteMsg").html(data);
                $("#popupdelete")[0].click();
            },
            error: function () {
                $("#deleteMsg").html('Something went wrong, try again!');
                $("#popupdelete")[0].click();
                data = false;
            }
        });
    }*@
</script>