﻿@model SharkAppWeb.ViewModel.BrowardCasesLinkedIntable
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CaseView";
}

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-reorder"></i>Owner's Details
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body form">
        <div class="form-body">
            <div class="row">
                <div class="col-md-2"><b>Owner Name</b></div>
                <div class="col-md-4">@Model.OwnerName</div>
                <div class="col-md-2"><b>Owner Company</b></div>
                <div class="col-md-4">@Model.OwnerCompany</div>
            </div>
            <div class="row">

                <div class="col-md-2"><b>Owner Profile</b></div>
                <div class="col-md-4">@Model.OwnerProfile</div>
                <div class="col-md-2"><b>Owner ContactInfo</b></div>
                <div class="col-md-4"><a href="@Model.OwnerContactinfoIink" target="_blank">Click to navigate</a></div>
            </div>
            @*<div class="row">
              
               
            </div>*@
        
        </div>
        </div>
    </div>


<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-reorder"></i>Other Detail's
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body form">
        <div class="form-body">
            <div class="row">
                <div class="col-md-2"><b>Owner Schooling</b></div>
                <div class="col-md-4">@Model.OwnerSchooling</div>
                <div class="col-md-2"><b>Owner Location</b></div>
                <div class="col-md-4">@Model.OwnerLocation</div>
            </div>
            @*<div class="row">
             

            </div>*@
           
        </div>
    </div>
</div>

