﻿@{
    ViewBag.Title = "BulkEmails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form input[type=text] {
        border: 1px solid #e5e5e5 !important;
    }
</style>


    
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    Bulk Emails Filter
                </div>
            </div>
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet-body form">
                <div class="form-body">

                    <div class="row">
                        <div class="col-md-2">
                            <label>Filter By</label>
                        </div>
                        <div class="col-md-10" align="right">
                            
                        </div>
                        <br />
                        <br />
                    </div>
                    <div class="form-group">
                            <div class="col-md-12">

                                <div class="col-md-3">
                                    <label>Property Type</label>
                                </div>
                                <div class="col-md-3">
                                    <select id="ddlPropertyType" name="ddlPropertyType" class="form-control ">
                                        <option value="0">Choose Property Type</option>
                                        @if (ViewBag.PropertyType != null && ((List<SharkAppWeb.ViewModel.UseCodeCategory>)ViewBag.PropertyType).Count > 0)
                                        {
                                            foreach (var item in ((List<SharkAppWeb.ViewModel.UseCodeCategory>)ViewBag.PropertyType))
                                            {
                                                <option value="@item.UseCodeCategoryID">@item.UseCodeCategoryName</option>
                                            }
                                        }
                                    </select>
                                   
                                </div>
                                
                            </div>

                        </div>
                    <div class="row">
                        <div class="col-md-5" style="border-right:1px solid #e5e5e5;">
                            <div class="row">

                                <div class="col-md-4">
                                    <label>Assesed Value</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" id="txtAssesedFrom" class=" txtAssesedFrom" placeholder="Min" style="width:41%;" />
                                    <span style="padding:1%;">to</span>
                                    <input type="text" id="txtAssesedTo" class=" txtAssesedTo" placeholder="Max" style="width:41%;" />
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-4">
                                    <label>Land Factor</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" id="txtLandFactorFrom" class=" txtLandFactorFrom" placeholder="Min" style="width:41%;" />
                                    <span style="padding:1%;">to</span>
                                    <input type="text" id="txtLandFactorTo" class=" txtLandFactorTo" placeholder="Max" style="width:41%;" />
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label>Bedroom</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" id="txtBedroomMin" class=" txtBedroomMin" placeholder="Min" style="width:41%;" />
                                    <span style="padding:1%;">to</span>
                                    <input type="text" id="txtBedroomMax" class=" txtBedroomMax" placeholder="Max" style="width:41%;" />
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label>Bathroom</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" id="txtBathroomMin" class=" txtBathroomMin" placeholder="Min" style="width:41%;" />
                                    <span style="padding:1%;">to</span>
                                    <input type="text" id="txtBathroomMax" class=" txtBathroomMax" placeholder="Max" style="width:41%;" />
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Units</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" id="txtUnitsMin" class=" txtUnitsMin" placeholder="Min" style="width:41%;" />
                                    <span style="padding:1%;">to</span>
                                    <input type="text" id="txtUnitsMax" class=" txtUnitsMax" placeholder="Max" style="width:41%;" />
                                </div>

                            </div>

                        </div>

                        <div class="col-md-3">
                            <div class="row">

                                <div class="col-md-5">
                                    <label>Zip Code</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" id="txtZipcode" class="txtZipcode" />
                                </div>


                            </div>
                        </div>

                        <div class="col-md-4">
                        </div>
                    </div>
                </div>
                @*<div class="form-actions">
                    <div class="right">
                        <input type="button" id="btnFilterbyAssesed" class="btn blue" value="Filter" />
                               
                               @*onclick="FilterbyAssesed()" />*@

                    @*</div>
                </div>*@
            </div>
        </div>
    
    <div id="dvEmails">
        @{Html.RenderPartial("_BulkEmailList", (List<string>)ViewBag.EmailList);}
    </div>


<script>
    function SendBulkEmails()
    {
        $('.loading').show();
        var emails = $('#txtEmails').text();
        $.ajax({
            url: String('@Url.Action("SendBulkEmail", "Home")'),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'Emails': emails }),
            async: false,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $('#lblMessage').text(data[0]+ ' emails sent successfully with '+data[1]+' failure.');
            },
            error: function () { alert('error in Process'); }
        });
    }

    function FilterbyAssesed() {
        isFilter = false;
        GetFilteredResult();
    }

       function GetFilteredResult() {
        $('.loading').show();
        //var UseCodeCategoryID = $('#ddlPropertyType').val();
        var UseCodeCategoryID = $("#hdnTabId").val();
        //var chkResidential = $("input[type='radio'][name='Residential']:checked").val();
        var SubTabId = $("#hdnSubTabId").val();
        var SubTab = $("#hdnSubTab").val();
        var AssesedFrom = $.trim($("#txtAssesedFrom").val().replace(/,/g, ''));
        var AssesedTo = $.trim($("#txtAssesedTo").val().replace(/,/g, ''));
        var LandFactorFrom = $.trim($("#txtLandFactorFrom").val().replace(/,/g, ''));
        var LandFactorTo = $.trim($("#txtLandFactorTo").val().replace(/,/g, ''));
        var Zipcode = $.trim($("#txtZipcode").val().replace(/,/g, ''));
        var UnitsMin = $.trim($("#txtUnitsMin").val().replace(/,/g, ''));
        var UnitsMax = $.trim($("#txtUnitsMax").val().replace(/,/g, ''));
        var BedroomMin = $.trim($("#txtBedroomMin").val().replace(/,/g, ''));
        var BedroomMax = $.trim($("#txtBedroomMax").val().replace(/,/g, ''));
        var BathroomMin = $.trim($("#txtBathroomMin").val().replace(/,/g, ''));
        var BathroomMax = $.trim($("#txtBathroomMax").val().replace(/,/g, ''));

        $.ajax({
            url: String('@Url.Action("FiltersINPalmBeach", "Home")'),
            type: "POST",
            data: { UseCodeCategoryID: UseCodeCategoryID, SubTabId: SubTab, AssesedFrom: AssesedFrom, AssesedTo: AssesedTo, LandFactorFrom: LandFactorFrom, LandFactorTo: LandFactorTo, Zipcode: Zipcode, UnitsMin: UnitsMin, UnitsMax: UnitsMax, BedroomMin: BedroomMin, BedroomMax: BedroomMax, BathroomMin: BathroomMin, BathroomMax: BathroomMax },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $("#dvTabs").html("");
                $("#dvTabs").html(data);
                $("#hdnTabId").val(UseCodeCategoryID);
                $("#hdnSubTabId").val(SubTabId);
                $("#hdnSubTab").val(SubTab);
                debugger;
                $('#PropertyTab li').removeClass('active');
                var liTabActive = 0;
                var liSubTabActive = 0;

                if (UseCodeCategoryID == 1) {
                    liTabActive = 0;
                    liSubTabActive = 1;
                }
                if (UseCodeCategoryID == 2) {
                    liTabActive = 1;
                    liSubTabActive = 2;
                }
                if (UseCodeCategoryID == 3) {
                    if (SubTabId == 'Tab01') {
                        liTabActive = 3;
                        liSubTabActive = 4;
                    }
                    else {
                        liTabActive = 2;
                        liSubTabActive = 3;
                    }
                }
                if (UseCodeCategoryID == 4) {
                    liTabActive = 3;
                    liSubTabActive = 1;
                }
                if (UseCodeCategoryID > 4) {
                    liTabActive = UseCodeCategoryID - 1;
                    liSubTabActive = 1;
                }



                if (SubTabId == 'Tab01') {
                    if (UseCodeCategoryID == 4) {
                        $('#PropertyTab li:eq(' + liTabActive + ')').addClass('active');
                        $('.tab-content .tab-pane').removeClass('active');
                        $('#tab_04').addClass('active');
                        $('#PropertyTab1 li').removeClass('active');
                        $('#PropertyTab1 a').parent('li').addClass('active');
                        $('#PropertyTab1 a').trigger('click');
                        $('#tab_041').addClass('active');
                    }
                    else if (UseCodeCategoryID > 4) {
                        $('#PropertyTab li:eq(' + liTabActive + ')').addClass('active');
                        $('.tab-content .tab-pane').removeClass('active');
                        $('#tab_00').addClass('active');
                        $('#PropertyTab li:eq(' + liTabActive + ') a').trigger('click');
                    }
                    else {
                        $('#PropertyTab li:eq(' + liTabActive + ')').addClass('active');
                        $('.tab-content .tab-pane').removeClass('active');
                        $('#tab_04').addClass('active');

                        $('#PropertyTab1 li').removeClass('active');
                        $('a#' + UseCodeCategoryID).parent('li').addClass('active');
                        $('a#' + UseCodeCategoryID).trigger('click');
                        $('#tab_041').addClass('active');
                    }
                }
                else {
                    $('#PropertyTab li:eq(' + liTabActive + ')').addClass('active');
                    $('.tab-content .tab-pane').removeClass('active');
                    $('#tab_0' + liSubTabActive).addClass('active');
                    $('#PropertySubTab_0' + liSubTabActive + ' li').removeClass('active');
                    if (SubTabId == '01*') {
                        $('#PropertySubTab_0' + liSubTabActive + ' li:eq(2)').addClass('active');
                        $('#PropertySubTab_0' + liSubTabActive + ' li:eq(2) a').trigger('click');
                    }
                    else {
                        $('#PropertySubTab_0' + liSubTabActive + ' a#' + SubTabId).parent('li').addClass('active');
                        $('#PropertySubTab_0' + liSubTabActive + ' a#' + SubTabId).trigger('click');
                    }
                    $('#tab_0' + liSubTabActive + '1').addClass('active');
                }
                //$('.tab-pane li').removeClass('active');
                //$('#' + UseCodeCategoryID).addClass('active');
                isFilter = true;

            },
            error: function () { alert('error in Process'); }
        });
    }
</script>