﻿@model SharkAppWeb.Models.LocalPasswordModel

@*<h3>Change password</h3>*@

@*@using (Html.BeginForm("Manage", "Account"))
    {*@
@Html.AntiForgeryToken()
@Html.ValidationSummary()

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            Change Password
        </div>
    </div>
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet-body form">
        <div class="form-body">

            <div class="row">
                <div class="col-md-2">
                    Admin User*
                </div>
                <div class="col-md-4">
                    <select class="form-control" id="ddlAdminPassword" name="ddlAdminPassword"  valuefield="Id" textfield="Name" blankRowValue="0" blankRowText="--Select--"></select>
                </div>
                <div class="col-md-2">
                    <label>New Password<span class="requird">*</span></label>
                </div>
                <div class="col-md-4" align="right">
                    <input type="password" class="form-control" name="txtNewPassword" id="txtNewPassword">
                </div>
                @*<div class="col-md-2">
                    <label>Confirm Password<span class="requird">*</span></label>
                </div>
                <div class="col-md-4" align="right">
                    <input type="password" class="form-control" name="txtConfirmPassword" id="txtConfirmPassword">
                </div>*@

            </div>
            <br />
            <div class="row">
                <div class="col-md-10"></div>
                <input type="button" id="btnConfirm" class="btn btn-primary" value="Change Password" />
            </div>


        </div>

    </div>
</div>



<script>
    $(document).ready(function () {
      //callServiceMethodForDDl("", "Default", "GetAdminUserPasswordChange", "ddlAdminPassword", false, "", "", "", "");
       GetDropDownAdminData();
        $("#btnConfirm").click(function () {
               ChangePassword();
              
           });

             function ChangePassword() {
                 var AdminUser = $('#ddlAdminPassword').val();
                 var NewPassword = $('#txtNewPassword').val();
                 if (AdminUser == 0) {
                     alert("Please Select Admin User");
                     return;
                 }

                else  if (NewPassword == "") {
                     alert("Please Enter New Password");
                     return;
                 }

           $.ajax({
                 url: '@Url.Action("AdminChangePassword", "Home")',
                type: 'GET',
               contentType: "application/json; charset=utf-8",
               data: { AdminUser:AdminUser,NewPassword: NewPassword},
               dataType: "json",
               success: function (b) {
                   if (b == "1") {
                       alert("Password Changes Successfully!")
                       $('#ddlAdminPassword').val(0);
                       $('#txtNewPassword').val("");
                       return;

                   }
                   else {
                       alert("Error in Saving Password");
                       return;
                   }

               },

               error: function () {

               }
                           });

           }



           function GetDropDownAdminData() {
            $.ajax({
            url: '@Url.Action("GetAdminUserPasswordChange", "Home")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({}),
            async: false,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
                success: function (data) {
             
                    var dt = data;
                    $('#ddlAdminPassword').empty();
                    var ddlobj = $('#ddlAdminPassword');
                    var options = "";
                    var serviceArray = new Array(dt.data);
                    var newArray = serviceArray[0];
                    options += '<option value="0">--Select--</option>';
                    for (var i = 0; i < newArray.length; i++) {

                       /// options += "<option value='" + sourceListObject.List[i][sourceListTextFieldName] + "'>" + sourceListObject.List[i][sourceListTextFieldName] + "</option>\r\n";
                    
                        options += '<option value="' + newArray[i].UserId + '">' + newArray[i].UserName + '</option>';
                    }

                    $('#ddlAdminPassword').html(options);
                    //var items = ""; var selected = "";
                    //for (var i = 0; i < dt.length; i++) {
                    //    items += "<option values='"+dt[i].value + "'>" + dt[i].Text + "</options>";
                    //}
                    ddlobj.html(options).show();
                    //ddlobj.val(selected);
                    //$(list).each(function (index, o) {
                    //    alert(o.UserId);
                    //    $("#ddlAdminPassword").append($("<option></option>").val(value.UserId).html(value.UserName));
                    //});
                    //$("#ddlAdminPassword").append($("<option/>").val(this.UserId).text(this.UserName));
                
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
           }

       });


    </script>
