﻿@{
    ViewBag.Title = "Home Page";
}
<style>
    .dim {
        height: 100%;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1000 !important;
        background-color: rgba(255,255,255,.5);
    }
</style>
<div class="row">
    @*<div class="col-md-12" align="right">
            <a href="@Url.Action("BrowardDocReport", "Home")" id="GetAssessedValue" class="btn blue">Document Type Application</a>
            <a href="@Url.Action("BrowardProperty", "Home")" id="GetAssessedValue" class="btn blue">Get Assessed value</a>
        </div>*@
</div>
<div class="row">

    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>Search Category Tab
                </div>
                <div class="tools">
                </div>
            </div>

            <div class="portlet-body form">
                <div class="form-body">

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label col-md-6" id="lblKRAEmployee">Select Category</label>
                                <div class="col-md-6">
                                    <select class="form-control" id="CaseTab" name="CaseTab">
                                        <option value="BusinessName">Business Name</option>
                                        <option value="partyName">Party Name</option>
                                        <option value="CaseNumber">Case Number</option>
                                        <option value="CitationNumber">Citation Number</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>

                    @*<div id="partyName" style="display:none;">
                            <div class="row">
                                <h3>Party Name Search</h3>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label col-md-6" id="lblKRAEmployee">Court Type</label>
                                            <div class="col-md-6">
                                                <select class="form-control" id="PNCaseCategoryKeys" name="PNCaseCategoryKeys">
                                                    <option value="">Select Court Type</option>
                                                    <option value="CR,FAM,CV,PR">All</option>
                                                    <option value="CV">Civil</option>
                                                    <option value="FAM">Family</option>
                                                    <option value="PR">Probate</option>
                                                    <option value="FEL">Felony</option>
                                                    <option value="TM">Traffic and Misdemeanor</option>
                                                </select>

                                                <span id="errPNcasecategory" style="color:red;"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label col-md-6" id="lblKRAName">First Name</label>
                                            <div class="col-md-6">
                                                <input type="text" id="txtFirstName" class="form-control" />
                                                <span id="errFirstName" style="color:red;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label col-md-6" id="lblKRAName">Last Name</label>
                                            <div class="col-md-6">
                                                <input type="text" id="txtLastName" class="form-control" />
                                                <span id="errLastName" style="color:red;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label col-md-6" id="lblKRAName">Middle Name</label>
                                            <div class="col-md-6">
                                                <input type="text" id="txtMiddleName" class="form-control" />
                                                <span id="errMiddleName" style="color:red;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label col-md-6" id="lblKRAName">Date From</label>
                                            <div class="col-md-6">
                                                <input type="text" id="txtPNFromdate" class="form-control date-picker" />
                                                <span id="errFromdate" style="color:red;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label col-md-6" id="lblKRAName">Date To</label>
                                            <div class="col-md-6">
                                                <input type="text" id="txtPNTodate" class="form-control date-picker" />
                                                <span id="errPNTodate" style="color:red;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div id="BusinessName">

                            <div class="row">
                                <h3>Business Name Search</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-6" id="lblKRAEmployee">Court Type</label>
                                        <div class="col-md-6">
                                            <select class="form-control" id="CaseCategoryKeys" name="CaseCategoryKeys">
                                                <option value="">Select Court Type</option>
                                                <option value="CR,FAM,CV,PR">All</option>
                                                <option value="CV">Civil</option>
                                                <option value="FAM">Family</option>
                                                <option value="PR">Probate</option>
                                                <option value="FEL">Felony</option>
                                                <option value="TM">Traffic and Misdemeanor</option>
                                            </select>
                                            <span id="errcasecategory" style="color:red;"></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-6" id="lblKRAName">Business Name</label>
                                        <div class="col-md-6">
                                            <input type="text" id="txtBusinessName" class="form-control" />
                                            <span id="errBusinessName" style="color:red;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-6" id="lblKRAName">Date From</label>
                                        <div class="col-md-6">
                                            <input type="text" id="txtFromdate" class="form-control date-picker" />
                                            <span id="errFromdate" style="color:red;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-6" id="lblKRAName">Date To</label>
                                        <div class="col-md-6">
                                            <input type="text" id="txtTodate" class="form-control date-picker" />
                                            <span id="errTodate" style="color:red;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="CaseNumber" style="display:none;">
                            <div class="row">
                                <h3>Case Number Search</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-6" id="lblKRAName">Case Number</label>
                                        <div class="col-md-6">
                                            <input type="text" id="txtCaseNumber" class="form-control" />
                                            <span id="errCaseNumber" style="color:red;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div id="CitationNumber" style="display:none;">
                            <div class="row">
                                <h3>Citation Number Search</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-6" id="lblKRAName">Citation Number</label>
                                        <div class="col-md-6">
                                            <input type="text" id="txtCitationNumber" class="form-control" />
                                            <span id="errCitationNumber" style="color:red;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                </div>
                @*<div class="form-actions " id="divddsubmit">
                        <div  align="right">
                            <input type="button" class="btn blue" id="btnSubmit" value="Begin Search" />

                        </div>
                    </div>*@

            </div>

        </div>



    </div>

    @*<div class="tabbable tabbable-custom boxless">
            <ul class="nav nav-tabs">
                <li id="litab_11" class="active"><a href="#tab_11" data-toggle="tab" id="anchr_tab_11">Business Name</a></li>
                <li id="litab_12"><a href="#tab_12" data-toggle="tab" id="anchr_tab_12">Last Searched</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_11">

                </div>

            </div>
        </div>*@
</div>


<div class="col-sm-12">
    <div class="dim" style="display:none;">
        <center style="padding-top:20%;">
            <img src='~/Images/loading7_gray.gif' width="100" height="100" />
        </center>
    </div>
</div>

<div class="row" id="BussinesNameResult">
    @{Html.RenderAction("BusinessSearchHistory", "Home");}
</div>
<div class="row" id="PartyNameResult" style="display:none;">
    @{Html.RenderAction("PartySearchHistory", "Home");}
</div>

<div class="row" id="CaseNumberResult" style="display:none;">
    @{Html.RenderAction("CaseNumberHistory", "Home");}
</div>
<div class="row" id="CitationNumberResult" style="display:none;">
    @{Html.RenderAction("CitationNumberHistory", "Home");}
</div>

<a href="#myModal4" data-toggle="modal" id="anchor" class="anchor1"></a>
<div id="myModal4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModal4" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" style="font-weight:bold;">Message</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <span id="dvcasedetials">

                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="close" data-dismiss="modal" class="btn blue" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>
<a href="#myModalDel1" data-toggle="modal" id="anchorDel1" class="anchorDel1"></a>
<div id="myModalDel1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalDel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" style="font-weight:bold;">Delete</h4>
                <input type="hidden" id="hdnsearchid" />
                <input type="hidden" id="hdntabid" />

            </div>
            <div class="modal-body">
                <div class="form-group">
                    <span id="dvDeleteHistory">
                        <label>Are You Sure Want To Delete Record</label>
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="DeleteBussinessHistory" data-dismiss="modal" class="btn blue" aria-hidden="true">Ok</button>
                <button type="button" id="closecancel" data-dismiss="modal" class="btn blue" aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
</div>
<a href="#myModal4" data-toggle="modal" id="anchor" class="anchor1"></a>
<div id="myModal4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModal4" aria-hidden="true">
    <div class="modal-dialog" style="width:830px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" style="font-weight:bold;">Case Details</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" id="dvcasedetials">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="close" data-dismiss="modal" class="btn blue" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>

<a href="#myModal5" data-toggle="modal" id="anchor2" class="anchor2"></a>
<div id="myModal5" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModal5" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="msgsuccess">Original Pdf</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" id="dvOriginalPdf">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="close" data-dismiss="modal" class="btn blue" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>
<style>
    .row {
        padding: 1%;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
</style>
<script>

    function GetBcpaResult() {

        var _url = 'Home/BCPAAddressByCase';
        window.location.href = _url;
    }

    @*$(document).ready(function () {
        var hdnSearchedDate = $('#hdnsearcheddate').val();
        $.ajax({
            url: String('@Url.Action("ChekSaveCaseDetails", "Home")'),
            type: "POST",
            data: { SearchedDate: hdnSearchedDate },
            traditional: true,
            success: function (data) {
                if (data == 'Success') {
                    $('#SaveAllCaseDetails').attr('disabled', 'disabled');
                    $('#ImportInExcel').removeAttr('disabled');
                }
                else {
                    $('#SaveAllCaseDetails').removeAttr('disabled');
                    $('#ImportInExcel').attr('disabled', 'disabled');
                }
            },
            error: function () { alert('error in Process'); }
        });
    });*@

    //$(document).ready(function () {
    //    TableManaged.init();
    //});

    $("#SaveAllCaseDetails").click(function () {
        var _tabid = "";
        var CaseTab = $('#CaseTab').val();
        if ($.trim(CaseTab) == "CaseNumber") {
            _tabid = 3;
        }
        $('#msgsuccess').text("");
        SaveAllCaseDetailsHtml(_tabid);
        //$(".CaseSearchresult tr").each(function () {
        //    var _CaseNumber = $.trim($(this).find(".Details").text());
        //    var _CaseNumberID = $.trim($(this).find(".CaseNumberID").text());

        //    if (_CaseNumber != null && _CaseNumber != "") {
        //        SaveAllCaseDetailsHtml( _tabid);
        //    }
        //});
    });


    $("#SaveAllCaseAddress").click(function () {
        var _tabid = "";
        var CaseTab = $('#CaseTab').val();
        if ($.trim(CaseTab) == "CaseNumber") {
            _tabid = 3;
        }
        $('#msgsuccess').text("");
        SaveCasesCitaionAddress(_tabid);
    });
    $("#SaveAllCitationAddress").click(function () {
        var _tabid = "";
        var CaseTab = $('#CaseTab').val();
        if ($.trim(CaseTab) == "CaseNumber") {
            _tabid = 4;
        }
        $('#msgsuccess').text("");
        SaveCasesCitaionAddress(_tabid);
    });

    function SaveCasesCitaionAddress(_tabid) {
        $('.loading').show();
        $.ajax({
            url: String('@Url.Action("SaveCasesCitaionAddress", "Home")'),
            type: "POST",
            data: { tabid: _tabid },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $('#msgsuccess').text("Success Message ");
                $('#dvOriginalPdf').html("<span>Saved case address successfully</span>");
                $("#anchor2")[0].click();
                if (_tabid == 3) {
                    $('#SaveAllCaseAddress').attr('disabled', 'disabled');
                }
                if (_tabid == 4) {
                    $('#SaveAllCitationAddress').attr('disabled', 'disabled');
                }

            },
            error: function () { alert('error in Process'); }
        });
    }

    function SaveAllCaseDetailsHtml(_tabid) {
        $('.loading').show();
        $.ajax({
            url: String('@Url.Action("SaveCasesCitaionDetails", "Home")'),
            type: "POST",
            data: { tabid: _tabid },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $('#msgsuccess').text("Success Message ");
                $('#dvOriginalPdf').html("<span>Saved case details successfully</span>");

                $("#anchor2")[0].click();
                if (_tabid == 3) {
                    $('#SaveAllCaseAddress').attr('disabled', 'disabled');
                    $('#ImportInExcel').removeAttr('disabled');
                }
                if (_tabid == 4) {
                    $('#SaveAllCitationDetails').attr('disabled', 'disabled');
                    $('#ImportInExcelCitation').removeAttr('disabled');

                }

            },
            error: function () { alert('error in Process'); }
        });
    }

    $("#SaveAllCitationDetails").click(function () {

        var _tabid = "";
        var CaseTab = $('#CaseTab').val();
        if ($.trim(CaseTab) == "CitationNumber") {
            _tabid = 4;
        }
        $('#msgsuccess').text("");
        SaveAllCaseDetailsHtml(_tabid);
        //$(".CitationSearchresult tr").each(function () {
        //    var _CaseNumber = $.trim($(this).find(".Details").text());
        //    var _CitationNumberID = $.trim($(this).find(".CitationNumberID").text());
        //    if (_CaseNumber != null && _CaseNumber != "") {
        //    }
        //});
    });

    $("#ImportInExcelCase").click(function () {
        $(".CaseSearchresult tr").each(function () {
            $('#msgsuccess').text("");
            var hdnSearchedDate = $.trim($(this).find(".CaseSearchDate").text());
            ExportResult(hdnSearchedDate);
            $('#SaveAllCaseDetails').attr('disabled', 'disabled');
            $('#ImportInExcel').removeAttr('disabled');
        });
    });
    $("#ImportInExcelCitation").click(function () {
        $(".CitationSearchresult tr").each(function () {
            $('#msgsuccess').text("");
            var hdnSearchedDate = $.trim($(this).find(".CitationNumberDate").text());
            ExportResult(hdnSearchedDate);
            $('#SaveAllCitationDetails').attr('disabled', 'disabled');
            $('#ImportInExcelCitation').removeAttr('disabled');
        });
    });

    function ExportResult(hdnSearchedDate) {

        $.ajax({
            url: String('@Url.Action("ExportToExcelByCaseCitaion", "Home")'),
            type: "POST",
            data: { SearchedDate: hdnSearchedDate },
            traditional: true,
            success: function (data) {
                if (data == "Success") {
                    $('#msgsuccess').text("Success Message");
                    $('#dvOriginalPdf').html("<span>Exported Into Excel successfully</span>");
                }
                else {
                    $('#msgsuccess').text("No Record");
                    $('#dvOriginalPdf').html("<span>There is no records found</span>");
                }
                $("#anchor2")[0].click();
            },
            error: function () { alert('error in Process'); }
        });
    }



    $('#CaseTab').change(function () {
        var CaseTab = $(this).val();
        SelectTab(CaseTab);
    });

    function SelectCategoryTab(evt) {

        var CaseTab = evt;
        $('#CaseTab').val(CaseTab);
        SelectTab(CaseTab);
    }


    function SelectTab(CaseTab) {

        if ($.trim(CaseTab) == "BusinessName") {
            $('#BusinessName').css("display", "block");
            $('#partyName').css("display", "none");
            $('#CaseNumber').css("display", "none");
            $('#CitationNumber').css("display", "none");

            $('#BussinesNameResult').css("display", "block");
            $('#PartyNameResult').css("display", "none");
            $('#CaseNumberResult').css("display", "none");
            $('#CitationNumberResult').css("display", "none");
            ResetAllFields();
        }
        else if ($.trim(CaseTab) == "partyName") {
            $('#BusinessName').css("display", "none");
            $('#partyName').css("display", "block");
            $('#CaseNumber').css("display", "none");
            $('#CitationNumber').css("display", "none");

            $('#BussinesNameResult').css("display", "none");
            $('#PartyNameResult').css("display", "block");
            $('#CaseNumberResult').css("display", "none");
            $('#CitationNumberResult').css("display", "none");
            ResetAllFields();
        }
        else if ($.trim(CaseTab) == "CaseNumber") {
            $('#BusinessName').css("display", "none");
            $('#partyName').css("display", "none");
            $('#CaseNumber').css("display", "block");
            $('#CitationNumber').css("display", "none");

            $('#BussinesNameResult').css("display", "none");
            $('#PartyNameResult').css("display", "none");
            $('#CaseNumberResult').css("display", "block");
            $('#CitationNumberResult').css("display", "none");
            ResetAllFields();
        }
        else {
            $('#BusinessName').css("display", "none");
            $('#partyName').css("display", "none");
            $('#CaseNumber').css("display", "none");
            $('#CitationNumber').css("display", "block");

            $('#BussinesNameResult').css("display", "none");
            $('#PartyNameResult').css("display", "none");
            $('#CaseNumberResult').css("display", "none");
            $('#CitationNumberResult').css("display", "block");
            ResetAllFields();
        }
    }

    function Refreshlist() {
        $('.loading').show();
        $.ajax({
            url: String('@Url.Action("RefreshCaseList", "Home")'),
            type: "POST",
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $("#BussinesNameResult").html(data);

            },
            error: function () { alert('error in Process'); }
        });
    }

    $('#btnSubmit').click(function () {

        var CaseTab = $('#CaseTab').val();
        if ($.trim(CaseTab) == "BusinessName") {
            var haserror = false;
            var stt = $('#txtFromdate').datepicker('getDate');
            var end = $('#txtTodate').datepicker('getDate');

            var casecategory = $('#CaseCategoryKeys').val();
            var txtBusinessName = $('#txtBusinessName').val();
            var Fromdate = $('#txtFromdate').val();
            var Todate = $('#txtTodate').val();

            if ($.trim(txtBusinessName) == "") {
                $("#errBusinessName").html("Please Enter Business Name");
                haserror = true;
            }
            else {
                $("#errBusinessName").html("");
            }
            if (Fromdate != "") {
                var daysDiif = (end - stt)
                if (daysDiif <= 0) {
                    $("#errTodate").html("Date To is invalid or an invalid date range");
                    haserror = true;
                }
                else {
                    $("#errTodate").html("");
                }
            }
            if ($.trim(casecategory) == "") {
                $("#errcasecategory").html("Please select court type");
                haserror = true;
            }
            else {
                $("#errcasecategory").html("");
            }

            if (haserror == false) {
                $('.loading').show();
                $.ajax({
                    url: String('@Url.Action("BeginSearch", "Home")'),
                    type: "POST",
                    data: { BusinessName: txtBusinessName, casecategory: casecategory, Fromdate: Fromdate, Todate: Todate },
                    traditional: true,
                    ajaxStart: function () { $('.loading').show(); },
                    complete: function () { $('.loading').hide(); },
                    success: function (data) {
                        $('#dvcasedetials').text(data);
                        $("#anchor")[0].click();

                        RefreshSearchHistory()
                    },
                    error: function (xhr) {
                        //alert('error in Process');
                        alert(xhr.responseText);
                    }
                });
            }
        }

        else if ($.trim(CaseTab) == "partyName") {

            var haserror = false;
            var stt = $('#txtFromdate').datepicker('getDate');
            var end = $('#txtTodate').datepicker('getDate');

            var casecategory = $('#PNCaseCategoryKeys').val();
            var txtFirstName = $('#txtFirstName').val();
            var txtLastName = $('#txtLastName').val();
            var txtMiddleName = $('#txtMiddleName').val();
            var Fromdate = $('#txtPNFromdate').val();
            var Todate = $('#txtPNTodate').val();

            if ($.trim(txtFirstName) == "") {
                $("#errFirstName").html("Please Enter First Name");
                haserror = true;
            }
            else {
                $("#errFirstName").html("");
            }
            if ($.trim(txtLastName) == "") {
                $("#errLastName").html("Please Enter Last Name");
                haserror = true;
            }
            else {
                $("#errLastName").html("");
            }
            if (Fromdate != "") {
                var daysDiif = (end - stt)
                if (daysDiif <= 0) {
                    $("#errPNTodate").html("Date To is invalid or an invalid date range");
                    haserror = true;
                }
                else {
                    $("#errTodate").html("");
                }
            }
            if ($.trim(casecategory) == "") {
                $("#errPNcasecategory").html("Please select court type");
                haserror = true;
            }
            else {
                $("#errPNcasecategory").html("");
            }

            if (haserror == false) {
                $('.loading').show();
                $.ajax({
                    url: String('@Url.Action("PartySearch", "Home")'),
                    type: "POST",
                    data: { FirstName: txtFirstName, LastName: txtLastName, MiddleName: txtMiddleName, casecategory: casecategory, Fromdate: Fromdate, Todate: Todate },
                    traditional: true,
                    ajaxStart: function () { $('.loading').show(); },
                    complete: function () { $('.loading').hide(); },
                    success: function (data) {
                        $('#dvcasedetials').text(data);
                        $("#anchor")[0].click();
                        RefreshPartyHistory();
                    },
                    error: function (xhr) {
                        //alert('error in Process');
                        alert(xhr.responseText);
                    }
                });

            }
        }


        else if ($.trim(CaseTab) == "CaseNumber") {
            var txtCaseNumber = $('#txtCaseNumber').val();
            var haserror = false;

            if ($.trim(txtCaseNumber) == "") {
                $("#errCaseNumber").html("Please select court type");
                haserror = true;
            }
            else {
                $("#errCaseNumber").html("");
            }
            if (haserror == false) {
                $('.loading').show();
                $.ajax({
                    url: String('@Url.Action("CaseSearch", "Home")'),
                    type: "POST",
                    data: { CaseNumber: txtCaseNumber },
                    traditional: true,
                    ajaxStart: function () { $('.loading').show(); },
                    complete: function () { $('.loading').hide(); },
                    success: function (data) {
                        $('#dvcasedetials').text(data);
                        $("#anchor")[0].click();
                        RefreshCaseHistory();
                    },
                    error: function (xhr) {
                        //alert('error in Process');
                        alert(xhr.responseText);
                    }
                });

            }
        }
        else {
            var txtCitationNumber = $('#txtCitationNumber').val();
            var haserror = false;

            if ($.trim(txtCitationNumber) == "") {
                $("#errCitationNumber").html("Please Enter Citation Number");
                haserror = true;
            }
            else {
                $("#errCitationNumber").html("");
            }
            if (haserror == false) {
                $('.loading').show();
                $.ajax({
                    url: String('@Url.Action("CitationSearch", "Home")'),
                    type: "POST",
                    data: { CitationNumber: txtCitationNumber },
                    traditional: true,
                    ajaxStart: function () { $('.loading').show(); },
                    complete: function () { $('.loading').hide(); },
                    success: function (data) {
                        $('#dvcasedetials').text(data);
                        $("#anchor")[0].click();
                        RefreshCitationHistory();
                    },
                    error: function (xhr) {
                        //alert('error in Process');
                        alert(xhr.responseText);
                    }
                });

            }
        }

    })


    function ResetAllFields() {
        $('#CaseCategoryKeys').val("");
        $('#txtBusinessName').val('');
        $('#txtFromdate').val('');
        $('#txtTodate').val('');
        $('#PNCaseCategoryKeys').val('');
        $('#txtFirstName').val('');
        $('#txtLastName').val('');
        $('#txtPNMiddleName').val('');
        $('#txtPNFromdate').val('');
        $('#txtPNTodate').val('');
        $('#txtCaseNumber').val('');
        $('#txtCitationNumber').val('');

        $('#errBusinessName').html("");
        $('#errcasecategory').html("");
        $('#errTodate').html("");
        $('#errcasecategory').html("");
        $('#errPNcasecategory').html("");
        $('#errFirstName').html("");
        $('#errLastName').html("");
        $('#errPNTodate').html("");
        $('#errCaseNumber').html("");
        $('#errCitationNumber').html("");

    }

    function RefreshSearchHistory() {
        $('.loading').show();
        $.ajax({
            url: '@Url.Action("BusinessSearchHistory", "Home")',
            contentType: 'application/json; charset=utf-8',
            cache: false,
            type: "POST",
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $('#BussinesNameResult').html('');
                $('#BussinesNameResult').html(data);
                $("#sample_3").dataTable({
                    //         "aoColumnDefs": [
                    //{ 'bSortable': false, 'aTargets': [0, 1] }
                    //         ],
                    "ordering": false,
                    "bDestroy": false,
                    "lengthMenu": [
                        [5, 10, 20, -1],
                        [5, 10, 20, "All"] // change per page values here
                    ],
                    // set the initial value
                    "pageLength": 10
                });
                //activeMenu();
                // TableManaged.init();
                //ComponentsFormTools.init();
            }, error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }
    function RefreshCaseHistory() {
        $('.loading').show();
        $.ajax({
            url: '@Url.Action("CaseNumberHistory", "Home")',
            contentType: 'application/json; charset=utf-8',
            cache: false,
            type: "POST",
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $('#CaseNumberResult').html('');
                $('#CaseNumberResult').html(data);
                $("#sample_5").dataTable({
                    //         "aoColumnDefs": [
                    //{ 'bSortable': false, 'aTargets': [0, 1] }
                    //         ],
                    "ordering": false,
                    "bDestroy": false,
                    "lengthMenu": [
                        [5, 10, 20, -1],
                        [5, 10, 20, "All"] // change per page values here
                    ],
                    // set the initial value
                    "pageLength": 10
                });
            }, error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }

    function RefreshCitationHistory() {
        $('.loading').show();
        $.ajax({
            url: '@Url.Action("CitationNumberHistory", "Home")',
            contentType: 'application/json; charset=utf-8',
            cache: false,
            type: "POST",
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $('#CitationNumberResult').html('');
                $('#CitationNumberResult').html(data);
                $("#sample_6").dataTable({
                    //         "aoColumnDefs": [
                    //{ 'bSortable': false, 'aTargets': [0, 1] }
                    //         ],
                    "ordering": false,
                    "bDestroy": false,
                    "lengthMenu": [
                        [5, 10, 20, -1],
                        [5, 10, 20, "All"] // change per page values here
                    ],
                    // set the initial value
                    "pageLength": 10
                });
            }, error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }
    function RefreshPartyHistory() {
        $('.loading').show();
        $.ajax({
            url: '@Url.Action("PartySearchHistory", "Home")',
            contentType: 'application/json; charset=utf-8',
            cache: false,
            type: "POST",
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $('#PartyNameResult').html('');
                $('#PartyNameResult').html(data);
                $("#sample_4").dataTable({
                    //         "aoColumnDefs": [
                    //{ 'bSortable': false, 'aTargets': [0, 1] }
                    //         ],
                    "ordering": false,
                    "bDestroy": false,
                    "lengthMenu": [
                        [5, 10, 20, -1],
                        [5, 10, 20, "All"] // change per page values here
                    ],
                    // set the initial value
                    "pageLength": 10
                });

            }, error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }


    function CaseSearchDetails(evt) {
        var _CaseNumberid = $.trim(evt);
        $('.loading').show();
        $.ajax({
            url: String('@Url.Action("CaseSearchDetails", "Home")'),
            type: "POST",
            data: { CaseNumberID: _CaseNumberid },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $('#dvcasedetials').html(data);
                $("#anchor")[0].click();
            },
            error: function () { alert('error in Process'); }
        });

    }
    function CasePdfView(evt) {
        var _CaseNumberid = $.trim(evt);
        $('.loading').show();
        $.ajax({
            url: String('@Url.Action("GetpdfFromCaseHistory", "Home")'),
            type: "POST",
            data: { CaseNumberID: _CaseNumberid },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $('#dvOriginalPdf').html(data);
                $("#anchor2")[0].click();

            },
            error: function () { alert('error in Process'); }
        });

    }


    function CitationSearchDetails(evt) {
        var _CitationNumberid = $.trim(evt);
        $('.loading').show();
        $.ajax({
            url: String('@Url.Action("CitationSearchDetails", "Home")'),
            type: "POST",
            data: { CitationNumberID: _CitationNumberid },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $('#dvcasedetials').html(data);
                $("#anchor")[0].click();
            },
            error: function () { alert('error in Process'); }
        });

    }


    function CitationPdfView(evt) {
        var _CitationNumberID = $.trim(evt);
        $('.loading').show();
        $.ajax({
            url: String('@Url.Action("GetpdfFromCitationHistory", "Home")'),
            type: "POST",
            data: { CitationNumberID: _CitationNumberID },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $('#dvOriginalPdf').html(data);
                $("#anchor2")[0].click();
            },
            error: function () { alert('error in Process'); }
        });
    }


    function CitationConvertAddress(evt) {
        $('.loading').show();
        var _CitationNumberID = $.trim(evt);
        $.ajax({
            url: String('@Url.Action("GetaddressBycitaion", "Home")'),
            type: "POST",
            data: { CitationNumberID: _CitationNumberID },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $('#dvcasedetials').html(data);
                $("#anchor")[0].click();
            },
            error: function () { alert('error in Process'); }
        });
    }
    function CaseConvertAddress(evt) {
        $('.loading').show();
        var _CaseNumberID = $.trim(evt);
        $.ajax({
            url: String('@Url.Action("GetAddressByCase", "Home")'),
            type: "POST",
            data: { CaseNumberID: _CaseNumberID },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {

                $('#dvcasedetials').html(data);
                $("#anchor")[0].click();
            },
            error: function () { alert('error in Process'); }
        });
    }
    $('#DeleteBussinessHistory').click(function () {
        var _SearchID = $('#hdnsearchid').val();
        var _tabid = $('#hdntabid').val();
        $('.loading').show();
        $.ajax({
            url: String('@Url.Action("DeleteCasesHistory", "Home")'),
            type: "POST",
            data: { SearchID: _SearchID, tabid: _tabid },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $('#closecancel').get(0).click();
                $("#dvcasedetials").text("Selected search history record deleted successfully");
                $("#anchor")[0].click();
                debugger;
                if (_tabid == 1) {
                    RefreshSearchHistory();
                }
                else if (_tabid == 2) {
                    RefreshCaseHistory();
                }
                else if (_tabid == 3) {
                    RefreshCitationHistory();
                }
                else if (_tabid == 4) {
                    RefreshPartyHistory();
                }
                //TableManaged.init();
            },
            error: function () { alert('error in Process'); }
        });
    });
    function DeleteHistory(evt) {
        $('#hdntabid').val('');
        $('#hdntabid').val(1);
        var _BusinessSearchID = $.trim(evt);
        $('#hdnsearchid').val(_BusinessSearchID);
        $("#anchorDel1")[0].click();
    }
    function DeleteCaseHistory(evt) {
        $('#hdntabid').val('');
        $('#hdntabid').val(2);
        $('#hdnsearchid').val('');
        var _CaseSearchID = $.trim(evt);
        $('#hdnsearchid').val(_CaseSearchID);
        $("#anchorDel1")[0].click();
    }
    function DeleteCitationHistory(evt) {
        $('#hdntabid').val('');
        $('#hdntabid').val(3);
        $('#hdnsearchid').val('');
        var _CaseSearchID = $.trim(evt);
        $('#hdnsearchid').val(_CaseSearchID);
        $("#anchorDel1")[0].click();
    }
    function DeletepartyHistory(evt) {
        $('#hdntabid').val('');
        $('#hdntabid').val(4);
        $('#hdnsearchid').val('');
        var _CaseSearchID = $.trim(evt);
        $('#hdnsearchid').val(_CaseSearchID);
        $("#anchorDel1")[0].click();
    }

</script>


