﻿@model List<SharkAppWeb.ViewModel.LoanAmortiZd>
@{
    ViewBag.Title = "LoanAmortization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12" align="right">
        <input type="button" class="btn blue" id="SummaryAmortization" onclick="LoanSummary()" value="Loan Summary" />
        <input type="button" id="btnExportExcel" onclick="tableToExcel('sample_5', 'SampleTable')" class="btn blue" value="Export To Excel" />
    </div>
    
</div>
<br />
<div class="row">
    <div class="col-md-12 responsive">
        <div class="portlet-body form">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        Loan Amortization
                    </div>
                </div>
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">
                            @*<div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Loan Principle Amount</label>
                                        <label class="col-md-6">
                                            @ViewBag.LoanPrincipleAmount
                                        </label>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">LoanPeriod</label>
                                        <label class="col-md-6">
                                            @ViewBag.LoanPeriod
                                        </label>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">LoanStartDate</label>
                                        <label class="col-md-6">
                                            @ViewBag.LoanStartDate
                                        </label>

                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Downpayment</label>
                                        <label class="col-md-6">
                                          
                                        </label>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Interest Rate</label>
                                        <label class="col-md-6">

                                        </label>

                                    </div>
                                </div>
                            </div>*@

                        </div>
                        <div class="row">

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Loan Principle Amount</label>
                                        <div class="col-md-6">
                                            <input type="text" id="txtLoanPrincipleAmount" class="form-control" value="@ViewBag.LoanPrincipleAmount" />
                                            <span id="spnLoanPrincipleAmount" class="help-block has-error" style="color:red;"></span>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Annual Interest Rate</label>
                                        <div class="col-md-6">
                                            <input type="text" id="txtAnnualInterestRate" class="form-control" value="@ViewBag.Anualrate" />
                                            <span id="spnAnnualInterestRate" class="help-block has-error" style="color:red;"></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">LoanPeriod</label>
                                        <div class="col-md-6">
                                            <input type="text" id="txtLoanPeriod" class="form-control" value="@ViewBag.LoanPeriod" />
                                            <span id="spnLoanPeriod" class="help-block has-error" style="color:red;"></span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label col-md-6">DownPayment</label>
                                            <div class="col-md-6">
                                                <input type="text" id="txtOriginalRepaymentAmount" class="form-control" value="@ViewBag.Downpayment" />
                                                <span id="spnOriginalRepaymentAmount" class="help-block has-error" style="color:red;"></span>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            <div class="row">
            <div class="col-md-8">
            <div class="form-group">
                <label class="control-label col-md-6">LoanStartDate</label>
                <div class="col-md-6">
                    <input type="text" id="txtLoanStartDate" class="form-control date-picker" value="@ViewBag.LoanStartDate" />
                    <span id="spnLoanStartDate" class="help-block has-error" style="color:red;"></span>
                </div>

            </div>
        </div>

    </div>  </div>

                       
                    </div>
                    <div class="form-actions">
                        <div align="right">
                            <input type="button" class="btn blue" id="LoanAmortization" onclick="btnLoanSubmit()" value="Submit" />
                        </div>
                    </div>
                </div>

            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

<br />
@*<div class="row">
    <div class="col-md-12 responsive">
        <div class="portlet-body form">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        Summary Amortization
                    </div>
                </div>
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row">

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Review Date</label>
                                        <div class="col-md-6">
                                            <input type="text" id="txtReviewDate" class="form-control date-picker" />
                                            <span id="spnReviewDate" class="help-block has-error" style="color:red;"></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="form-actions">
                            <div align="right">
                                <input type="button" class="btn blue" id="SummaryAmortization" onclick="LoanSummary()" value="Submit" />
                            </div>
                        </div>
                    </div>

            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>

<a href="#myModalMessage" id="popupMessage" data-toggle="modal"></a>
<div id="myModalMessage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel122" aria-hidden="true">
    <div class="modal-dialog" style="max-width:400px;min-height:50%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnSuccess"></button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">

                <span id="spnMessagetext" name="spnMessage"></span>
            </div>
            <div class="modal-footer">
                <button class="btn blue " data-dismiss="modal" aria-hidden="true">Ok</button>
                <button class="btn default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <input type="hidden" id="hdnOthAddressID" />
            </div>
        </div>
    </div>
</div>

<div class="row" id="divloanAmortz">
    @* @{Html.RenderAction("ShowLoanAmortization", "Home");}*@
    @{Html.RenderPartial("_LoanAmortization", Model);}


<script>
    $(document).ready(function () {
        $(".clsRepayment").click();
        //$('#sample_5').dataTable({
        //    'displayStart': 20
        //});

        var table = $('#sample_LoanAmort').dataTable({
            "lengthMenu": [
             [10, 25, 50, 100, -1],
             [10, 25, 50, 100, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 10,
            "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                debugger;
                if ( aData[1] == '@ViewBag.CurrentMonthYear' )
                {
                    $('td', nRow).css('background-color', 'yellow');
                }
                
            }
        });
        table.fnPageChange(@ViewBag.CurrentDTPage, true);
    })

    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
  , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
  , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
  , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            var modifiedTable = $("#sample_5").clone();
            modifiedTable.find('.clsAddressID,.clsdelete,.clsIsResidential,.clsChangeType,.table-checkbox').remove();

            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: modifiedTable.html() }
            window.location.href = uri + base64(format(template, ctx))

        }
    })()


    function LoanSummary() {
        $('.loading').show();
        $.ajax({
                url: String('@Url.Action("LoanSummary", "Home")'),
                type: "POST",
                traditional: true,
                ajaxStart: function () { $('.loading').show(); },
                complete: function () { $('.loading').hide(); },
                success: function (data) {
                if (data == "Success") {
                    $("#spnMessagetext").text("Summary details exported in excel sheet successfully");
                }
                else {
                    $("#spnMessagetext").text(data);
                }
                $("#popupMessage")[0].click();

            },
            error: function (xhr) {
                alert(xhr.responseText);

            }
        });
    }

    @*function LoanSummary11() {
        var haserror = false;
        var ReviewDate = $.trim($("#txtReviewDate").val());
        if (ReviewDate == "") {
            $("#txtReviewDate").css("border", "1px solid red");
            $("#spnReviewDate").html("Please enter start date");
            haserror = true;
        }
        else {
            $("#txtReviewDate").css("border", "");
            $("#spnReviewDate").html("");
        }

        if (haserror == false) {
            $('.loading').show();
            $.ajax({
                url: String('@Url.Action("LoanSummary", "Home")'),
                type: "POST",
                data: { _dt: ReviewDate },
                traditional: true,
                ajaxStart: function () { $('.loading').show(); },
                complete: function () { $('.loading').hide(); },
                success: function (data) {
                    if (data == "Success")
                    {
                        $("#spnMessagetext").text("Summary details exported in excel sheet successfully");
                    }
                    else {
                        $("#spnMessagetext").text("! Error in summary details export");
                    }
                   
                    $("#popupMessage")[0].click();
                   
                },
                error: function (xhr) {
                    alert(xhr.responseText);

                }
            });
        }
    }*@

    function btnLoanSubmit() {
        var haserror = false;
        var LoanPrincipleAmount = $.trim($("#txtLoanPrincipleAmount").val());
        var AnnualInterestRate = $.trim($("#txtAnnualInterestRate").val());
        var LoanPeriod = $.trim($("#txtLoanPeriod").val()); 
        var OriginalRepaymentAmount = $.trim($("#txtOriginalRepaymentAmount").val());
        var LoanStartDate = $.trim($("#txtLoanStartDate").val());

        if (LoanPrincipleAmount == "") {
            $("#spnLoanPrincipleAmount").html("Please Enter loan principle amount");
            $("#txtLoanPrincipleAmount").css("border", "1px solid red");
            haserror = true;
        }
        else {
            $("#spnLoanPrincipleAmount").html("");
            $("#txtLoanPrincipleAmount").css("border", "");
        }
        if (AnnualInterestRate == "") {
            $("#txtAnnualInterestRate").css("border", "1px solid red");
            $("#spnAnnualInterestRate").html("Please enter annual interest rate");
            haserror = true;
        }
        else {
            $("#txtAnnualInterestRate").css("border", "");
            $("#spnAnnualInterestRate").html("");
        }
        if (LoanPeriod == "") {
            $("#txtLoanPeriod").css("border", "1px solid red");
            $("#spnLoanPeriod").html("Please enter loan period");
            haserror = true;
        }
        else {
            $("#txtLoanPeriod").css("border", "");
            $("#spnLoanPeriod").html("");
        }
        if (LoanStartDate == "") {
            $("#txtLoanStartDate").css("border", "1px solid red");
            $("#spnLoanStartDate").html("Please enter start date");
            haserror = true;
        }
        else {
            $("#txtLoanStartDate").css("border", "");
            $("#spnLoanStartDate").html("");
        }
        

        if (OriginalRepaymentAmount == "") {
            $("#txtOriginalRepaymentAmount").css("border", "1px solid red");
            $("#spnOriginalRepaymentAmount").html("Please enter DownPayment");
            haserror = true;
        }
        else {
            $("#txtOriginalRepaymentAmount").css("border", "");
            $("#spnOriginalRepaymentAmount").html("");
        }

        if (haserror == false) {
            $('.loading').show();
            $.ajax({
                url: String('@Url.Action("GetLoanAmortiZation", "Home")'),
                type: "POST",
                data: { LoanPrincipleAmount: LoanPrincipleAmount, AnnualInterestRate: AnnualInterestRate, LoanPeriod: LoanPeriod, OriginalRepaymentAmount: OriginalRepaymentAmount, LoanStartDate: LoanStartDate },
                traditional: true,
                ajaxStart: function () { $('.loading').show(); },
                complete: function () { $('.loading').hide(); },
                success: function (data) {
                    $("#divloanAmortz").html("");
                    $("#divloanAmortz").html(data);
                    $('#sample_5').dataTable({
                        "lengthMenu": [
                   [10,25,50, 100, -1],
                   [10,25,50, 100, "All"] // change per page values here
                        ],
                        // set the initial value
                        "pageLength": 10
                    });
                },
                error: function (xhr) {
                    alert(xhr.responseText);

                }
            });
        }
    }
</script>

