﻿@{
    Layout = null;
}
@model SharkAppWeb.ViewModel.VMUser

<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8" />
    <title>Broward</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta name="MobileOptimized" content="320">

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/uniform/css/uniform.default.css")" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="@Url.Content("~/Content/assets/global/plugins/select2/select2.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/admin/pages/css/login.css")" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="@Url.Content("~/Content/assets/global/css/components-rounded.css")" id="style_components" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/css/plugins.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/admin/layout/css/layout.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/admin/layout/css/themes/default.css")" rel="stylesheet" type="text/css" id="style_color" />
    <link href="@Url.Content("~/Content/assets/admin/layout/css/custom.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css"/>*@
    <!-- END THEME STYLES -->

    <link rel="shortcut icon" href="favicon.ico" />

</head>

<!-- BEGIN BODY -->
<body class="login" style="background:none !important;">

    <!-- BEGIN LOGO -->
    <div class="logo">
       
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        @using (Ajax.BeginForm("Login", "Home", null, new AjaxOptions { UpdateTargetId = "contact_form" }, new { @id = "login_form", @class = "login-form" }))
        {
            <input type="hidden" id="hdnreturnurl" name="hdnreturnurl" value="@ViewBag.returnurl" />

            <form class="login-form">
                <h3 class="form-title">Login to your account</h3>
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span>
                        Enter any username and password.
                    </span>
                </div>

                @if (!String.IsNullOrEmpty(@ViewBag.Message) && @ViewBag.Message != null)
                {
                    <h5 class="field-validation-error span" style="color:red;">@ViewBag.Message</h5>
                }
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Email Address</label>
                    <div class="input-icon">
                        <i class="icon-user"></i>
                        @Html.TextBoxFor(x => x.UserEmail, new { @class = "form-control placeholder-no-fix", autocomplete = "off", @id = "emailId", @name = "emailId", @placeholder = "Your Email Address" })
                        <p class="field-validation-error span">@Html.ValidationMessageFor(m => m.UserEmail)</p>  <span class="field-validation-error span" style="color:red;" id="spanemailId"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <div class="input-icon">
                        <i class="icon-lock"></i>
                        @Html.PasswordFor(x => x.UserPassword, new { @class = "form-control placeholder-no-fix", autocomplete = "off", @id = "password", @name = "UserPassword", @placeholder = "Password" })
                        <p class="field-validation-error span">@Html.ValidationMessageFor(m => m.UserPassword)</p>
                        <span id="spanpassword" class="field-validation-error span" style="color:red;"> </span>
                    </div>
                </div>

               

                <div class="form-actions">
                    <button type="submit" class="btn btn-success uppercase" id="btnSubmit">
                        Login <i class="m-icon-swapright m-icon-white"></i>
                    </button>

                    <label class="rememberme check">
                        <input type="checkbox" name="remember" id="remember" value="1" /> Remember
                    </label>
                    @*<a id="forget-password" class="forget-password" type="button" href="@Url.Action("Forgot_Password", "Home")"><i class="forget-password"></i>Forgot Password?</a>*@
                </div>

              
                @*<div class="create-account">
                    <p>
                        @Html.ActionLink("Create an account", "SignUp", "Home")
                    </p>
                </div>*@
            </form>
        }
        <!-- END LOGIN FORM -->

    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright">
        &copy; @DateTime.Now.Year Broward.
    </div>
    <!-- END COPYRIGHT -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
        <script src="assets/plugins/respond.min.js"></script>
        <script src="assets/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery-migrate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js")" type="text/javascript" ></script>*@
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery.cokie.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/uniform/jquery.uniform.min.js")" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery-validation/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/backstretch/jquery.backstretch.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/global/plugins/select2/select2.min.js")"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="@Url.Content("~/Content/assets/global/scripts/metronic.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/admin/layout/scripts/layout.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/admin/layout/scripts/demo.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/admin/pages/scripts/login.js")" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Login.init();
            Demo.init();
           
            (function ($) {
                $(document).ready(function () {
                    $('#login_form').makeValidationInline();
                });
            });



            jQuery('#btnSubmit').click(function (e) {
              
              
                  
                var haserror = false;
                if ($.trim($("#emailId").val()) == "" || $.trim($("#emailId").val()).length < 0) {
                    e.preventDefault();
                    $("#spanemailId").html('Please enter email address.');
                    $("#emailId").css({ "border-color": "Red" });
                    $("#emailId").focus();
                    haserror = true;
                  
                }
                else {
                    var email = $.trim($("#emailId").val());
                    var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                    var result = filter.test(email);
                    if (result == true) {
                        $("#spanemailId").html("");
                        $("#emailId").css({ "border-color": "" });
                    }
                    else if (result == false) {
                        $("#spanemailId").html('Invalid email, please enter valid email.');
                        $("#emailId").css({ "border-color": "Red" });
                        $("#emailId").focus();
                        haserror = true;
                      
                    }
                }


                if ($.trim($("#password").val()) == "" || $.trim($("#password").val()).length < 0) {
                    e.preventDefault();
                    $("#spanpassword").html('Please enter password.');
                    $("#password").css({ "border-color": "Red" });
                    $("#password").focus();
                    haserror = true;
                  
                }
                else {
                    $("#spanpassword").html('');
                    $("#password").css({ "border-color": "" });
                }

             
               
                if (haserror == true) {
                    return false;
                }
            });

        });

       

       

      
      
      
    </script>
    <!-- END JAVASCRIPTS -->
   

</body>
<!-- END BODY -->
</html>
