﻿@model IEnumerable<SharkAppWeb.ViewModel.OtherProperty>
@{
    ViewBag.Title = "OtherProperties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <h4>
                    <b>Other Properties</b>
                </h4>
            </div>
        </div>
        <br />
        
        <div class="row" >
            <div class="col-md-12">
                <div class="portlet-body form">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                Broward Other Properties List
                            </div>
                        </div>
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet-body" id="clsPropertyDetails">
                            @Html.Partial("_ShowOtherProperties");
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                    <!-- END PAGE CONTENT-->
                </div>
            </div>
        </div>
    </div>
</div>
<a class="link" href="#myModal4Pr" data-toggle="modal" title="Login" id="popupProperty"></a>
<div id="myModal4Pr" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 id="spnMessage"></h4>
            </div>
            <div class="modal-body">
                <div id="dvPropertyDetails">

                </div>
            </div>
        </div>
    </div>
</div>
<a href="#myModaldelete" id="popupdelete" data-toggle="modal"></a>
<div id="myModaldelete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel122" aria-hidden="true">
    <div class="modal-dialog" style="max-width:400px;min-height:50%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnSuccess"></button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hdnAddressID" />
                <span id="deleteMsg" name="deleteMsg"></span>
            </div>
            <div class="modal-footer">
                <button class="btn blue btnok" id="btnok" data-dismiss="modal" aria-hidden="true">Ok</button>
                <button class="btn default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <input type="hidden" id="hdnAddressID" />
            </div>
        </div>
    </div>
</div>
<a href="#myModalMessage" id="popupMessage" data-toggle="modal"></a>
<div id="myModalMessage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel122" aria-hidden="true">
    <div class="modal-dialog" style="max-width:400px;min-height:50%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnSuccess"></button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">

                <span id="spnMessagetext" name="spnMessage"></span>
            </div>
            <div class="modal-footer">
                <button class="btn blue " data-dismiss="modal" aria-hidden="true">Ok</button>
                <button class="btn default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <input type="hidden" id="hdnAddressID" />
            </div>
        </div>
    </div>
</div>
<a class="link" href="#myModal41" data-toggle="modal" title="Login" id="popupviewdata"></a>
<div id="myModal41" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog" style="width: 67% !important;">
        <div class="modal-content">
            <div class="modal-header">
                <center>Previous Year Details</center> <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-10">
                            <div class="row" id="clsPropertyList">
                            </div>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function GetDetailsMortgage(evt, Mortgagelink) {
        var _AddressID = evt;

        $.ajax({
            url: '@Url.Action("GetandSaveMortgage", "Home")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            // dataType: 'json',
            data: JSON.stringify({ 'AddressID': _AddressID, 'MortgageCFN': Mortgagelink }),
            async: false,
            success: function (data) {

                $("#dvPropertyCompare").html(data);
                $("#popupCompare")[0].click();
            },
            error: function (xhr) {
                debugger;
                alert('error in Process');
            }
        });
    }

    function ViewPriviousYearsdetail(AddressID) {
        $('.loading').show();
        $.ajax({
            url: String('@Url.Action("GetOtherPriviousYearsDetails", "Home")'),
            type: "POST",
            data: { AddressID: AddressID },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $("#clsPropertyList").html('');
                $("#clsPropertyList").html(data);
                $("#popupviewdata")[0].click();
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }

    function ViewPropertydetail(AddressID) {
        $('.loading').show();
        $.ajax({
            url: String('@Url.Action("GetOtherPropertiesDetails", "Home")'),
            type: "POST",
            data: { AddressID: AddressID },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $("#dvPropertyDetails").html(data);
                $("#popupProperty")[0].click();
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }

    $("#btnok").click(function () {
        $('.loading').show();
        var AddressID = $("#hdnAddressID").val();
        $.ajax({
            url: '@Url.Action("DeleteOtherProperty", "Home")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: 'JSON',
            data: JSON.stringify({ 'AddressID': AddressID }),
            async: false,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                GetOtherPropertyList();
                $("#deleteMsg").html(data);
                $("#popupdelete")[0].click();
            },
            error: function () {
                $("#deleteMsg").html('Something went wrong, try again!');
                $("#popupdelete")[0].click();
                data = false;
            }
        });
    })
    function DeleteProperty(AddressID) {
        $("#hdnAddressID").val(AddressID);
        $("#deleteMsg").html('Are you sure you want to delete Property ?.');
        $("#popupdelete")[0].click();
    }

    function GetOtherPropertyList() {
        $('.loading').show();
        var SrchDefendantID = $("hdnSrchDeftID").val();
        $.ajax({            
            url: '@Url.Action("ShowOtherPropertyList", "Home")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: 'JSON',
            data: JSON.stringify({ 'SrchDefendantID': SrchDefendantID }),
            async: false,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $("#clsPropertyDetails").html("");
                $("#clsPropertyDetails").html(data);
                TableManaged.init();
            },
            error: function () {
            }
        });
    }

</script>
