﻿@model List<System.Data.DataRow>
@{
    ViewBag.Title = "OtherComparision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>OverView Of Selected Other Properties
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-12" align="right">
                            <input type="hidden" id="hdnAddressId" value="@ViewBag.AddressID" />
                            <input type="hidden" id="hdnCmpFolioTOId" />
                            <input type="button" onclick="AddPropertiesBcpa();" value="Add more Properties" class="btn blue" />
                            <input type="button" onclick="AveragesBcpa();" value="Averages" class="btn blue" />
                            <input type="button" onclick="AdjustMent();" value="AdjustMents" class="btn blue" />
                            @*<input type="button" onclick="AddmoreProperties();" value="Add more Properties" class="btn blue" />*@
                        </div>
                    </div>
                    <div id="dvComparison">
                        @{Html.RenderAction("ShowOtherComparison", "Home", new { AddressID = @ViewBag.AddressID });}

                    </div>
                    <div id="showothercomp" style="display:none;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <label>
                                                    Average of Compares
                                                </label>
                                            </div>
                                            <div class="col-md-6">
                                                <label id="lblAvgAllComp">

                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <label>
                                                    Our Market Value
                                                </label>
                                            </div>
                                            <div class="col-md-6">
                                                <label id="lblAvgMarketValue">

                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <label>
                                                    Change In Our Price
                                                </label>
                                            </div>
                                            <div class="col-md-6">
                                                <label id="lblAvgOurPrice">

                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <label>
                                                    Change In Assessed Price
                                                </label>
                                            </div>
                                            <div class="col-md-6">
                                                <label id="lblAvgAssessedPrice">

                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a class="link" href="#myModalCompare" data-toggle="modal" title="Login" id="popupCompare"></a>
<div id="myModalCompare" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close closebutton" data-dismiss="modal" aria-hidden="true"></button>
                <h4>Compare properties</h4>
            </div>
            <div class="modal-body">
                <form id="FolioIDform" method="post" enctype="multipart/form-data">
                    <input type="hidden" id="hdnAddressToID" name="hdnAddressToID" />
                    <div id="dvPropertyCompare">

                    </div>

                    <div class="modal-footer">
                        <div class="right">
                            @*<a id="btnCompare" class="btn blue" onclick="CompareProperties()" sty>Compare Properties</a>*@
                            @*<input type="button" class="btn blue" id="btnSubmitFields" onclick="SubmitFields()" value="Submit" />*@
                            <input type="button" class="btn blue" id="CompareFolionumber" onclick="CompareFolio()" value="Compare" />
                            <button class="btn default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<a class="link" href="#myModal4Pr" data-toggle="modal" title="Login" id="popupProperty"></a>
<div id="myModal4Pr" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 id="spnMessage"></h4>
            </div>
            <div class="modal-body">
                <div id="dvPropertyDetails">

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn blue btnok" id="btnok" data-dismiss="modal" aria-hidden="true">Ok</button>

            </div>
        </div>
    </div>
</div>
<a href="#myModaldelete" id="popupdelete" data-toggle="modal"></a>
<div id="myModaldelete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel122" aria-hidden="true">
    <div class="modal-dialog" style="max-width:400px;min-height:50%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnSuccess"></button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <span id="deleteMsg" name="deleteMsg"></span>
            </div>
            <div class="modal-footer">
                <button class="btn blue btnok" id="btnok" data-dismiss="modal" aria-hidden="true">Ok</button>
                <button class="btn default" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>


    function AdjustMent() {
        var SubJectAddressID = $("#hdnAddressId").val();
        var _html = $("#tbodyrow").html();
        var _url = 'ViewOtherAdjustment?SubJectAddressID=' + SubJectAddressID;
        window.location.href = _url;
    }

    function RemoveAvrageColumn() {
        $("#tbodyrow tr").each(function (i) {
            $(this).find(".clsAverage").remove();

        });
        $("#showothercomp").css('display', 'none');
    }

    function AveragesBcpa() {
        var _avglandFactor = 0;
        var _avgAdvBldgSF = 0;
        var _avgSaleprice = 0;
        var _avgMarketPrSqFt = 0;
        var _avgSalepricePrSqFt = 0;
        var _avgUnitsBEDBath = 0;
        var _avgMilage = 0;
        var _avgUse = 0;
        var _cntRow = 0;
        var _lentd = 0;
        var SubJectLandFactor = 0;
        var SubjectSalePrice = 0;
        var SubjAssessedprice = 0;
        $("#tbodyrow tr").each(function (i) {
            _lentd = $(this).find("td").length - 1;
            var _cnt = 0;
            if (_cntRow == 4) {
                var totallandFactor = 0;

                $(this).find("td").each(function () {
                    if (_cnt != 0) {
                        var _tdhtml = $(this).html().replace(",", "");

                        if (_tdhtml != "" && _tdhtml != null) {
                            totallandFactor += +parseFloat(_tdhtml);
                        }
                    }
                    if (_cnt == 1) {
                        SubJectLandFactor = $(this).html().replace(",", "");


                    }
                    _cnt++;
                })
                _avglandFactor = totallandFactor / _lentd;
            }
            else if (_cntRow == 5) {
                var totalAdvBldgSF = 0;

                $(this).find("td").each(function () {
                    if (_cnt != 0) {
                        var _tdhtml = $(this).html().replace(",", "");

                        if (_tdhtml != "" && _tdhtml != null) {
                            totalAdvBldgSF += +parseFloat(_tdhtml);
                        }
                    }
                    _cnt++;
                })
                _avgAdvBldgSF = totalAdvBldgSF / _lentd;
            }
            else if (_cntRow == 6) {
                var totalSaleprice = 0;

                $(this).find("td").each(function () {
                    if (_cnt != 0) {
                        var _tdhtml = $(this).html().replace(",", "").replace("$", "");

                        if (_tdhtml != "" && _tdhtml != null) {
                            totalSaleprice += +parseFloat(_tdhtml);
                        }
                    }
                     if (_cnt == 1) {
                        SubjectSalePrice = $(this).html().replace(",", "").replace("$", "");
                    }
                    _cnt++;
                })
                _avgSaleprice = totalSaleprice / _lentd;
            }
            else if (_cntRow == 7) {
                var totalAssedMarket = 0;

                $(this).find("td").each(function () {
                    if (_cnt != 0) {
                        var _tdhtml = $(this).html().replace(",", "").replace("$", "");

                        if (_tdhtml != "" && _tdhtml != null) {
                            totalAssedMarket += +parseFloat(_tdhtml);
                        }
                         if (_cnt == 1) {
                            SubjAssessedprice = $(this).html().replace(",", "").replace("$", "");
                        }
                    }
                    _cnt++;
                })
                _avgMarketPrSqFt = totalAssedMarket / _lentd;
            }
            else if (_cntRow == 8) {
                var totalSalepricePrSqFt = 0;

                $(this).find("td").each(function () {
                    if (_cnt != 0) {
                        var _tdhtml = $(this).html().replace(",", "");

                        if (_tdhtml != "" && _tdhtml != null) {
                            totalSalepricePrSqFt += +parseFloat(_tdhtml);
                        }
                    }
                    _cnt++;
                })
                _avgSalepricePrSqFt = totalSalepricePrSqFt / _lentd;
            }
            else if (_cntRow == 12) {
                var totalUnits = 0;
                var totalBED = 0;
                var totalBath = 0;
                $(this).find("td").each(function () {
                    if (_cnt != 0) {
                        var _tdhtml = $(this).html().split('/');
                        if (_tdhtml != "" && _tdhtml != null) {
                            totalUnits += +parseFloat(_tdhtml[0] == undefined ? 0 : _tdhtml[0]);
                            totalBED += +parseFloat(_tdhtml[1] == undefined ? 0 : _tdhtml[1]);
                            totalBath += +parseFloat(_tdhtml[2] == undefined ? 0 : _tdhtml[2]);
                            
                        }
                    }
                    _cnt++;
                })               
                _avgUnitsBEDBath = totalUnits / _lentd + "/" + totalBED / _lentd + "/" + totalBath / _lentd;

            }
            else if (_cntRow == 13) {
                var totalMilage = 0;
                $(this).find("td").each(function () {
                    if (_cnt != 0) {
                        var _tdhtml = $(this).html();
                        if (_tdhtml != "" && _tdhtml != null) {
                            totalMilage += +parseFloat(_tdhtml);
                        }
                    }
                    _cnt++;
                })
                _avgMilage = totalMilage / _lentd;

            }
            else if (_cntRow == 14) {
                var totalUse = 0;
                $(this).find("td").each(function () {
                    if (_cnt != 0) {
                        var _tdhtml = $(this).html();
                        if (_tdhtml != "" && _tdhtml != null) {
                            totalUse += +parseFloat(_tdhtml);
                        }
                    }
                    _cnt++;
                })
                _avgUse = totalUse / _lentd;
            }
            _cntRow++;

        });

        var rowcnt = 0;
        $("#tbodyrow tr").each(function (i) {
            if (rowcnt == 0) {
                $(this).append("<td class='clsAverage'><b>Averages</b></td>");
            }
            else if (rowcnt == 4) {
                $(this).append("<td class='clsAverage'><b>" + _avglandFactor + "</b></td>");
            }
            else if (rowcnt == 5) {
                $(this).append("<td class='clsAverage'><b>" + _avgAdvBldgSF.toFixed(2) + "</b></td>");
            }
            else if (rowcnt == 6) {
                $(this).append("<td class='clsAverage'><b>$" + _avgSaleprice.toFixed(2) + "</b></td>");
            }
            else if (rowcnt == 7) {
                $(this).append("<td class='clsAverage'><b>$" + _avgMarketPrSqFt.toFixed(2) + "</b></td>");
            }
            else if (rowcnt == 8) {
                $(this).append("<td class='clsAverage'><b>$" + _avgSalepricePrSqFt.toFixed(2) + "</b></td>");
            }
            else if (rowcnt == 12) {
                $(this).append("<td class='clsAverage'><b>" + _avgUnitsBEDBath + "</b></td>");
            }
            else if (rowcnt == 13) {
                $(this).append("<td class='clsAverage'><b>" + _avgMilage.toFixed(2) + "</b></td>");
            }
            else if (rowcnt == 14) {
                $(this).append("<td class='clsAverage'><b>" + _avgUse + "</b></td>");
            }
            else {
                $(this).append("<td class='clsAverage'></td>");
            }
            rowcnt++
        });
        var lblAvgAllComp = _avgSalepricePrSqFt;

        var lblAvgMarketValue = parseInt(_avgSalepricePrSqFt) * parseInt(SubJectLandFactor == "" ? 1 : SubJectLandFactor);
        var lblAvgOurPrice = parseInt(lblAvgMarketValue == "" ? 0 : lblAvgMarketValue) - parseInt(SubjectSalePrice == "" ? 0 : SubjectSalePrice);
       
        var lblAvgAssessedPrice = parseInt(SubjectSalePrice == "" ? 0 : SubjectSalePrice) - parseInt(SubjAssessedprice == "" ? 0 : SubjAssessedprice);
        $("#lblAvgAllComp").text("$"+lblAvgAllComp);
        $("#lblAvgMarketValue").text("$" + lblAvgMarketValue);
        $("#lblAvgOurPrice").text("$" + lblAvgOurPrice);
        $("#lblAvgAssessedPrice").text("$" + lblAvgAssessedPrice);

        $("#showothercomp").css('display', 'block');

    }


    function CompareFolio() {
        var haserror = false;
        if ($('.chkFolio:checkbox:checked').length == 0) {
            haserror = true;
            var _html = "<span>Please select Property for compare.</span>"
            $("#dvPropertyDetails").html(_html);
            $("#popupProperty")[0].click();
        }
        else {
            if (haserror == true) {
                return false;
            }
            else {

                ComparePropertyShow();
            }
        }

    }

    function Uncheck() {
        $("#foliotbody tr").each(function () {
            $(this).find(".chkFolio").attr('checked', false);

        });
    }

    function ComparePropertyShow() {
        var k = 2;
      var  rowhtml = [];
        $("#foliotbody tr").each(function () {
            var _text = $(this).find(".chkFolio:checkbox:checked").length;

            if (_text > 0) {
                var _htmltr = "<tr>" + $(this).closest("tr").html() + "</tr>";
                rowhtml.push(_htmltr);
                var row = [];
                var _cnt = 1;

                var _btnhtml = "<button type='button' class='bootbox-close-button close' onclick='RemoveColumn(" + k + ")'></button>";
                row.push(_btnhtml);
                //------------------ Push td item in array ----------------------//
                $(_htmltr).find('td').each(function () {
                    if (_cnt == 3) {
                        row.push(" ");

                    }
                    row.push($(this).html());
                    _cnt++
                });
                var rowcnt = 0;
                //------------------ Insert New Coulmn From Array item ----------------------//
                $("#tbodyrow tr").each(function (i) {
                    if (rowcnt < 3) {
                        $(this).append("<td><b>" + row[i] + "</b></td>");
                    }
                    else {
                        $(this).append("<td>" + row[i] + "</td>");
                    }
                    rowcnt++
                })
                k++;
            }

        })
        SaveRowData(rowhtml);

        Uncheck();
    }
    function SaveRowData(rowhtml) {
        var SubJectAddressID = $("#hdnAddressId").val();
        debugger;
        $('.loading').show();
            $.ajax({
                url: '@Url.Action("SaveOthercomparedData", "Home")',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ 'SubJectAddressID':SubJectAddressID,'Rowhtml': rowhtml }),
                async: false,
                ajaxStart: function () { $('.loading').show(); },
                complete: function () { $('.loading').hide(); },
                success: function (data) {
                    $(".closebutton").click();
                    ShowComparisonDiv();
                },
                error: function (xhr) {

                    alert('error in Process');
                }
            });
        }


    function AddPropertiesBcpa() {
        var _AddressID = $("#hdnAddressId").val();
        var count = 1;
        RemoveAvrageColumn();
        $('.loading').show();
        $.ajax({
            url: '@Url.Action("MsOtherComparisonBP", "Home")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'AddressID': _AddressID, 'count': count }),
            async: false,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {               
                $("#dvPropertyCompare").html(data);
                $('#sample_4').dataTable({
                    "lengthMenu": [
               [5, 15, 20, -1],
               [5, 15, 20, "All"] // change per page values here
                    ],
                    // set the initial value
                });
                $("#popupCompare")[0].click();
            },
            error: function (xhr) {
                alert(xhr.responseText);
                //alert('error in Process');
            }
        });
    }

    function AddpropertyAdrsField(control) {
        debugger;
        var ctrl = control.parent().parent().parent().parent().parent();
        var id = control.parent().parent().parent().parent().attr('id');
        var _htmlClone = $("#dvpropertyFields-" + id).html();
        var StreetNumber = $.trim($(".txtStreetNumber").val());
        var StreetDirection = $.trim($(".txtStreetDirection").val());
        var StreetName = $.trim($(".txtStreetName").val());
        var StreetType = $.trim($(".txtStreetType").val());
        var PostDirection = $.trim($(".txtPostDirection").val());
        var UnitNumber = $.trim($(".txtUnitNumber").val());
        var StreetCity = $.trim($(".txtStreetCity").val());
        var completeAddress = StreetNumber + "," + StreetDirection + "," + StreetName + "," + StreetType + "," + PostDirection + "," + UnitNumber + "," + StreetCity;

        $("#dvpropertyFields-" + id).html('');
        id++;

        if ($("#" + id).length) {
        }
        else {
            var html = "<div class='row clsproperty' id='" + id + "'><div class='row'><div class='col-md-1'></div><div class='col-md-11'><div class='row'><div class='form-group'><label class='control-label col-md-4'>Property Address</label><div class='col-md-7'><input type='text' id='txtPropertyAddress-" + id + "' name='txtPropertyAddress' class='form-control txtPropertyAddress'/></div></div></div></div></div>";
            html += "<div class='row' id='dvpropertyFields-" + id + "'>" + _htmlClone + "</div>";

            ctrl.after().append(html);
            $("#txtPropertyAddress-" + id).val(completeAddress);
        }
    }

    function AddFolioIdField(control) {
        debugger;
        var ctrl = control.parent().parent().parent().parent();
        var id = control.parent().parent().parent().attr('id');
        id++;

        if ($("#" + id).length) {
        }
        else {
            var html = "<div class='row clsFolio' id='" + id + "'><div class='col-md-4' style='margin-left:0px;'><div class='form-group'>";
            html += "<label>Enter Folio ID</label></div>";
            html += "</div><div class='col-md-6'><div class='form-group'>";
            html += "<input type='text' id='txtFolioId' name='txtFolioId'  class='form-control' style='margin-left:10px;width:218px;' /> <span class='spntxtFolioId' style='color:red;'></span></div></div>";
            html += "<div class='col-md-2' style='margin-left:0px;'><div class='form-group'><a onclick='AddFolioIdField($(this))'  class='btn blue icon icon-plus'></a>";
            html += "</div></div></div>";
            ctrl.after().append(html);
        }
    }

    function DeleteFolioId(AddressID) {

        $("#hdnCmpFolioTOId").val(AddressID);
        $("#deleteMsg").html('Are you sure you want to delete Property ?.');
        $("#popupdelete")[0].click();
    }
    function DeletepropertyAdrs(AddressID) {
        $("#hdnCmpFolioTOId").val(AddressID);
        $("#deleteMsg").html('Are you sure you want to delete Property ?.');
        $("#popupdelete")[0].click();
    }



    $("#btnok").click(function () {
        $('.loading').show();
        var AddressID = $("#hdnCmpFolioTOId").val();
        $.ajax({
            url: '@Url.Action("DeleteOtherPropertyFolio", "Home")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: 'JSON',
            data: JSON.stringify({ 'CmpFolioTOId': AddressID }),
            async: false,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $(".closebutton")[0].click();

                ShowComparisonDiv();

                $("#deleteMsg").html(data);
                $("#popupdelete")[0].click();
            },
            error: function () {
                $("#deleteMsg").html('Something went wrong, try again!');
                $("#popupdelete")[0].click();
                data = false;
            }
        });
    })

    
    
    function ShowComparisonDiv() {
        $('.loading').show();
        var _AddressID = $("#hdnAddressId").val();
        // debugger;
        $.ajax({
            url: '@Url.Action("ShowOtherComparison", "Home")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            // dataType: 'json',
            data: JSON.stringify({ 'AddressID': _AddressID }),
            async: false,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $("#dvComparison").html(data);
                //TableManaged.init();
            },

            error: function (xhr) {
                debugger;
                alert('error in Process');
            }
        });
    }

    function RemoveColumn(Count) {
        $('table tr').find('td:eq(' + Count + ')').remove();
    }
</script>
