﻿@model SharkAppWeb.ViewModel.PalmBeachCasesSunbizDetail
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CaseView";
}

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-reorder"></i>Property Owner's Details
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body form">
        <div class="form-body">
            <div class="row">
                <div class="col-md-2"><b>Company Name</b></div>
                <div class="col-md-4">@Model.DirectorName</div>
                <div class="col-md-2"><b>FEI/EIN Number</b></div>
                <div class="col-md-4">@Model.FEIEIN</div>
            </div>
            <div class="row">
                <div class="col-md-2"><b>Status</b></div>
                <div class="col-md-4">@Model.Status</div>
                <div class="col-md-2"><b>State</b></div>
                <div class="col-md-4">@Model.State</div>

            </div>
            <div class="row">
                <div class="col-md-2"><b>Document Number</b></div>
                <div class="col-md-4">@Model.DocumentNumber</div>
                <div class="col-md-2"><b>Sunbiz Url</b></div>
                <div class="col-md-4"><a href="@Model.url" target="_blank">Click to navigate</a></div>
            </div>
        
        </div>
        </div>
    </div>


<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-reorder"></i>Address Details
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body form">
        <div class="form-body">
            <div class="row">
                <div class="col-md-2"><b>Principal Address</b></div>
                <div class="col-md-4">@Model.PrincipalAddress</div>
                <div class="col-md-2"><b>Mailing Address</b></div>
                <div class="col-md-4">@Model.MailingAddress</div>
            </div>
            <div class="row">
                <div class="col-md-2"><b>Registered Agent Name & Address</b></div>
                <div class="col-md-4">@Model.RegisteredAgentName</div>
               
            </div>
           
        </div>
    </div>
</div>

