﻿@*@model List<SharkAppWeb.ViewModel.SrchDefandant>
    @{
        ViewBag.Title = "ProformaDetails";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@


<div class="row">
    <div class="col-md-12 responsive">
        <div class="portlet-body form">
            @*<div class="portlet box blue">*@
            <div class="portlet-title">
                <div class="caption">
                    See Financial
                </div>
            </div>
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet-body form">
                <div class="form-body">

                    <div class="row">

                        <div class="col-sm-1"></div>
                        <div class="tab">
                            <div class="col-md-12">
                                <!-- Custom Tabs -->
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs hidden-print">
                                        <li class="active" id="Property"><a href="#tab_1" data-toggle="tab">Property Description</a></li>
                                        <li><a href="#tab_2" data-toggle="tab">Development Budget</a></li>
                                        <li><a href="#tab_3" data-toggle="tab">Cash Flow Cash Buy</a></li>

                                    </ul>
                                    <div class="row hidden-print">
                                        <div class="col-sm-11"></div>
                                        <div class="col-sm-1">
                                            <input type="button" class="btn blue" value="Export" id="btnExport" />
                                        </div>
                                    </div>
                                    <br />


                                    <!-- /.tab-content -->
                                </div>
                                <!-- nav-tabs-custom -->
                            </div>
                            <div class="tab-content" id="Export" style="margin: 0 0 1.5em 0">
                                <div class="tab-pane active" id="tab_1">
                                    <form class="form" style="max-width: 1800px; width: 1005x;">
                                        <div style="width:100%">
                                            <table style="width:100%">
                                                <tr>
                                                    <td colspan="3" style="height:20px;background-color:grey"></td>
                                                </tr>
                                                <tr>
                                                    <td style="width:40%">RESIDENTIAL</td>
                                                    <td rowspan="2" align="center" style="width:20%">@ViewBag.Datetoday</td>
                                                    <td rowspan="2" style="width:40%;background-color:#C2D69A" align="right">
                                                        <label id="lblAddress">
                                                            @ViewBag.OthAddress

                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:40%;background-color:#C2D69A">
                                                        <lable id="lblcodetype">
                                                            @ViewBag.Propertycode
                                                        </lable>
                                                        <br />
                                                        <lable id="blBedBathSqft">
                                                            @ViewBag.Bedbath
                                                        </lable>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td colspan="3" style="height:20px;background-color:grey"></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <br />
                                        <div style="width:100%">
                                            <table style="width:100%">
                                                <tr>
                                                    <td align="left" style="width:15%;color:#953735;font-weight:bold">CASE INFO</td>

                                                </tr>

                                            </table>
                                            @*<br />*@
                                            <table style="width:100%" border="1">
                                                <tr>

                                                    <td align="center" style="width:10%;color:#376091;font:bold">DOCUMENT TYPE</td>
                                                    <td align="center" style="width:10%;color:#376091;font:bold">CASE NUMBER</td>
                                                    <td align="center" style="width:20%;color:#376091;font:bold">PLAINTIFF</td>
                                                    <td align="center" style="width:10%;color:#376091;font:bold">FOLIOID MAP</td>
                                                    <td align="center" style="width:10%;color:#376091;font:bold">INSTRUMENT #</td>
                                                </tr>
                                                <tr>

                                                    <td align="center" style="width:15%;background-color:#C2D69A">
                                                        <label id="lbldocumenttype"> @ViewBag.Documentype</label>
                                                    </td>
                                                    <td align="center" style="width:15%;background-color:#C2D69A"><label id="lblcasenumber">@ViewBag.CaseNumber</label></td>
                                                    <td align="center" style="width:15%;background-color:#C2D69A"> <label id="lblplaintiff">@ViewBag.Plaintiff</label></td>
                                                    <td align="center" style="width:15%;background-color:#C2D69A">
                                                        <label id="lblfolioid">@ViewBag.FolioID</label>
                                                    </td>
                                                    <td align="center" style="width:15%;background-color:#C2D69A">
                                                        <label id="lblInstrument">@ViewBag.Instrument</label>
                                                    </td>

                                                </tr>

                                            </table>
                                            <br />
                                            <table style="width:100%">
                                                <tr>
                                                    <td align="left" style="width:15%;color:#953735;font-weight:bold">OWNER(S) INFO</td>

                                                </tr>

                                            </table>
                                            @*<br />*@

                                            <table style="width:100%" border="1">
                                                <tr>
                                                    @*<td align="center" style="width:15%;color:#953735;font-weight:bold">OWNER(S) INFO</td>*@
                                                    <td align="center" style="width:15%;color:#376091;font:bold">PROPERTY OWNER'S NAME</td>
                                                    <td align="center" style="width:15%;color:#376091;font:bold">MOBILE NUMBER #1</td>
                                                    <td align="center" style="width:15%;color:#376091;font:bold">EMAIL #1</td>
                                                    <td align="center" style="width:15%;color:#376091;font:bold">EMAIL #2</td>
                                                </tr>
                                                <tr>

                                                    <td align="center" style="width:15%;background-color:#C2D69A">
                                                        <label id="lblOwner">@ViewBag.PropertyOwner</label>
                                                    </td>
                                                </tr>

                                            </table>
                                            <br />

                                            <table style="width:100%">
                                                <tr>
                                                    <td align="left" style="width:15%;color:#953735;font-weight:bold">NOTES ON PROPERTY</td>

                                                </tr>

                                            </table>
                                            <div style="width:100%">
                                                <p style="background-color:#F79646">
                                                    Sellers' Market <br />
                                                    Zillow predicts 33029 home values will rise 1.9% next year, compared to a 5.6% increase for Hollywood
                                                    as a whole. Among 33029 homes, this home is valued 11.2% less than the midpoint (median) home,
                                                    but is valued 3.5% more per square foot.<br />
                                                    Walk Score ®  1  (Car-Dependent)<br />
                                                    Transit Score ™  0  (No Nearby Transit)<br />
                                                    ____________________<br />
                                                    Great corner unit house with a fully fenced oversized lot.
                                                    Upgraded kitchen with granite counter tops and new SS appliances.
                                                    Freshly painted inside and outside. New wooden floors in all bedrooms
                                                    and tile in main areas.

                                                </p>


                                            </div>
                                            <br />
                                            <table style="width:100%">
                                                <tr>
                                                    <td align="left" style="width:15%;color:#953735;font-weight:bold">ZIP CODE</td>

                                                </tr>

                                            </table>
                                            <table style="width:100%" border="1">

                                                <tr>
                                                    <td align="center" style="width:15%;color:#0000FF;font:bold">Market Temp</td>
                                                    <td align="center" style="width:15%;color:#0000FF;font:bold">Median Zestimate</td>
                                                    <td align="center" style="width:15%;color:#0000FF;font:bold">Past 12 Months</td>

                                                </tr>
                                                <tr>
                                                    <td align="center" style="width:15%;color:#376091;font:bold">@ViewBag.MarketTemp</td>
                                                    <td align="center" style="width:15%;color:#376091;font:bold">@ViewBag.MedianZestimate</td>
                                                    <td align="center" style="width:15%;color:#376091;font:bold">@ViewBag.Zillpast</td>

                                                </tr>
                                            </table>
                                            <br />
                                            <table style="width:100%">
                                                <tr>
                                                    <td align="left" style="width:15%;color:#953735;font-weight:bold">PURCHASE PRICE</td>

                                                </tr>

                                            </table>
                                            <table style="width:100%" border="1">

                                                <tr>

                                                    <td align="center" style="width:15%;color:#376091;font:bold">AREA OF PROPERTY</td>
                                                    <td align="center" style="width:15%;color:#376091;font:bold;background-color:#EAF1DD">AREA VALUES RISING</td>
                                                    <td align="center" style="width:15%;color:#376091;font:bold;background-color:#DBE5F1">AREA VALUES STEADY</td>
                                                    <td align="center" style="width:15%;color:#376091;font:bold;background-color:#F2DDDC">AREA VALUES DECLINING</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" style="width:15%;color:#376091;font:bold"> ZILLOW LAST 30 DAY CHANGE</td>
                                                    <td align="center" style="background-color:#EAF1DD">
                                                        <label id="change" style="width:15%;color:#376091">
                                                            4%
                                                        </label>
                                                    </td>
                                                    <td style="background-color:#DBE5F1"></td>
                                                    <td style="background-color:#F2DDDC"></td>

                                                </tr>
                                                <tr>
                                                    <td align="center" style="width:15%;color:#376091;font:bold">ZILLOW ONE YEAR FORECAST</td>
                                                    <td align="center" style="background-color:#EAF1DD">
                                                        <label id="forcast" style="width:15%;color:#376091">
                                                            3.30%
                                                        </label>
                                                    </td>
                                                    <td style="background-color:#DBE5F1"></td>
                                                    <td style="background-color:#F2DDDC"></td>
                                                </tr>
                                                <tr>
                                                    <td align="center" style="width:15%;color:#376091;font:bold">ESTIMATED MARKET PRICE</td>
                                                    <td align="center" style="background-color:#8DB4E3">
                                                        <label id="Estimate">
                                                            @ViewBag.EstimatedMarketPrice
                                                        </label>
                                                    </td>
                                                    <td align="center" style="background-color:#8DB4E3">
                                                        <label id="Estimate1">
                                                            $0
                                                        </label>
                                                    </td>
                                                    <td align="center" style="background-color:#8DB4E3">
                                                        <label id="Estimate2">
                                                            $0
                                                        </label>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td align="center" style="width:15%;color:#376091;font:bold">DESIRED RETURN</td>
                                                    <td align="center" style="background-color:#F79646">
                                                        <label id="Return1">
                                                            20%
                                                        </label>
                                                    </td>
                                                    <td align="center" style="background-color:#F79646">
                                                        <label id="Return2">
                                                            25%
                                                        </label>
                                                    </td>
                                                    <td align="center" style="background-color:#F79646">
                                                        <label id="Return3">
                                                            30%
                                                        </label>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td align="center" style="width:15%;color:#376091;font:bold">SUB TOTAL</td>
                                                    <td align="center" style="background-color:#8DB4E3">
                                                        <label id="Estimate2">
                                                            @ViewBag.SubTotal
                                                        </label>
                                                    </td>
                                                    <td align="center" style="background-color:#8DB4E3"></td>
                                                    <td align="center" style="background-color:#8DB4E3"></td>
                                                </tr>

                                                <tr>
                                                    <td align="center" style="width:15%;color:#376091;font:bold">ESTIMATED SOFT COSTS</td>
                                                    <td align="center" style="background-color:#8DB4E3">
                                                        <label id="EstimateSoft">
                                                            @ViewBag.Estimsoftcost
                                                        </label>
                                                    </td>
                                                    <td align="center" style="background-color:#8DB4E3"></td>
                                                    <td align="center" style="background-color:#8DB4E3"></td>
                                                </tr>

                                                <tr>
                                                    <td align="center" style="width:15%;color:#376091;font:bold">ESTIMATED HARD COSTS</td>
                                                    <td align="center" style="background-color:#8DB4E3">
                                                        <label id="EstimateHard">
                                                            @ViewBag.Estimhardcost
                                                        </label>
                                                    </td>
                                                    <td align="center" style="background-color:#8DB4E3"></td>
                                                    <td align="center" style="background-color:#8DB4E3"></td>
                                                </tr>

                                                <tr>
                                                    <td align="center" style="width:15%;color:#376091;font:bold">CLOSING COSTS</td>
                                                    <td align="center" style="background-color:#8DB4E3">
                                                        <label id="ClosingCost">
                                                            @ViewBag.CLosingCost
                                                        </label>
                                                    </td>
                                                    <td align="center" style="background-color:#8DB4E3"></td>
                                                    <td align="center" style="background-color:#8DB4E3"></td>
                                                </tr>
                                                <tr>
                                                    <td align="center" style="width:15%;color:#376091;font:bold">PURCHASE PRICE ESTIMATOR</td>
                                                    <td align="center" style="background-color:#8DB4E3">
                                                        <label id="Purchaseprice">
                                                            @ViewBag.Purchasepriceestimator
                                                        </label>
                                                    </td>
                                                    <td align="center" style="background-color:#8DB4E3"></td>
                                                    <td align="center" style="background-color:#8DB4E3"></td>
                                                </tr>
                                            </table>
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <table style="width:100%">
                                                        <tr>
                                                            <td align="left" style="width:15%;color:#953735;font-weight:bold">PROPERTY DETAILS</td>

                                                        </tr>

                                                    </table>
                                                    <table style="width:100%" border="1">

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Last Sales Price</td>
                                                            <td align="center" style="background-color:#C2D69A;width:5%">
                                                                <label id="LastSaleprice">
                                                                    @ViewBag.Saleprice

                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Last Sales Date</td>
                                                            <td align="center" style="background-color:#C2D69A;width:5%">
                                                                <label id="LastSaledate">
                                                                    @ViewBag.SaleDate

                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Sale Type</td>
                                                            <td align="center" style="background-color:#C2D69A;width:5%">
                                                                <label id="Saletype">
                                                                    @ViewBag.Saletype

                                                                </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Number Of Units</td>
                                                            <td align="center" style="background-color:#C2D69A;width:5%">
                                                                <label id="Numberunits">
                                                                    @ViewBag.Unit



                                                                </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Number Of Bedrooms</td>

                                                            <td align="center" style="background-color:#C2D69A;width:5%">
                                                                <label id="NumberBedrooms">
                                                                    @ViewBag.Bed
                                                                </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Number Of Bathrooms</td>
                                                            <td align="center" style="background-color:#C2D69A;width:5%">
                                                                <label id="NumberBathrooms">
                                                                    @ViewBag.Bath
                                                                </label>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Adv.Bldg.S.F(Card Scatch)</td>
                                                            <td align="center" style="background-color:#C2D69A;width:5%">
                                                                <label id="AdvBldg">
                                                                    @ViewBag.Advbldg

                                                                </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">LAND AREA(ACRES):</td>
                                                            <td align="center" style="background-color:#C2D69A;width:5%">
                                                                <label id="LANDAREA">
                                                                    @ViewBag.LandArea

                                                                </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Eff./Act. Year Built</td>
                                                            <td align="center" style="background-color:#C2D69A;width:5%">
                                                                <label id="EffAct">
                                                                    @ViewBag.YearBuilt

                                                                </label>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>

                                                <div class="col-sm-6">
                                                    <table style="width:100%" border="1">

                                                        <tr>

                                                            <td align="center" style="width:15%;color:#376091;font:bold">Occupancy</td>

                                                            <td align="center" style="background-color:#F79646;width:5%">
                                                                <label id="lblOccupancy">
                                                                    100%
                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">HOA Fees Per Month</td>
                                                            <td align="center" style="background-color:#C2D69A;width:5%">
                                                                <label id="lblHoaFees">
                                                                    @ViewBag.HOAFee
                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Annual Tax</td>
                                                            <td align="center" style="background-color:#C2D69A;width:5%">
                                                                <label id="lblAnnualTax">
                                                                    @ViewBag.AnnualTax
                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Effective Rent Psf</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="lblEffective">
                                                                    @ViewBag.EffectiveRentpsf
                                                                </label>
                                                            </td>

                                                        </tr>


                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">NOI Stablized</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="lblStablized">
                                                                    @ViewBag.NOIstablized
                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Valuation</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="lblValuation">
                                                                    @ViewBag.Valuation
                                                                </label>
                                                            </td>

                                                        </tr>


                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Cap</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="lblCap">
                                                                    @ViewBag.CAP
                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">PSF Value</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="lblPsfValue">
                                                                    @ViewBag.PSfValue
                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">PSF Purchase</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="lblPsfPurchase">
                                                                    @ViewBag.PSFPurchase
                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">PSF Purchase Vs. Value</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="lblPurchasevalue" style="color:red;">
                                                                    @ViewBag.PSFPurchaseVsValue
                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Purchase Vs. Value</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="lblPurchasevsvalue" style="color:red;">
                                                                    @ViewBag.PurchaseVsValue
                                                                </label>
                                                            </td>

                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <br />
                                            <table style="width:100%">
                                                <tr>
                                                    <td align="left" style="width:15%;color:#953735;font-weight:bold">NET INCOME</td>

                                                </tr>

                                            </table>
                                            <div class="row">
                                                <div class="col-sm-5">


                                                    <table style="width:100%" border="1">
                                                        <tr>

                                                            <td align="left" style="width:15%;color:#376091;font-weight:bold;background-color:#DBE5F1">Monthly</td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Rent Zestimate(Revenue)</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Zestimate">
                                                                    @ViewBag.RentZestimate

                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Est.Refi payment Zillow</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Refipayment">
                                                                    @ViewBag.Refipayment

                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">HOA Fees Per Month</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="HOAFees">
                                                                    @ViewBag.HOAFee

                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Tax</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Tax">
                                                                    @ViewBag.Tax

                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Insurance</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Insurance">
                                                                    @ViewBag.Insurance

                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Maintenance 8%</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Maintenace">

                                                                    @ViewBag.Maintenance
                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Total Expense</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Expense">

                                                                    @ViewBag.TotalExpense
                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold"></td>
                                                            <td align="center" style="width:15%;color:#376091;font:bold"></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Net Income</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Expense">
                                                                    @ViewBag.NetIncome

                                                                </label>
                                                            </td>

                                                        </tr>
                                                    </table>
                                                </div>

                                                <div class="col-sm-2">
                                                    <table style="width:100%" border="1">
                                                        <tr>
                                                            <td align="left" style="width:15%;color:#376091;font-weight:bold;background-color:#DBE5F1">Annual</td>
                                                        </tr>
                                                        <tr>

                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Annual1">

                                                                    @ViewBag.Annual
                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>

                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Annual2">
                                                                    @ViewBag.Annua2

                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>

                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Annual3">
                                                                    @ViewBag.Annua3

                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>

                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Annual4">
                                                                    @ViewBag.Annua4

                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>

                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Annual5">
                                                                    @ViewBag.Annua5

                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>

                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Annual6">
                                                                    @ViewBag.Annua6

                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>

                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Annual7">
                                                                    @ViewBag.Annual7

                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr></tr>

                                                        <tr>

                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Annual8">
                                                                    @ViewBag.Annual8

                                                                </label>
                                                            </td>

                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="col-sm-5">
                                                    <table style="width:100%" border="1">
                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font-weight:bold;background-color:#DBE5F1">CAP</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="CAP1">
                                                                    @ViewBag.CAP1

                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold;background-color:#DBE5F1">Mortgage % of Expenses</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="MortExpense">
                                                                    @ViewBag.Mortpercent

                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold;background-color:#DBE5F1">HOA % of Expenses</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="HOAExpense">
                                                                    @ViewBag.HOAPercent

                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold;background-color:#DBE5F1">Tax % of Expenses</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="TaxExpense">
                                                                    @ViewBag.Taxperc

                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold;background-color:#DBE5F1">Insurance % of Expenses</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="HOAExpense">
                                                                    @ViewBag.Insuranceperc

                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold;background-color:#DBE5F1">Maint. % of Expenses</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="MaintExpense">
                                                                    @ViewBag.Maintenanceeperc

                                                                </label>
                                                            </td>
                                                            <td align="center" style="width:15%;background-color:#F79646;font:bold">8%</td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold;background-color:#DBE5F1">Expenses % of Revenue</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="RevenueExpense">
                                                                    @ViewBag.ExpenseRev

                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr></tr>
                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold;background-color:#DBE5F1">Mortgage % of Expenses</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="MortpercExpense">
                                                                    @ViewBag.Mortexpense

                                                                </label>
                                                            </td>

                                                        </tr>
                                                    </table>
                                                </div>

                                            </div>


                                            <br />
                                            <table style="width:100%">
                                                <tr>
                                                    <td align="left" style="width:15%;color:#953735;font-weight:bold">PROPERTY ESTIMATE</td>

                                                </tr>

                                            </table>
                                            <div class="row">
                                                <div class="col-sm-4">

                                                    <table style="width:100%" border="1">


                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Just/Market Value</td>
                                                            <td align="center" style="background-color:#C2D69A;width:5%">
                                                                <label id="Equity">
                                                                    @ViewBag.JustMarket

                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold;">% Change From Just to Market Value</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Change">
                                                                    15%

                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Est./ Market Value</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Marketval">
                                                                    @ViewBag.EStmarket
                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Est. Return % </td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Estret">
                                                                    @ViewBag.EstReturn
                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Equity % </td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Equityper">
                                                                    @ViewBag.Equityper
                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Difference Est. Market to Est. Equity</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="DiffEquityper">
                                                                    @ViewBag.diffquityMarket
                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Difference Zillow to Est. Market</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="DiffEquityzill">
                                                                    @ViewBag.diffZilltoEstmarket
                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Difference Redfin to Est. Market</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="DiffEquityRed">
                                                                    @ViewBag.diffRedfintoEstmarket
                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Monthly Effective Rent</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="MonthRent">
                                                                    @ViewBag.MonthlyEffectiverent
                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Effective Rent</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="EffectiveRent">
                                                                    @ViewBag.EffectiveRentNew
                                                                </label>
                                                            </td>

                                                        </tr>
                                                    </table>
                                                </div>

                                                <div class="col-sm-2">
                                                    <table style="width:100%" border="1">
                                                        <tr>
                                                            <td align="left" style="width:15%;color:#953735;font-weight:bold">PER SQUARE FOOT</td>

                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Per1">
                                                                    @ViewBag.PerSquareroot1
                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="background-color:white;width:5%">
                                                                <label id="Per1" style="color:white">
                                                                    1
                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="background-color:white;width:5%">
                                                                <label id="Per1" style="color:white">
                                                                    1
                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Per1">
                                                                    @ViewBag.PerSquareroot2
                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="background-color:white;width:5%">
                                                                <label id="Per1" style="color:white">
                                                                    1
                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="background-color:white;width:5%">
                                                                <label id="Per1" style="color:white">
                                                                    1
                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Per1">
                                                                    @ViewBag.PerSquareroot3
                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Per1">
                                                                    @ViewBag.PerSquareroot4
                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="Per1">
                                                                    @ViewBag.PerSquareroot5
                                                                </label>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>


                                                <div class="col-sm-4">
                                                    <table style="width:100%" border="1">


                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Est. Owner's Equity</td>
                                                            <td align="center" style="background-color:#C2D69A;width:5%">
                                                                <label id="Equity">
                                                                    @ViewBag.Estownerequity

                                                                </label>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold;">Est. Owner's Debt</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="EstOwner">
                                                                    @ViewBag.Estdebt

                                                                </label>
                                                            </td>

                                                        </tr>


                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Zillow Market Value</td>
                                                            <td align="center" style="background-color:#C2D69A;width:5%">
                                                                <label id="Zillow">
                                                                    @ViewBag.ZillowMarketval
                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Redfin Market Value</td>
                                                            <td align="center" style="background-color:#C2D69A;width:5%">
                                                                <label id="Redfin">
                                                                    @ViewBag.RedfinMarket

                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Rent Zestimate</td>
                                                            <td align="center" style="background-color:#C2D69A;width:5%">
                                                                <label id="Rent">
                                                                    @ViewBag.RentZestimate

                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Annual Rent Est.</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="AnnualRent">
                                                                    @ViewBag.AnnualRent

                                                                </label>
                                                            </td>

                                                        </tr>

                                                    </table>
                                                </div>
                                                <div class="col-sm-2">
                                                    <table style="width:100%" border="1">
                                                        @*<tr>
                                                                <td align="center" style="background-color:white;width:5%">
                                                                    <label id="Per1" style="color:white">
                                                                        1
                                                                    </label>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td align="center" style="background-color:white;width:5%">
                                                                    <label id="Per1" style="color:white">
                                                                        1
                                                                    </label>
                                                                </td>

                                                            </tr>*@
                                                        @*<tr>
                                                                <td align="center" style="background-color:white;width:5%">
                                                                    <label id="Per1" style="color:white">
                                                                        1
                                                                    </label>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td align="center" style="background-color:white;width:5%">
                                                                    <label id="Per1" style="color:white">
                                                                        1
                                                                    </label>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td align="center" style="background-color:white;width:5%">
                                                                    <label id="Per1" style="color:white">
                                                                        1
                                                                    </label>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td align="center" style="background-color:white;width:5%">
                                                                    <label id="Per1" style="color:white">
                                                                        1
                                                                    </label>
                                                                </td>

                                                            </tr>*@
                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Zillow vs Est. Market %</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="ZillvsEst">

                                                                    @ViewBag.ZillVsEstmarket
                                                                </label>
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">Redfin vs Est. Market %</td>
                                                            <td align="center" style="background-color:#8DB4E3;width:5%">
                                                                <label id="RedvsEst">
                                                                    @ViewBag.RedVsEstmarket

                                                                </label>
                                                            </td>

                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>


                                            <br />
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table style="width:100%">
                                                        <tr>
                                                            <td align="left" style="width:15%;color:#953735;font-weight:bold">UNIT MIX</td>

                                                        </tr>

                                                    </table>
                                                    <table style="width:100%" border="1">
                                                        <tr>

                                                            <td align="center" style="width:10%;color:#376091;font:bold">Number Of Units</td>
                                                            <td align="center" style="width:10%;color:#376091;font:bold">Average SF</td>
                                                            <td align="center" style="width:20%;color:#376091;font:bold">BEDROOMS</td>
                                                            <td align="center" style="width:10%;color:#376091;font:bold">Total SF</td>
                                                            <td align="center" style="width:10%;color:#376091;font:bold">Unit %</td>
                                                        </tr>
                                                        <tr>

                                                            <td align="center" style="width:15%;background-color:#C2D69A">
                                                                <label id="lblUnit"> @ViewBag.Unit</label>
                                                            </td>
                                                            <td align="center" style="width:15%;background-color:#C2D69A"><label id="lblADV">@ViewBag.Advbldg </label></td>
                                                            <td align="center" style="width:15%;background-color:#C2D69A"> <label id="lblBedRoom">@ViewBag.Bed</label></td>
                                                            <td align="center" style="width:15%;background-color:#C2D69A">
                                                                <label id="lblTotalSf">@ViewBag.TotalSf</label>
                                                            </td>
                                                            <td align="center" style="width:15%;background-color:#8DB4E3">
                                                                <label id="lblUnitperc"> @ViewBag.Unitperc</label>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            @*<td align="center" style="width:15%">
                                                                    <label id="lblUnitt"></label>
                                                                </td>*@
                                                            <td align="center" style="width:15%;background-color:#C2D69A">
                                                                <label id="lblUnit"></label>
                                                            </td>
                                                            <td align="center" style="width:15%;background-color:#C2D69A"><label id="lblADV">0</label></td>
                                                            <td align="center" style="width:15%;background-color:#C2D69A"> <label id="lblBedRoom"></label></td>
                                                            <td align="center" style="width:15%;background-color:#C2D69A">
                                                                <label id="lblTotalSf">0</label>
                                                            </td>
                                                            <td align="center" style="width:15%;background-color:#8DB4E3">
                                                                <label id="lblUnitperc">0%</label>
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            @*<td align="center" style="width:15%">
                                                                    <label id="lblUnitt"></label>
                                                                </td>*@
                                                            <td align="center" style="width:15%;background-color:#93CDDD">
                                                                <label id="lblUnit">@ViewBag.Unit</label>
                                                            </td>
                                                            <td align="center" style="width:15%;background-color:#93CDDD"><label id="lblADV">@ViewBag.Advbldg</label></td>
                                                            <td align="center" style="width:15%;background-color:#93CDDD"> <label id="lblBedRoom">1</label></td>
                                                            <td align="center" style="width:15%;background-color:#93CDDD">
                                                                <label id="lblTotalSf">@ViewBag.TotalSf</label>
                                                            </td>
                                                            <td align="center" style="width:15%;background-color:#93CDDD">

                                                                <label id="lblUnitperc">@ViewBag.Unitperc</label>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>

                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table style="width:100%">
                                                        <tr>
                                                            <td align="left" style="width:5%;color:#953735;font-weight:bold">TAX ISSUES</td>
                                                            <td align="center" style="width:15%;background-color:#C2D69A"><label id="lblTotal"></label></td>

                                                        </tr>
                                                    </table>
                                                    <br />
                                                    <table id="TaxDetail" style="width:100%" border="1">
                                                        <tr>

                                                            <td align="center" style="width:15%;color:#376091;font:bold">BILL</td>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">CERTIFICATE BUYER</td>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">BALANCE</td>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">CERTIFICATE AMOUNT</td>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">CERTIFICATE ISSUED DATE</td>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">EXPIRES</td>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">CERTIFICATE</td>
                                                            <td align="center" style="width:15%;color:#376091;font:bold">INTEREST</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table style="width:100%">
                                                        <tr>
                                                            <td colspan="3" style="height:20px;background-color:grey"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10">
                                                    <div style="width:100%">
                                                        <p style="background-color:#DBE5F1">
                                                            The information contained herein has been compiled from sources we consider reliable, and while not guaranteed as to completeness or accuracy, we believe it
                                                            to be correct as of this date. The business plan and budgets do not constitute a representation, warranty or guaranty of any of the numbers set forth herein or of any
                                                            economic value attributable to the property or income that may be derived therefrom.


                                                        </p>


                                                    </div>
                                                </div>

                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-sm-2"></div>
                                                <div class="col-sm-10">
                                                    <div style="width:100%">
                                                        <p style="background-color:#DBE5F1">
                                                            Any cash flow projections reflect one possible perspective as to the property's operating and financial performance in the future. The projections set forth in this
                                                            plan do not constitute a representation, warranty or a guaranty by Simani Realty LLC or any of its affiliates, principals or employees of any of the numbers set forth
                                                            herein or of any economic value attributable to the property or income that may be derived therefrom.  

                                                        </p>


                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                    </form>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_2">

                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_3">

                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.col -->
                        </div>


                    </div>

                    <!-- /.col -->

                </div>

            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
            @*</div>*@
            <!-- END PAGE CONTENT-->
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
   
    //function GetBrowardTaxIssueDetail()
    //{
        @*var SearchDefendantID = @ViewBag.SrchDefendantID;*@
        $.ajax({
            url: '@Url.Action("GetBrowardTaxDetailsFinancial", "Home")',
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            data: { },
            async: false,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (result) {
                var total1 = result.data1;
                var data = result.data;
                //var total1 = Total;

                //$.each(data, function (value, index) {

                //    $('#TaxDetail').find('tbody').append("<tr><td>" + value.SelectedYear + "</td></tr>");

                //});

                for (var i = 0; i < data.length; i++) {

                    $('#TaxDetail').find('tbody').append("<tr><td style='background-color:#C2D69A'>" + data[i].SelectedYear + " " + "Annual Bill" + "</td> <td style='background-color:#C2D69A'>" + data[i].Buyer + "</td><td style='background-color:#C2D69A'>" + data[i].AmountPaidDue + "</td><td style='background-color:#C2D69A'>" + data[i].Faceamount + "</td><td style='background-color:#C2D69A'>" + data[i].Issueddate + "</td><td style='background-color:#C2D69A'>" + data[i].Expirationdate + "</td><td style='background-color:#C2D69A'>" + data[i].CertificateStatus + "</td><td style='background-color:#C2D69A'>" + data[i].Interestrate + "</td></tr>");
                }
                if (total1 == "" || total1 == null) {
                    $("#lblTotal").html("");
                }
                else {

                    $("#lblTotal").html(total1);
                }

            }
        })

        $("#btnExport").click(function () {

            window.print();




        })
    });
//pdfmake = require('pdfmake');
//function pdfExport() {
// html2canvas(document.getElementById('divExpenseDetails'), {
// onrendered: function (canvas) {
// var data = canvas.toDataURL();
// var docDefinition = {
// content: [{
// image: data,
// width: 500,
// }]
// };
// pdfMake.createPdf(docDefinition).download("test.pdf");
// }
// });
//}



        //}

        //ViewBag._VMGetSpokioOwnerList



</script>

