﻿@{
    ViewBag.Title = "SearchedDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Searched Details</h2>


<div class="col-md-12 responsive">
    <div class="portlet-body form">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    Broward Cases
                </div>
            </div>
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet-body">
                <div class="row">

                </div>
                <div class="table-scrollable">
                    <div class="row">
                        <div class="col-md-2">
                        </div>

                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4" align="right">
                            <input type="button" value="Save All Cases Address" id="SaveAllCaseAddress" class="btn blue" />
                        </div>
                        <input type="hidden" id="hdnsearcheddate" value="@ViewBag.Seracheddate" />
                        <div class="col-md-2">
                            <input type="button" value="Save Cases" id="SaveAllCaseDetails" class="btn blue" />
                            <input type="button" value="Export To Excel" id="ImportInExcel" class="btn blue" style="display:none;" />
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="col-md-2">
                        </div>

                        <div class="col-md-4">

                        </div>
                        <div class="col-md-6" align="right">
                            <span><i class="fa fa-info-circle"></i> For export to excel you need to save cases.</span>
                        </div>

                        </div>*@
                    <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="sample_3">
                        <thead>
                            <tr>
                                <th style="display:none;"></th>
                                @foreach (System.Data.DataColumn col in Model.Columns)
                                {
                                    <th>@col.Caption</th>
                                }
                                <th style="display:none;">
                                </th>
                                <th>View Details</th>
                                <th>Address</th>
                                <th>Original PDF</th>
                            </tr>
                        </thead>
                        <tbody id="TbodyBussiness">
                            @foreach (System.Data.DataRow row in Model.Rows)
                            {
                                <tr>
                                    <td style="display:none;"></td>

                                    @foreach (System.Data.DataColumn cell in Model.Columns)
                                    {
                                        <td>@row[cell.ColumnName]</td>

                                    }
                                    <td style="display:none;" class="Details">@row.ItemArray[0]</td>
                                    <td><a onclick="Details('@row.ItemArray[0]')">View</a></td>

                                    <td><a onclick="Viewpdf('@row.ItemArray[0]')">View</a></td>
                                    <td><a onclick="OriginalPDF('@row.ItemArray[0]')">View</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div id="Divtext">

                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<div class="col-sm-12">
    <div class="dim" style="display:none;">
        <center style="padding-top:20%;">
            <img src='~/Images/loading7_gray.gif' width="100" height="100" />
        </center>
    </div>
</div>
<div id="dvImprort" style=" display:none;">

</div>

<a href="#myModal4" data-toggle="modal" id="anchor" class="anchor1"></a>
<div id="myModal4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModal4" aria-hidden="true">
    <div class="modal-dialog" style="width:730px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" style="font-weight:bold;">Case Details</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" id="dvcasedetials">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="close" data-dismiss="modal" class="btn blue" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>

<a href="#myModal5" data-toggle="modal" id="anchor2" class="anchor2"></a>
<div id="myModal5" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModal5" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="msgsuccess">Original Pdf</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" id="dvOriginalPdf">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="close" data-dismiss="modal" class="btn blue" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
    .row {
        padding: 10px;
    }

    
</style>
<script>
   
    $(document).ready(function () {
        var count = 0;
        $('#TbodyBussiness tr').each(function () {
            count++;
        });      
        var hdnSearchedDate = $('#hdnsearcheddate').val();
        CheckSaveCaseDetails(count, hdnSearchedDate);
        //CheckSaveCasesAddress(count, hdnSearchedDate);

    })

    function CheckSaveCaseDetails(count, hdnSearchedDate) {
        $('.loading').show();
        $.ajax({
            url: String('@Url.Action("ChekSaveCaseDetails", "Home")'),
            type: "POST",
            data: { SearchedDate: hdnSearchedDate, Count: count },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                if (data == 'Success') {
                    $('#SaveAllCaseDetails').css('display', 'none');
                    $('#ImportInExcel').css('display', 'block');
                    //$('#SaveAllCaseDetails').attr('disabled', 'disabled');
                    //$('#ImportInExcel').removeAttr('disabled');
                }
                else if (data == 'Save Again') {
                    $('#SaveAllCaseDetails').css('display', 'block');
                    $('#ImportInExcel').css('display', 'none');
                }
                else {
                    //$('#SaveAllCaseDetails').removeAttr('disabled');
                    //$('#ImportInExcel').attr('disabled', 'disabled');
                    $('#SaveAllCaseDetails').css('display', 'block');
                    $('#ImportInExcel').css('display', 'none');
                }
            },
            error: function () { alert('error in Process'); }
        });
    }
    function CheckSaveCasesAddress(count, hdnSearchedDate) {
        $('.loading').show();
        $.ajax({
            url: String('@Url.Action("ChekSaveCasesAddress", "Home")'),
            type: "POST",
            data: { SearchedDate: hdnSearchedDate, Count: count },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                if (data == 'Success') {
                    $('#SaveAllCaseAddress').removeAttr('disabled');
                }
                else if (data == 'Save Again') {
                    $('#SaveAllCaseAddress').attr('disabled', 'disabled');
                }
                else {
                    $('#SaveAllCaseAddress').attr('disabled', 'disabled');
                }
            },
            error: function () { alert('error in Process'); }
        });
    }

    $("#ImportInExcel").click(function () {
        $('#msgsuccess').text("");
        $('.loading').show();
        var hdnSearchedDate = $('#hdnsearcheddate').val();
        $.ajax({
            url: String('@Url.Action("ExportToExcel", "Home")'),
            type: "POST",
            data: { SearchedDate: hdnSearchedDate },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                if (data == "Success") {
                    $('#msgsuccess').text("Success Message ");
                    $('#dvOriginalPdf').html("<span>Exported Into Excel successfully</span>");

                    $("#anchor2")[0].click();
                    $('#SaveAllCaseDetails').css('display', 'none');
                    $('#ImportInExcel').css('display', 'block');
                }
                else {
                    $('#msgsuccess').text("Failure Message ");
                    $('#dvOriginalPdf').html("<span>Error ! Please Try Again</span>");

                    $("#anchor2")[0].click();
                    $('#SaveAllCaseDetails').css('display', 'none');
                    $('#ImportInExcel').css('display', 'block');
                }
            },
            error: function () { alert('error in Process'); }
        });
    });

    function tableToExcelFile(table) {
        var name = "sample";
        var uri = 'data:application/vnd.ms-excel;base64,'
 , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
 , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
 , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }

        if (!table.nodeType) table = document.getElementById(table)
        var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
        window.location.href = uri + base64(format(template, ctx))

    }
    $("#SaveAllCaseAddress").click(function () {
        $('.loading').show();
        $('#msgsuccess').text("");
        $.ajax({
            url: String('@Url.Action("SaveAllCaseAddress", "Home")'),
            type: "POST",
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                if (data == "Success") {
                    $('#msgsuccess').text("Success Message");
                    $('#dvOriginalPdf').html("<span>Saved all cases address successfully</span>");
                    $("#anchor2")[0].click();
                    $('#SaveAllCaseAddress').attr('disabled', 'disabled');
                }
            },
            error: function () { alert('error in Process'); }
        });
    });


    $("#SaveAllCaseDetails").click(function () {
        $('#msgsuccess').text("");
        //$("tbody tr").each(function () {
        //    var _CaseNumber = $.trim($(this).find(".Details").text());

        //});
        $('.loading').show();
        $.ajax({
            url: String('@Url.Action("SaveCasesDetails", "Home")'),
            type: "POST",
            data: { CaseNumber: "CaseNumber" },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $('#msgsuccess').text("Success Message ");
                $('#dvOriginalPdf').html("<span>Saved case details successfully</span>");

                $("#anchor2")[0].click();
                $('#SaveAllCaseDetails').css('display', 'none');
                $('#ImportInExcel').css('display', 'block');
                //$('#SaveAllCaseDetails').attr('disabled', 'disabled');
                //$('#ImportInExcel').removeAttr('disabled');
            },
            error: function () { alert('error in Process'); }
        });


    });
    function PdfView(evt) {
        $('.loading').show();
        var _CaseNumber = $.trim(evt);
        $.ajax({
            url: String('@Url.Action("ViewPdfInTab", "Home")'),
            type: "POST",
            data: { CaseNumber: _CaseNumber },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {

            },
            error: function () { alert('error in Process'); }
        });

    }
    function OriginalPDF(evt) {
        $('.loading').show();
        var _CaseNumber = $.trim(evt);
        $.ajax({
            url: String('@Url.Action("ViewOriginalPdf", "Home")'),
            type: "POST",
            data: { CaseNumber: _CaseNumber },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $('#dvOriginalPdf').html(data);

                //$(".anchoriginalpdf").click(function () {
                //    var CaseNo = $(this).data('q_id');
                //    PdfView(CaseNo);
                //});

                $("#anchor2")[0].click();
                //$('#Divtext').html(data);

            },
            error: function () { alert('error in Process'); }
        });
    }
    function Viewpdf(evt) {
        $('.loading').show();
        var _CaseNumber = $.trim(evt);
        $.ajax({
            url: String('@Url.Action("ConvertByCaseNumber", "Home")'),
            type: "POST",
            data: { CaseNumber: _CaseNumber },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $('#dvcasedetials').html(data);
                $("#anchor")[0].click();
                //$('#Divtext').html(data);

            },
            error: function () { alert('error in Process'); }
        });

    }

    function Details(evt) {
        $('.loading').show();
        var _CaseNumber = $.trim(evt);
        $.ajax({
            url: String('@Url.Action("ViewDetails", "Home")'),
            type: "POST",
            data: { CaseNumber: _CaseNumber },
            traditional: true,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $('#dvcasedetials').html(data);
                $("#anchor")[0].click();

            },
            error: function () { alert('error in Process'); }
        });

    }


</script>