﻿@model IEnumerable<SharkAppWeb.ViewModel.PCBPalmDetail>

@{
    ViewBag.Title = "ShowMapPalmCases";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvqH7ASsm6ooi0Bd2cjr5TtraS6f6Qi1c&sensor=false&libraries=places"></script>
@*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo8TwGJldjDJay8GZTPbaLckNb1TI-Kqo&sensor=false&libraries=places"></script>*@

<div class="row">
    <div class="row">
        <div class="col-md-9" style="text-align:right;"><span id='progress'></span></div>
    </div>
    <div class="col-md-12">
        <div id="map" class="row" style="padding: 1% 1%;">
            <div class="col-lg-12">
                <textarea cols="100" rows="6" id="addresses" style="display:none;" class="addresses"></textarea>
                <div id="map_canvas" style="min-height:600px;min-width:100%;"></div>
            </div>
        </div>
    </div>
    <br />
    <br />

</div>
<div class="row">
    <div class="col-md-12">

        <div class="portlet-body form">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        Palm Beach Defendant List
                    </div>
                </div>
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet-body">
                    <div class="table-scrollable">

                        <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="tblPalmBeachMap">

                            <thead id="LPthead">
                                <tr>
                                    <th></th>
                                    <th>Plaintiff</th>
                                    <th>Defendant</th>
                                    <th>PCN Number</th>
                                    <th>Property Address</th>
                                    <th>Sale Date</th>
                                    <th>Sale Price</th>
                                    @*<th>Market Value</th>*@
                                    <th>Exemption</th>
                                    @*<th>Tax</th>*@
                                    <th>EstOwnerEquity</th>
                                    
                                </tr>
                            </thead>
                            <tbody class="clsPropertyDetails" id="tbodyMapData">
                               
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<a class="link" href="#myModal4Pr" data-toggle="modal" title="Login" id="popupProperty"></a>
<div id="myModal4Pr" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog" style="width:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 id="spnMessage"></h4>
            </div>
            <div class="modal-body">
                <div class="row" id="dvPropertyDetails">

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn blue " data-dismiss="modal" aria-hidden="true">Ok</button>
                <button class="btn default" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #sidebar {
        width: 200px;
        overflow: auto;
        border: 1px solid silver;
    }

    .dataTables_filter {
        display: none;
    }

    #map_canvas {
        width: 100%;
        height: 100%;
    }

    #addresses {
        overflow: scroll;
    }

    .gmnoprint img {
        max-width: none;
    }
</style>


<script>
        $(document).ready(function () {
            //TableManaged.init();
            initialize();
            initTablePalmBeachMap();
        })


    //var map = null;
    var addresses = null;
    var current_address = 0;
    var markers = new Array();
    var infowindows = new Array();
    var html = '';
    var newline = '';
    var temp_addresses = '';
    var map;
    var infowindow;
    var arrAddress;
    function initialize() {
        var mapOptions = {
            'zoom': 8,
            'center': new google.maps.LatLng(52.4357808, 4.991315699999973),
            'mapTypeId': google.maps.MapTypeId.ROADMAP,
            panControl: true,
            zoomControl: true,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.LARGE
            },
            scaleControl: true,
        };

        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        infowindow = new google.maps.InfoWindow();
    }

    function MapView() {
        debugger;
        initialize();
        $(".addresses").text('');
        var street = '';
        var link = '';
        $("#tbodyMapData tr").each(function () {
            var latitude = $.trim($(this).find("td").eq(0).find('span#spnLatitude').text());
            var longitude = $.trim($(this).find("td").eq(0).find('span#spnLongitude').text())
            if (latitude != 'null' && latitude != null && latitude != '' && latitude != undefined && longitude != 'null' && longitude != null && longitude != '' && longitude != undefined) {
                street += $.trim($(this).find("td").eq(4).html()) + "\t" + $.trim($(this).find("td").eq(0).find('span#spnPalmBeachLPCaseID').text()) + "\t" + $.trim($(this).find("td").eq(2).html()) + "\t" + latitude + "\t" + longitude + "\n";
            }

        });

        $(".addresses").append(street);
        newline = $(".addresses").text();

        current_address = 0;
        addresses = new Array();
        temp_addresses = newline.split(/\n/);

        for (var i = 0; i < temp_addresses.length; i++) {
            if (temp_addresses[i].length > 1) addresses.push(temp_addresses[i]);
        }
        if (addresses.length > 0)
            //if (addresses.length < max) {
            //    geocode()
            //}
            //else alert("you have entered too many addresses");
        {
            for (var _count = 0; _count < addresses.length; _count++) {
                if (_count < addresses.length) {
                    arrAddress = addresses[_count].split('\t');
                    var lat = arrAddress[3];
                    var lng = arrAddress[4];

                    html = "<div>";
                    var data = new Array();
                    data = addresses[_count].split(/\t+/);
                    html += "<strong>Defandent : </strong>" + data[2];
                    html += "<br/><strong>Address : </strong>" + data[0];
                    html += "</div>";

                    var position = new google.maps.LatLng(lat, lng);
                    var marker = new google.maps.Marker({
                        position: position,
                        map: map,
                        title: "Line " + (_count + 1),
                        html: html
                    });



                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent(this.html);
                            infowindow.setOptions({ maxWidth: 200 });
                            infowindow.open(map, this);
                        }
                    })(marker, i));
                    markers[_count] = marker;

                }
                else {
                    fitAll();
                }

            }

            locate(0);
        }
        else {alert("you have not entered any addresses");}
    }

    function locate(marker_id) {
        var myMarker = markers[marker_id];
        var markerPosition = myMarker.getPosition();
        map.setCenter(markerPosition);
        google.maps.event.trigger(myMarker, 'click');
    }

    //function displayResults() {
    //    var response = "";
    //    for (var i = 0; i < addresses.length; i++) {
    //        response += addresses[i] + "\t" + geocode_results[i]['lat'] + "\t" + geocode_results[i]['lng'] + "\n";
    //    }
    //    document.getElementById("addresses").value = response;
    //    ClearFields();
    //}

    function fitAll() {
        if (markers.length > 1) {
            map.setZoom(14);
            var bounds = new google.maps.LatLngBounds();
            map.setCenter(bounds, 10);
            for (var i = 0; i < markers.length; i++) {
                bounds.extend(markers[i].getPosition());
            }
            map.fitBounds(bounds);
            map.setCenter(bounds.getCenter(),map.getBoundsZoomLevel(bounds));
        }
        map.setZoom(14);
    }

    function ClearFields() {
        $(".addresses").val("").empty();
    }

    @*function BCPADetails(evt) {
        var SrchDefendantID = evt;
        $('.loading').show();
        $.ajax({
            url: '@Url.Action("GetBCPADetails", "Home")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'SrchDefendantID': SrchDefendantID }),
            async: false,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $("#dvPropertyDetails").html(data);
                $("#popupProperty")[0].click();
            },
            error: function (xhr) {

                alert('error in Process');
            }
        });
    }*@


    var initTablePalmBeachMap = function () {
        var table = $('#tblPalmBeachMap');

        /*
         * Initialize DataTables, with no sorting on the 'details' column
         */
        var oTable = table.dataTable({

            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ records",
                "infoEmpty": "No records found",
                //"infoFiltered": "(filtered1 from _MAX_ total records)",
                "lengthMenu": "Show _MENU_ Records",
                "search": "Search:",
                "zeroRecords": "No records found"
            },

            "columnDefs": [{
                "orderable": false,
                // "type": "natural",
                "targets": [0]


            }],

            "order": [
                [1, 'asc']
            ],
            "lengthMenu": [
                 [50, 100, -1],
                 [50, 100, "All"] // change per page values here
            ],
            "scrollY": 380,
            "scrollX": true,
            "initComplete": function () { MapView(); },
            //"scrollY": '50vh',
            //"scrollCollapse": true,

            // set the initial value
            "pageLength": 50,
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

            },
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/home/LoadPalmBeachMapData",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "PalmBeachLPCaseID", "name": "PalmBeachLPCaseID", "autoWidth": true, "defaultContent": "" },
                        { "data": "Plaintiff", "name": "Plaintiff", "autoWidth": true, "defaultContent": "" },
                         { "data": "Defendant", "name": "Defendant", "autoWidth": true, "defaultContent": "" },
                          { "data": "PCNumber", "name": "PCNumber", "autoWidth": true, "defaultContent": "" },
                        { "data": "LocationAddress", "name": "LocationAddress", "autoWidth": true, "defaultContent": "" },
                        { "data": "SaleDate", "name": "SaleDate", "autoWidth": true, "defaultContent": "" },
                        { "data": "SalePrice", "name": "SalePrice", "autoWidth": true, "defaultContent": "" },
                        //{ "data": "MarketValue", "name": "MarketValue", "autoWidth": true, "defaultContent": "" },
            { "data": "Exemption", "name": "Exemption", "autoWidth": true, "defaultContent": "" },
            //{ "data": "Tax", "name": "Tax", "autoWidth": true, "defaultContent": "" },
            { "data": "EstOwnerEquity", "name": "EstOwnerEquity", "autoWidth": true, "defaultContent": "" },

            //{ "data": "DetailsByUrl", "name": "DetailsByUrl", "autoWidth": true, "defaultContent": "" },
            ],
            'columnDefs': [{
                'targets': 0,
                'searchable': false,
                'orderable': false,
                'render': function (data, type, full, meta) {
                    return '<span style="display:none;" id="spnPalmBeachLPCaseID">' + full.PalmBeachLPCaseID + '</span>' +
                        '<span style="display:none;" id="spnLatitude">' + full.Latitude + '</span>' +
                        '<span style="display:none;" id="spnLongitude">' + full.Longitude + '</span>';
                }
            },

            //    {
            //    'targets': 8,
            //    'searchable': true,
            //    'orderable': true,
            //    'render': function (data, type, full, meta) {
            //        if (full.Excemption != null && full.Excemption != "") {
            //            return '<span style="color:red">' + full.Excemption + '</span>';
            //        }
            //        else {
            //            return '<span style="color:green">NO ISSUE</span>';
            //        }

            //    }
                //}, 
                {
                'targets': 7,
                'searchable': true,
                'orderable': true,
                'render': function (data, type, full, meta) {
                    if (full.TaxIssue != null && full.TaxIssue != "") {
                        return '<span style="color:red">$' + full.TaxIssue + '</span>';
                    }
                    else {
                        return '<span style="color:green">NO ISSUE</span>';
                    }


                }
                },
            //    {
            //    'targets': 10,
            //    'searchable': true,
            //    'orderable': true,
            //    'render': function (data, type, full, meta) {
            //        var _EstOwnerEquity = (full.EstOwnerEquity == null || full.EstOwnerEquity == '') ? '' : (full.EstOwnerEquity == 'FULLY PAID' ? full.EstOwnerEquity : full.EstOwnerEquity.toString().replace(",", ""));
            //        if (_EstOwnerEquity != "FULLY PAID" && _EstOwnerEquity != null && _EstOwnerEquity != '') {
            //            if (parseFloat(_EstOwnerEquity) > 0) {
            //                return '<span style="color:green;">$' + full.EstOwnerEquity + '</span>';
            //            }
            //            else {
            //                return '<span style="color:red;">$' + full.EstOwnerEquity + '</span>';
            //            }
            //        }
            //        else {

            //            return '<span  style="color:green;"></span>';
            //        }

            //    }
            //}
            //, {
            //    'targets': 11,
            //    'searchable': false,
            //    'orderable': false,
            //    'render': function (data, type, full, meta) {
            //        return '<a href="' + full.DetailsByUrl + '" data-toggle="tooltip" target="_blank">Official Link</a>';
            //    }
            //}
            ],
        });


        function naturalSort(a, b, html) {
            debugger;
            var re = /(^-?[0-9]+(\.?[0-9]*)[df]?e?[0-9]?%?$|^0x[0-9a-f]+$|[0-9]+)/gi,
                sre = /(^[ ]*|[ ]*$)/g,
                dre = /(^([\w ]+,?[\w ]+)?[\w ]+,?[\w ]+\d+:\d+(:\d+)?[\w ]?|^\d{1,4}[\/\-]\d{1,4}[\/\-]\d{1,4}|^\w+, \w+ \d+, \d{4})/,
                hre = /^0x[0-9a-f]+$/i,
                ore = /^0/,
                htmre = /(<([^>]+)>)/ig,
                // convert all to strings and trim()
                x = a.toString().replace(sre, '') || '',
                y = b.toString().replace(sre, '') || '';
            // remove html from strings if desired
            if (!html) {
                x = x.replace(htmre, '');
                y = y.replace(htmre, '');
            }
            // chunk/tokenize
            var xN = x.replace(re, '\0$1\0').replace(/\0$/, '').replace(/^\0/, '').split('\0'),
                yN = y.replace(re, '\0$1\0').replace(/\0$/, '').replace(/^\0/, '').split('\0'),
                // numeric, hex or date detection
                xD = parseInt(x.match(hre), 10) || (xN.length !== 1 && x.match(dre) && Date.parse(x)),
                yD = parseInt(y.match(hre), 10) || xD && y.match(dre) && Date.parse(y) || null;

            // first try and sort Hex codes or Dates
            if (yD) {
                if (xD < yD) {
                    return -1;
                }
                else if (xD > yD) {
                    return 1;
                }
            }

            // natural sorting through split numeric strings and default strings
            for (var cLoc = 0, numS = Math.max(xN.length, yN.length) ; cLoc < numS; cLoc++) {
                // find floats not starting with '0', string or 0 if not defined (Clint Priest)
                var oFxNcL = !(xN[cLoc] || '').match(ore) && parseFloat(xN[cLoc], 10) || xN[cLoc] || 0;
                var oFyNcL = !(yN[cLoc] || '').match(ore) && parseFloat(yN[cLoc], 10) || yN[cLoc] || 0;
                // handle numeric vs string comparison - number < string - (Kyle Adams)
                if (isNaN(oFxNcL) !== isNaN(oFyNcL)) {
                    return (isNaN(oFxNcL)) ? 1 : -1;
                }
                    // rely on string comparison if different types - i.e. '02' < 2 != '02' < '2'
                else if (typeof oFxNcL !== typeof oFyNcL) {
                    oFxNcL += '';
                    oFyNcL += '';
                }
                if (oFxNcL < oFyNcL) {
                    return -1;
                }
                if (oFxNcL > oFyNcL) {
                    return 1;
                }
            }
            return 0;
        }

        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "natural-asc": function (a, b) {
                return naturalSort(a, b, true);
            },

            "natural-desc": function (a, b) {
                return naturalSort(a, b, true) * -1;
            },

            "natural-nohtml-asc": function (a, b) {
                return naturalSort(a, b, false);
            },

            "natural-nohtml-desc": function (a, b) {
                return naturalSort(a, b, false) * -1;
            },

            "natural-ci-asc": function (a, b) {
                a = a.toString().toLowerCase();
                b = b.toString().toLowerCase();

                return naturalSort(a, b, true);
            },

            "natural-ci-desc": function (a, b) {
                a = a.toString().toLowerCase();
                b = b.toString().toLowerCase();

                return naturalSort(a, b, true) * -1;
            }
        });



        var tableWrapper = $('#tblBrowardMap_wrapper'); // datatable creates the table wrapper by adding with id {your_table_jd}_wrapper

        tableWrapper.find('.dataTables_length select').select2(); // initialize select2 dropdown
    }
</script>
