﻿@model SharkAppWeb.ViewModel.SpokioDetail
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CaseView";
}

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-reorder"></i>Property Owner's Details
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body form">
        <div class="form-body">
            <div class="row">
                <div class="col-md-2"><b>Owner Name</b></div>
                <div class="col-md-4">@Model.SpkUName</div>
                <div class="col-md-2"><b>BirthDate</b></div>
                <div class="col-md-4">@Model.SpkBirthDate</div>
            </div>
            <div class="row">
                <div class="col-md-2"><b>Marital Status</b></div>
                <div class="col-md-4">@Model.SpkMaritalStatus</div>
                <div class="col-md-2"><b>Zodiac Sign</b></div>
                <div class="col-md-4">@Model.SpkZodiacSign</div>
                
            </div>
            <div class="row">
                <div class="col-md-2"><b>Ethnicity</b></div>
                <div class="col-md-4">@Model.SpkEthnicity</div>
                <div class="col-md-2"><b>Spokeo Url</b></div>
                <div class="col-md-4"><a href="@Model.SpkUrl" target="_blank">Click to navigate</a></div>
            </div>
        </div>
        </div>
    </div>


<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-reorder"></i>Telephones
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body form">
        <div class="form-body">
            @{
                int mod = 0;
            }
            @foreach (var phone in Model.SpkTelephones)
            {
                if (mod == 0)
                {
                    @:<div class="row"><div class="col-md-6"><span style="color:#bec1c6;text-transform:uppercase;">@phone.PhoneType<br /></span><span style="color:#378de3;">@phone.Telephone</span><br />@Html.Raw(phone.Network)</div>


                }
                else if (mod % 2 == 0)
                {
                    @:<div class="row"><hr /><div class="col-md-6"><span style="color:#bec1c6;text-transform:uppercase;">@phone.PhoneType<br /></span><span style="color:#378de3;">@phone.Telephone</span><br />@Html.Raw(phone.Network)</div>


                }
                else
                {
                    @:<div class="col-md-6"><span style="color:#bec1c6;text-transform:uppercase;">@phone.PhoneType<br /></span><span style="color:#378de3;">@phone.Telephone</span><br />@Html.Raw(phone.Network)</div></div>
                }
                mod++;
                if (mod == Model.SpkTelephones.Count && Model.SpkTelephones.Count % 2 != 0)
                {
                    @:</div>
                }

            }



        </div>
    </div>
</div>



<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-reorder"></i>Emails
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body form">
        <div class="form-body">
            @{
                int modEmail = 0;
            }
            @foreach (var email in Model.SpkEmails)
            {
                if (modEmail == 0)
                {
                    @:<div class="row"><div class="col-md-6"><span style="color:#bec1c6;text-transform:uppercase;">@email.EmailType<br /></span>@email.EmailID</div>


                }
                else if (modEmail % 2 == 0)
                {
                    @:<div class="row"><hr /><div class="col-md-6"><span style="color:#bec1c6;text-transform:uppercase;">@email.EmailType</span><br />@email.EmailID</div>

                }
                else
                {
                    @:<div class="col-md-6"><span style="color:#bec1c6;text-transform:uppercase;">@email.EmailType</span><br />@email.EmailID</div></div>
                }
                modEmail++;
                if (modEmail == Model.SpkEmails.Count && Model.SpkEmails.Count % 2 != 0)
                {
                    @:</div>
                }



            }



        </div>
    </div>
</div>






    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-reorder"></i>Addresses and their residents
            </div>
            <div class="tools">
            </div>
        </div>

        <div class="portlet-body form">
            <div class="form-body">
               
                @foreach (var address in Model.Addresses)
                {
                    int residentCount = 0;
                        <div class="row">
                            <div class="col-md-12">
                                <span style="color:#bec1c6;text-transform:uppercase;">@address.AddressYear</span>
                                <br />@address.SpokeoAddress <br />
                                <span style="color:#bec1c6;text-transform:uppercase;">Residents</span>
                                <br />
                                @foreach (var resident in address.Residents)
                                {
                                    if (residentCount == address.Residents.Count)
                                    {
                                        <span><a href="@resident.ResidentUrl" target="_blank">@resident.ResidentName</a></span>
                                    }
                                    else
                                    {
                                        <span><a href="@resident.ResidentUrl" target="_blank">@resident.ResidentName</a> .</span>
                                    }
                                    residentCount++;
                                }
                                <hr />
                            </div>
                          
                            </div>


                   
                }


            </div>
        </div>
    </div>


<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-reorder"></i>Relatives
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body form">
        <div class="form-body">

            @foreach (var address in Model.Relatives)
            {
                <div class="row">
                    <div class="col-md-12">
                        <a href="@address.RelativeUrl" target="_blank">@address.RelativeName</a><br />
                        <span style="color:#bec1c6;text-transform:uppercase;font-size:.8em;">Location</span>
                        <br />
                        <a href="@address.AddressUrl" target="_blank">@address.RelativeAddress</a><br />
                        <hr />
                    </div>

                </div>



            }


        </div>
    </div>
</div>





<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-reorder"></i>Social Profiles
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body form">
        <div class="form-body">

            @{
                List<SharkAppWeb.ViewModel.SpokeoSocialProfiles> lstSocialProfiles = Model.SocialProfiles;

                List<SharkAppWeb.ViewModel.SpokeoSocialProfiles> lstMajorSocialNetworks = lstSocialProfiles.Where(w => w.SocialSiteType.ToLower() == "major social networks").ToList();
                List<SharkAppWeb.ViewModel.SpokeoSocialProfiles> lstBloggingSites = lstSocialProfiles.Where(w => w.SocialSiteType.ToLower() == "blogging sites").ToList();
                List<SharkAppWeb.ViewModel.SpokeoSocialProfiles> lstPhotoSharing = lstSocialProfiles.Where(w => w.SocialSiteType.ToLower() == "photo sharing").ToList();
                List<SharkAppWeb.ViewModel.SpokeoSocialProfiles> lstMusicSites = lstSocialProfiles.Where(w => w.SocialSiteType.ToLower() == "music sites").ToList();
                List<SharkAppWeb.ViewModel.SpokeoSocialProfiles> lstVideoSites = lstSocialProfiles.Where(w => w.SocialSiteType.ToLower() == "video sites").ToList();
                List<SharkAppWeb.ViewModel.SpokeoSocialProfiles> lstOnlineShopping = lstSocialProfiles.Where(w => w.SocialSiteType.ToLower() == "online shopping").ToList();
                List<SharkAppWeb.ViewModel.SpokeoSocialProfiles> lstLocationReviewSites = lstSocialProfiles.Where(w => w.SocialSiteType.ToLower() == "location/review sites").ToList();
                List<SharkAppWeb.ViewModel.SpokeoSocialProfiles> lstDating = lstSocialProfiles.Where(w => w.SocialSiteType.ToLower() == "dating").ToList();
                List<SharkAppWeb.ViewModel.SpokeoSocialProfiles> lstOtherSites = lstSocialProfiles.Where(w => w.SocialSiteType.ToLower() == "other sites").ToList();

                int profileCount = 0;
                int BloggingSitesCount = 0;
                int PhotoSharingCount = 0;
                int MusicSitesCount = 0;
                int VideoSitesCount = 0;
                int OnlineShoppingCount = 0;
                int LocationReviewSitesCount = 0;
                int DatingCount = 0;
                int OtherSitesCount = 0;
            }
            
            @foreach (var profile in lstMajorSocialNetworks)
            {

                if (profileCount == 0)
                {
                    <div class="row"><div class="col-md-12"><h4>@profile.SocialSiteType</h4></div></div>
                    @:<div class="row"><div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                else if (profileCount % 2 == 0)
                {
                    @:</div><div class="row"><div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                else
                {
                    <div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                          profileCount++;

            }
            </div>
                                @foreach (var profile in lstBloggingSites)
                                {

                                    if (BloggingSitesCount == 0)
                                    {
                                        <hr /><div class="row"><div class="col-md-12"><h4>@profile.SocialSiteType</h4></div></div>
                                        @:<div class="row"><div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>

                                    }
                                    else if (BloggingSitesCount % 2 == 0)
                                    {
                                        @:</div><div class="row"><hr /><div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>

                                    }
                                    else
                                    {
                                        <div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                                    }
                                    BloggingSitesCount++;

                                }
            
@foreach (var profile in lstPhotoSharing)
{
    if (PhotoSharingCount == 0)
    {
        <hr /><div class="row"><div class="col-md-12"><h4>@profile.SocialSiteType</h4></div></div>
                    @:<div class="row"><div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                else if (PhotoSharingCount % 2 == 0)
                {
                    @:</div><div class="row"><hr /><div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                else
                {
                    <div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                PhotoSharingCount++;

            }
            </div>
@foreach (var profile in lstMusicSites)
{
    if (MusicSitesCount == 0)
    {
        <hr /><div class="row"><div class="col-md-12"><h4>@profile.SocialSiteType</h4></div></div>
                    @:<div class="row"><div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                else if (MusicSitesCount % 2 == 0)
                {
                    @:</div><div class="row"><hr /><div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                else
                {
                    <div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                MusicSitesCount++;

            }
            </div>
@foreach (var profile in lstVideoSites)
{
    if (VideoSitesCount == 0)
    {
        <hr /><div class="row"><div class="col-md-12"><h4>@profile.SocialSiteType</h4></div></div>
                    @:<div class="row"><div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                else if (VideoSitesCount % 2 == 0)
                {
                    @:</div><div class="row"><hr /><div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                else
                {
                    <div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                VideoSitesCount++;

            }
</div>
@foreach (var profile in lstOnlineShopping)
{
    if (OnlineShoppingCount == 0)
    {
        <hr /><div class="row"><div class="col-md-12"><h4>@profile.SocialSiteType</h4></div></div>
                    @:<div class="row"><div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                else if (OnlineShoppingCount % 2 == 0)
                {
                    @:</div><div class="row"><hr /><div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                else
                {
                    <div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                OnlineShoppingCount++;

            }
            </div>
@foreach (var profile in lstLocationReviewSites)
{
    if (LocationReviewSitesCount == 0)
    {
        <hr /><div class="row"><div class="col-md-12"><h4>@profile.SocialSiteType</h4></div></div>
                    @:<div class="row"><div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                else if (LocationReviewSitesCount % 2 == 0)
                {
                    @:</div><div class="row"><hr /><div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                else
                {
                    <div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                LocationReviewSitesCount++;

            }
</div>
@foreach (var profile in lstDating)
{
    if (DatingCount == 0)
    {
        <hr /><div class="row"><div class="col-md-12"><h4>@profile.SocialSiteType</h4></div></div>
                    @:<div class="row"><div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                else if (DatingCount % 2 == 0)
                {
                    @:</div><div class="row"><hr /><div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                else
                {
                    <div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                DatingCount++;

            }
</div>
@foreach (var profile in lstOtherSites)
            {
                if (OtherSitesCount == 0)
                {
                     <hr /><div class="row"><div class="col-md-12"><h4>@profile.SocialSiteType</h4></div></div>
                    @:<div class="row"><div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>

                }
                else if (OtherSitesCount % 2 == 0)
                {
                    @:</div><div class="row"><hr /><div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                else
                {
                    <div class="col-md-6"><a href="@profile.SocialLinkUrl" target="_blank"> @profile.SocialName<br /><span style="color:#bec1c6;">@profile.SocialSiteName</span></a></div>
                }
                OtherSitesCount++;

            }
</div>
    </div>
</div>
    </div>
            




