﻿@{
    ViewBag.Title = "SunbizDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="col-md-12 responsive">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                Manual Search Filter
            </div>
        </div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet-body form">
            <div class="form-body">


                <div class="row">

                    @*<div class="col-md-6">
                        <label>Refresh All Pending Cases For Set As Default Property</label>

                    </div>
                    <div class="col-md-6">
                        <input type="button" id="RefreshAllLpCase" onclick="btnRefreshAllLpCase()" class="btn blue" value="Refresh All Lp Case" />

                    </div>*@


                    <br />
                    <br />
                </div>


                <div class="row">
                    <div class="col-md-2">
                        <label>Filter By</label>
                    </div>
                    <div class="col-md-10" align="right">
                        @*<input type="button" id="btnExportExcel" onclick="tableToExcel('sample_5', 'SampleTable')" class="btn blue" value="Export To Excel" />*@
                        @*<input type="button" id="btnExportExcel" onclick="tableToExcel('sample_5', 'SampleTable')" class="btn blue" value="Export To Excel" />*@
                    </div>
                    <br />
                    <br />
                </div>
                @*<div class="form-group">
                        <div class="col-md-12">

                            <div class="col-md-3">
                                <label>Property Type</label>
                            </div>
                            <div class="col-md-3">
                                <select id="ddlPropertyType" name="ddlPropertyType" class="form-control ">
                                    <option value="0">Choose Property Type</option>
                                    @if (ViewBag.PropertyType != null && ((List<SharkAppWeb.ViewModel.UseCodeCategory>)ViewBag.PropertyType).Count > 0)
                                    {
                                        foreach (var item in ((List<SharkAppWeb.ViewModel.UseCodeCategory>)ViewBag.PropertyType))
                                        {
                                            <option value="@item.UseCodeCategoryID">@item.UseCodeCategoryName</option>
                                        }
                                    }
                                </select>
                                <label><input type="radio" id="rdResidential" name="Residential" value="Residential" class="clscommercial" checked />Residential</label>
                            </div>
                            <br />
                            <br />
                            <div class="col-md-3">
                                    <label><input type="radio" id="rdCommercial" name="Residential" value="Commercial" class="clscommercial" />Commercial</label>
                                </div>
                                <div class="col-md-3">
                                    <label><input type="radio" id="rdAllCases" name="Residential" value="AllCases" class="clscommercial" />All Cases</label>
                                </div>

                        </div>

                    </div>*@
                <div class="row">
                    <div class="col-md-5" style="border-right:1px solid #e5e5e5;">
                        @*<div class="row">

                            <div class="col-md-5">
                                <label>Plaintiff’s Name</label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" id="txtPlaintiff" class="txtPlaintiff" />
                            </div>


                        </div>*@


                        <div class="row">

                            <div class="col-md-5">
                                <label>Company Name</label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" id="txtDefendant" class="txtDefendant" />
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-5">
                                <label>Director Name</label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" id="txtDirectorName" class="txtDirectorName"/>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-5">
                                <label>Site Address</label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" id="txtSiteaddr" class="txtSiteaddr" />
                            </div>


                        </div>


                        <div class="row">

                            <div class="col-md-5">
                                <label>Mailing Addr.</label> 
                            </div>
                            <div class="col-md-7">
                                <input type="text" id="txtMailingaddr" class="txtMailingaddr" />
                            </div>


                        </div>
                       

                        <div class="row">

                            <div class="col-md-5">
                                <label>Active/InActive</label>
                            </div>
                            <div class="col-md-7">
                                <select id="ddlHOAowners" class="ddlHOAowners" style="width:160px">
                                    <option value="0">--Select--</option>
                                    <option value="1">Active</option>
                                    <option value="2">InActive</option>

                                </select>
                            </div>


                        </div>

                    </div>

                  

                    @*<div class="col-md-4">
                        </div>*@
                </div>
            </div>
            <div class="form-actions">
                <div class="right">
                    <input type="button" id="btnFilterbyAssesed" class="btn blue" value="Filter" onclick="FilterbyAssesed()" />

                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 responsive">
    <div class="portlet-body form">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    Sunbiz Search List
                </div>
            </div>
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet-body">
                @*<div class="table-scrollable">

                    </div>*@

                <div class="block messages scrollBox">
                    <div class="scroll block-fluid table-sorting clearfix">
                        <table border="1" cellpadding="5" class="table table-striped table-bordered table-hover" id="sample_PLM_5">
                            <thead>
                                <tr>

                                    @*<th>Select <input type="checkbox" class="clscheckboxAll" id="clscheckboxAll" onclick="SelectAll(this)" /></th>*@
                                    @*<th>View Map</th>*@
                                    @*<th>SunbizCompanyID</th>*@
                                    <th>Company Name</th>
                                    <th>FEI/EIN Number</th>
                                    @*<th>Date Filed</th>*@
                                    <th>State</th>
                                    <th>Status</th>
                                    <th>Principal Address</th>
                                    <th>Mailing Address</th>
                                    <th>AgentName and Address</th>
                                    <th>Sunbiz Details</th>
                                    <th>LinkedIn Details</th>
                                    <th>Twitter Details</th>
                                    <th>Director Name</th>

                                </tr>
                            </thead>
                            <tbody id="tbodyData"></tbody>



                        </table>




                    </div>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<a class="link" href="#myModalOTH" data-toggle="modal" title="Login" id="popupOthProperty"></a>
<div id="myModalOTH" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabelOTH" aria-hidden="true">
    <div class="modal-dialog" style="width:60%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 id="spnMessage"></h4>
            </div>
            <div class="modal-body">
                <div class="row" id="dvOTHProperty">

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn blue " data-dismiss="modal" aria-hidden="true">Ok</button>

            </div>
        </div>
    </div>
</div>
<script>
    //$(document).ready(function () {
    //    initTablePlm5();
    //});

    function Showdata() {
        tableSample_PLM_5 = $('#sample_PLM_5');
        var oTable = tableSample_PLM_5.dataTable();
        oTable.fnDestroy();
        oTable = tableSample_PLM_5.dataTable({
          
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ records",
                "infoEmpty": "No records found",
                //"infoFiltered": "(filtered1 from _MAX_ total records)",
                "lengthMenu": "Show _MENU_ Records",
                "search": "Search:",
                "zeroRecords": "No records found"
            },
            dom: 'Blfrtip',
            buttons: [
                //'copy',
                {
                    extend: 'excel',
                    //messageTop: 'The information in this table is copyright to Sirius Cybernetics Corp.',
                    exportOptions: {
                        columns: "thead th:not(.not_export)"

                    },
                    customize: function (xlsx) {
                        debugger;
                        var sheet = xlsx.xl.worksheets['sheet1.xml'];

                        var rows = $('row', sheet);

                    }
                },
                {
                    extend: 'pdf',
                    messageBottom: null,
                    exportOptions: {
                        columns: "thead th:not(.not_export)"
                    },
                    orientation: 'landscape',
                },
                {
                    extend: 'print',
                    messageTop: function () {
                        printCounter++;

                        if (printCounter === 1) {
                            return 'This is the first time you have printed this document.';
                        }
                        else {
                            return 'You have printed this document ' + printCounter + ' times';
                        }
                    },
                    messageBottom: null,
                    exportOptions: {
                        columns: "thead th:not(.not_export)"
                    }
                }
            ],

            "order": [
                [1, 'asc']
            ],
            "lengthMenu": [
                [50, 100, -1],
                [50, 100, "All"] // change per page values here
            ],
            "scrollY": 380,
            "scrollX": true,


            "pageLength": 50,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "searchable": true,
            "ajax": {
                "url": "/home/LoadSunbizDetailData",
                "type": "POST",
                "datatype": "json",
                "data": {}
                
            },
            "columns": [
                //{ "data": "SunbizCompanyID", "name": "SunbizCompanyID", "autoWidth": false, "defaultContent": "" },
                { "data": "Defendant", "name": "Defendant", "autoWidth": true, "defaultContent": "" },
                { "data": "FEIEIN", "name": "FEIEIN", "autoWidth": true, "defaultContent": "" },
                //{ "data": "DateFiled", "name": "DateFiled", "autoWidth": true, "defaultContent": "" },
                { "data": "State", "name": "State", "autoWidth": true, "defaultContent": "" },
                { "data": "Status", "name": "Status", "autoWidth": true, "defaultContent": "" },

                { "data": "PrincipalAddress", "name": "PrincipalAddress", "autoWidth": true, "defaultContent": "" },
                { "data": "MailingAddress", "name": "MailingAddress", "autoWidth": true, "defaultContent": "" },
                { "data": "RegisteredagentNameAddress", "name": "RegisteredagentNameAddress", "autoWidth": true, "defaultContent": "" },
                { "data": "SunbizCompanyID", "name": "SunbizCompanyID", "autoWidth": true, "defaultContent": "" },
                { "data": "LinkedInID", "name": "LinkedInID", "autoWidth": true, "defaultContent": "" },
                { "data": "TwitterID", "name": "TwitterID", "autoWidth": true, "defaultContent": "" },
                { "data": "DirectorName", "name": "DirectorName", "autoWidth": true, "defaultContent": "" }
            ],

            'columnDefs': [{
                'targets': 7,
                'searchable': false,
                'orderable': false,
                'render': function (data, type, full, meta) {
                    if (full.SunbizCompanyID) {
                        return '<input type="button" class="btn blue" value="Sunbiz Details" onclick="GetSunbizDetails(' + full.SunbizCompanyID + ')" />';
                    }
                    else {
                        return '<input class="btn grey-salt" type="button" value="Sunbiz Details" />';
                    }
                },
                'className': 'not_export'
            },

            {
                'targets': 8,
                'searchable': false,
                'orderable': false,
                'render': function (data, type, full, meta) {
                    debugger;
                    if (full.LinkedInID) {

                        return '<input type="button" class="btn blue" value="LinkedIn Details" onclick="GetBrowardCaseLinkedInDetails(' + full.SunbizCompanyID + ')" />';
                    }
                    else {
                        return '<input class="btn grey-salt" type="button" value="LinkedIn Details" />';
                    }

                },
                'className': 'not_export'



            },

            {
                'targets': 9,
                'searchable': false,
                'orderable': false,
                'render': function (data, type, full, meta) {
                    debugger;
                    if (full.TwitterID) {

                        return '<input type="button" class="btn blue" value="Twitter Details" onclick="GetBrowardCaseTwitterDetails(' + full.SunbizCompanyID + ')" />';
                    }
                    else {
                        return '<input class="btn grey-salt" type="button" value="Twitter Details" />';
                    }

                },
                'className': 'not_export'



            },

            ],
            
        });
        FilterbyAssesed();
        }

    $(document).ready(function () {

        Showdata();

    });
    setInterval(Showdata, 30000);
   
        var initTablePlm5 = function () {
            tableSample_PLM_5 = $('#sample_PLM_5');

            var oTable = tableSample_PLM_5.dataTable({

                // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ records",
                    "infoEmpty": "No records found",
                    //"infoFiltered": "(filtered1 from _MAX_ total records)",
                    "lengthMenu": "Show _MENU_ Records",
                    "search": "Search:",
                    "zeroRecords": "No records found"
                },
                dom: 'Blfrtip',
                buttons: [
                    //'copy',
                    {
                        extend: 'excel',
                        //messageTop: 'The information in this table is copyright to Sirius Cybernetics Corp.',
                        exportOptions: {
                            columns: "thead th:not(.not_export)"

                        },
                        customize: function (xlsx) {
                            debugger;
                            var sheet = xlsx.xl.worksheets['sheet1.xml'];

                            var rows = $('row', sheet);

                        }
                    },
                    {
                        extend: 'pdf',
                        messageBottom: null,
                        exportOptions: {
                            columns: "thead th:not(.not_export)"
                        },
                        orientation: 'landscape',
                    },
                    {
                        extend: 'print',
                        messageTop: function () {
                            printCounter++;

                            if (printCounter === 1) {
                                return 'This is the first time you have printed this document.';
                            }
                            else {
                                return 'You have printed this document ' + printCounter + ' times';
                            }
                        },
                        messageBottom: null,
                        exportOptions: {
                            columns: "thead th:not(.not_export)"
                        }
                    }
                ],

                "order": [
                    [1, 'asc']
                ],
                "lengthMenu": [
                    [50, 100, -1],
                    [50, 100, "All"] // change per page values here
                ],
                "scrollY": 380,
                "scrollX": true,


                "pageLength": 50,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "searchable": true,
                "ajax": {
                    "url": "/home/LoadSunbizDetailData",
                    "type": "POST",
                    "datatype": "json",
                    "data": {}

                },
                "columns": [
                    //{ "data": "SunbizCompanyID", "name": "SunbizCompanyID", "autoWidth": false, "defaultContent": "" },
                    { "data": "Defendant", "name": "Defendant", "autoWidth": true, "defaultContent": "" },
                    { "data": "FEIEIN", "name": "FEIEIN", "autoWidth": true, "defaultContent": "" },
                    //{ "data": "DateFiled", "name": "DateFiled", "autoWidth": true, "defaultContent": "" },
                    { "data": "State", "name": "State", "autoWidth": true, "defaultContent": "" },
                    { "data": "Status", "name": "Status", "autoWidth": true, "defaultContent": "" },

                    { "data": "PrincipalAddress", "name": "PrincipalAddress", "autoWidth": true, "defaultContent": "" },
                    { "data": "MailingAddress", "name": "MailingAddress", "autoWidth": true, "defaultContent": "" },
                    { "data": "RegisteredagentNameAddress", "name": "RegisteredagentNameAddress", "autoWidth": true, "defaultContent": "" },
                    { "data": "SunbizCompanyID", "name": "SunbizCompanyID", "autoWidth": true, "defaultContent": "" },
                    { "data": "LinkedInID", "name": "LinkedInID", "autoWidth": true, "defaultContent": "" },
                    { "data": "TwitterID", "name": "TwitterID", "autoWidth": true, "defaultContent": "" },
                    { "data": "DirectorName", "name": "DirectorName", "autoWidth": true, "defaultContent": "" }
                ],

                'columnDefs': [{
                    'targets': 7,
                    'searchable': false,
                    'orderable': false,
                    'render': function (data, type, full, meta) {
                        if (full.SunbizCompanyID) {
                            return '<input type="button" class="btn blue" value="Sunbiz Details" onclick="GetSunbizDetails(' + full.SunbizCompanyID + ')" />';
                        }
                        else {
                            return '<input class="btn grey-salt" type="button" value="Sunbiz Details" />';
                        }
                    },
                    'className': 'not_export'
                },

                {
                    'targets': 8,
                    'searchable': false,
                    'orderable': false,
                    'render': function (data, type, full, meta) {
                        debugger;
                        if (full.LinkedInID) {

                            return '<input type="button" class="btn blue" value="LinkedIn Details" onclick="GetBrowardCaseLinkedInDetails(' + full.SunbizCompanyID + ')" />';
                        }
                        else {
                            return '<input class="btn grey-salt" type="button" value="LinkedIn Details" />';
                        }

                    },
                    'className': 'not_export'



                },



                {
                    'targets': 9,
                    'searchable': false,
                    'orderable': false,
                    'render': function (data, type, full, meta) {
                        debugger;
                        if (full.TwitterID) {

                            return '<input type="button" class="btn blue" value="Twitter Details" onclick="GetBrowardCaseTwitterDetails(' + full.SunbizCompanyID + ')" />';
                        }
                        else {
                            return '<input class="btn grey-salt" type="button" value="Twitter Details" />';
                        }

                    },
                    'className': 'not_export'



                },

                ],




            });

        }
  
        function GetSunbizDetails(SunbizCompanyID) {
            $.ajax({
                url: '@Url.Action("GetPalmSunbizDetails", "Home")',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ 'SunbizCompanyID': SunbizCompanyID }),
                async: false,
                ajaxStart: function () { $('.loading').show(); },
                complete: function () { $('.loading').hide(); },
                success: function (data) {
                    $("#dvOTHProperty").html(data);
                    $("#popupOthProperty")[0].click();
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        }
 

     function GetBrowardCaseLinkedInDetails(SunbizCompanyID)
    {
         var SunbizCompanyID = SunbizCompanyID;
        $.ajax({
            url: '@Url.Action("GetIndividualCaseLinkedInDetails", "Home")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'SunbizCompanyID': SunbizCompanyID }),
            async: false,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $("#dvOTHProperty").html(data);
                $("#popupOthProperty")[0].click();
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }


    function GetBrowardCaseTwitterDetails(SunbizCompanyID)
    {
        var SunbizCompanyID = SunbizCompanyID;
        $.ajax({
            url: '@Url.Action("GetIndividualCaseTwitterDetails", "Home")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'SunbizCompanyID': SunbizCompanyID }),
            async: false,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $("#dvOTHProperty").html(data);
                $("#popupOthProperty")[0].click();
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    }



    function GetFilteredResult()
    {
      //  $('.loading').show();
        
        //var Plaintiffs = $.trim($("#txtPlaintiff").val());
        var Defendants = $.trim($("#txtDefendant").val());
        var LocationAddresses = $.trim($("#txtSiteaddr").val());
        var MailingAddresses = $.trim($("#txtMailingaddr").val());
        var FilterStatuss = ($("#ddlHOAowners").val());
        var DirectorNames = $("#txtDirectorName").val();
        {

            tableSample_PLM_5 = $('#sample_PLM_5');
            var oTable = tableSample_PLM_5.dataTable();
            oTable.fnDestroy();
            oTable = tableSample_PLM_5.dataTable({

                // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ records",
                    "infoEmpty": "No records found",
                    //"infoFiltered": "(filtered1 from _MAX_ total records)",
                    "lengthMenu": "Show _MENU_ Records",
                    "search": "Search:",
                    "zeroRecords": "No records found"
                },
                dom: 'Blfrtip',
                buttons: [
                    //'copy',
                    {
                        extend: 'excel',
                        //messageTop: 'The information in this table is copyright to Sirius Cybernetics Corp.',
                        exportOptions: {
                            columns: "thead th:not(.not_export)"

                        },
                        customize: function (xlsx) {
                            debugger;
                            var sheet = xlsx.xl.worksheets['sheet1.xml'];

                            var rows = $('row', sheet);

                        }
                    },
                    {
                        extend: 'pdf',
                        messageBottom: null,
                        exportOptions: {
                            columns: "thead th:not(.not_export)"
                        },
                        orientation: 'landscape',
                    },
                    {
                        extend: 'print',
                        messageTop: function () {
                            printCounter++;

                            if (printCounter === 1) {
                                return 'This is the first time you have printed this document.';
                            }
                            else {
                                return 'You have printed this document ' + printCounter + ' times';
                            }
                        },
                        messageBottom: null,
                        exportOptions: {
                            columns: "thead th:not(.not_export)"
                        }
                    }
                ],

                "order": [
                    [1, 'asc']
                ],
                "lengthMenu": [
                    [50, 100, -1],
                    [50, 100, "All"] // change per page values here
                ],
                "scrollY": 380,
                "scrollX": true,


                "pageLength": 50,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "searchable": true,
                "ajax": {
                    "url": "/home/FilterbyManualSearchvalue",
                    "type": "POST",
                    "datatype": "json",
                    "data": { LocationAddresses: LocationAddresses, MailingAddresses: MailingAddresses, Defendants: Defendants, FilterStatuss: FilterStatuss, DirectorNames: DirectorNames}

                },
                "columns": [
                    //{ "data": "SunbizCompanyID", "name": "SunbizCompanyID", "autoWidth": false, "defaultContent": "" },
                    { "data": "Defendant", "name": "Defendant", "autoWidth": true, "defaultContent": "" },
                    { "data": "FEIEIN", "name": "FEIEIN", "autoWidth": true, "defaultContent": "" },
                    //{ "data": "DateFiled", "name": "DateFiled", "autoWidth": true, "defaultContent": "" },
                    { "data": "State", "name": "State", "autoWidth": true, "defaultContent": "" },
                    { "data": "Status", "name": "Status", "autoWidth": true, "defaultContent": "" },

                    { "data": "PrincipalAddress", "name": "PrincipalAddress", "autoWidth": true, "defaultContent": "" },
                    { "data": "MailingAddress", "name": "MailingAddress", "autoWidth": true, "defaultContent": "" },
                    { "data": "RegisteredagentNameAddress", "name": "RegisteredagentNameAddress", "autoWidth": true, "defaultContent": "" },
                    { "data": "SunbizCompanyID", "name": "SunbizCompanyID", "autoWidth": true, "defaultContent": "" },
                    { "data": "LinkedInID", "name": "LinkedInID", "autoWidth": true, "defaultContent": "" },
                    { "data": "TwitterID", "name": "TwitterID", "autoWidth": true, "defaultContent": "" },
                    { "data": "DirectorName", "name": "DirectorName", "autoWidth": true, "defaultContent": "" }
                ],

                'columnDefs': [{
                    'targets': 7,
                    'searchable': false,
                    'orderable': false,
                    'render': function (data, type, full, meta) {
                        if (full.SunbizCompanyID) {
                            return '<input type="button" class="btn blue" value="Sunbiz Details" onclick="GetSunbizDetails(' + full.SunbizCompanyID + ')" />';
                        }
                        else {
                            return '<input class="btn grey-salt" type="button" value="Sunbiz Details" />';
                        }
                    },
                    'className': 'not_export'
                },

                {
                    'targets': 8,
                    'searchable': false,
                    'orderable': false,
                    'render': function (data, type, full, meta) {
                        debugger;
                        if (full.LinkedInID) {

                            return '<input type="button" class="btn blue" value="LinkedIn Details" onclick="GetBrowardCaseLinkedInDetails(' + full.SunbizCompanyID + ')" />';
                        }
                        else {
                            return '<input class="btn grey-salt" type="button" value="LinkedIn Details" />';
                        }

                    },
                    'className': 'not_export'



                },



                {
                    'targets': 9,
                    'searchable': false,
                    'orderable': false,
                    'render': function (data, type, full, meta) {
                        debugger;
                        if (full.TwitterID) {

                            return '<input type="button" class="btn blue" value="Twitter Details" onclick="GetBrowardCaseTwitterDetails(' + full.SunbizCompanyID + ')" />';
                        }
                        else {
                            return '<input class="btn grey-salt" type="button" value="Twitter Details" />';
                        }

                    },
                    'className': 'not_export'



                },

                ],




            });

        }
    }

    function FilterbyAssesed() {
        //isFilter = false;
        GetFilteredResult();
    }


</script>

