﻿@model SharkAppWeb.ViewModel.BrowardTaxIsueDetails
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CaseView";
}

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-reorder"></i>Tax Detail's
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body form">
        <div class="form-body">
            <div class="row">
                <div class="col-md-2"><b>Adv. Number</b></div>
                <div class="col-md-4">@Model.Advertisednumberr</div>
                <div class="col-md-2"><b>Face Amount</b></div>
                <div class="col-md-4">@Model.Faceamount</div>
            </div>
            <div class="row">
                <div class="col-md-2"><b>Issue Date</b></div>
                <div class="col-md-4">@Model.Issueddate</div>
                <div class="col-md-2"><b>Expiration date</b></div>
                <div class="col-md-4">@Model.Expirationdate</div>

            </div>
            <div class="row">
                <div class="col-md-2"><b>Buyer</b></div>
                <div class="col-md-4">@Model.Buyer</div>
                <div class="col-md-2"><b>Interestrate</b></div>
                <div class="col-md-4">@Model.Interestrate</div>
            </div>
        
        </div>
        </div>
    </div>


<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-reorder"></i>Owner Details
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body form">
        <div class="form-body">
            <div class="row">
                <div class="col-md-2"><b>Owner Name</b></div>
                <div class="col-md-4">@Model.OwnerName</div>
                <div class="col-md-2"><b>Owner Address</b></div>
                <div class="col-md-4">@Model.OwnerAddress</div>
            </div>
            
           
        </div>
    </div>
</div>

