﻿<html>
<body>
    <div ng_show="!autocompleteService.showAdvancedFilters">
        <!-- ngIf: results.length -->
        <div class="autocomplete_results_items ng-scope" ng_if="results.length">
            <div class="autocomplete_results_title ng-binding">
                Address
                Results
            </div>
            <!-- ngRepeat: result in results -->
        <div class="autocomplete_result ng-scope" ng_class="{active: (active == $index)}" ng_click="select(result)" ng_mouseover="resetActive()" ng_repeat="result in results">
                <i class="autocomplete_results_icon icon icon-home"></i>
                <span class="ng-binding" ng_bind_html="result.modified"><b>5211</b> <b>NE</b> <b>1</b>st Ter, Fort Lauderdale, FL 33334</span>
            </div><!-- end ngRepeat: result in results -->
        <div class="autocomplete_result ng-scope" ng_class="{active: (active == $index)}" ng_click="select(result)" ng_mouseover="resetActive()" ng_repeat="result in results">
                <i class="autocomplete_results_icon icon icon-home"></i>
                <span class="ng-binding" ng_bind_html="result.modified"><b>5211</b> <b>1</b>st Ave <b>NE</b>, Seattle, WA 98105</span>
            </div><!-- end ngRepeat: result in results -->
        <div class="autocomplete_result ng-scope" ng_class="{active: (active == $index)}" ng_click="select(result)" ng_mouseover="resetActive()" ng_repeat="result in results">
                <i class="autocomplete_results_icon icon icon-home"></i>
                <span class="ng-binding" ng_bind_html="result.modified"><b>5211</b> <b>1</b>2th Ave <b>NE</b>, Seattle, WA 98105</span>
            </div><!-- end ngRepeat: result in results -->
        <div class="autocomplete_result ng-scope" ng_class="{active: (active == $index)}" ng_click="select(result)" ng_mouseover="resetActive()" ng_repeat="result in results">
                <i class="autocomplete_results_icon icon icon-home"></i>
                <span class="ng-binding" ng_bind_html="result.modified"><b>5211</b> <b>1</b>1th Ave <b>NE</b>, Seattle, WA 98105</span>
            </div><!-- end ngRepeat: result in results -->
        <div class="autocomplete_result ng-scope" ng_class="{active: (active == $index)}" ng_click="select(result)" ng_mouseover="resetActive()" ng_repeat="result in results">
                <i class="autocomplete_results_icon icon icon-home"></i>
                <span class="ng-binding" ng_bind_html="result.modified"><b>5211</b> <b>NE</b> <b>1</b>4th St, Des Moines, IA 50313</span>
            </div><!-- end ngRepeat: result in results -->
        </div><!-- end ngIf: results.length -->
        <!-- ngIf: showRecentHistory() --><div class="autocomplete_results_items ng-scope" ng_if="showRecentHistory()">
            <div class="autocomplete_results_title">
                Recent
            </div>
            <!-- ngRepeat: history in histories --><div class="autocomplete_result ng-binding ng-scope" ng_class="{active: active==(results.length+$index)}" ng_click="select(history)" ng_mouseover="resetActive()" ng_repeat="history in histories">
                <i class="autocomplete_results_icon icon icon-history"></i>
                Joelle Kuhn, Fort Lauderdale, FL
            </div><!-- end ngRepeat: history in histories --><div class="autocomplete_result ng-binding ng-scope" ng_class="{active: active==(results.length+$index)}" ng_click="select(history)" ng_mouseover="resetActive()" ng_repeat="history in histories">
                <i class="autocomplete_results_icon icon icon-history"></i>
                5211 NE 17th Ave, Fort Lauderdale, FL
            </div><!-- end ngRepeat: history in histories --><div class="autocomplete_result ng-binding ng-scope" ng_class="{active: active==(results.length+$index)}" ng_click="select(history)" ng_mouseover="resetActive()" ng_repeat="history in histories">
                <i class="autocomplete_results_icon icon icon-history"></i>
                Kyle H Hansen, Fort Lauderdale, FL
            </div><!-- end ngRepeat: history in histories -->
        </div><!-- end ngIf: showRecentHistory() -->
        <!-- ngIf: showExamples --><div class="autocomplete_example_searches ng-scope" ng_if="showExamples" ng_mousedown="preventDefocus($event)">
            <div class="autocomplete_results_title">
                Example Searches
            </div>
            <div class="autocomplete_results_example">
                <i class="autocomplete_results_icon icon icon-user"></i>
                John Smith
            </div>
            <div class="autocomplete_results_example">
                <i class="autocomplete_results_icon icon icon-mail"></i>
                email@example.com
            </div>
            <div class="autocomplete_results_example">
                <i class="autocomplete_results_icon icon icon-home"></i>
                123 Main St, Pasadena, CA
            </div>
            <div class="autocomplete_results_example">
                <i class="autocomplete_results_icon icon icon-phone"></i>
                (626) 555-5555
            </div>
            <div class="autocomplete_results_example">
                <i class="autocomplete_results_icon icon icon-search"></i>
                John Smith, Pasadena, CA
            </div>
        </div><!-- end ngIf: showExamples -->
    </div>
    <!-- ngIf: showAdvancedSearch --><div class="ng-scope ng-hide" ng_if="showAdvancedSearch" ng_show="autocompleteService.showAdvancedFilters">
        

    </div><!-- end ngIf: showAdvancedSearch -->
    <!-- ngIf: showAdvancedSearch --><div class="ng-scope" ng_if="showAdvancedSearch" ng_mousedown="preventDefocus($event)">
        <div class="advanced_search_container ng-hide" ng_click="toggleAdvancedFilters()" ng_show="autocompleteService.showAdvancedFilters">
            <a class="advanced_search_link">
                Show Basic Search
            </a>
        </div>
        <div class="advanced_search_container" ng_click="toggleAdvancedFilters()" ng_show="!autocompleteService.showAdvancedFilters">
            <a class="advanced_search_link">
                Show Advanced Search
            </a>
        </div>
    </div><!-- end ngIf: showAdvancedSearch -->
</body>
</html>