﻿@model List<System.Data.DataRow>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ViewAdjustment";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-reorder"></i>Adjustment Properties
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-12" align="right">
                            <input type="hidden" id="hdnAddressId" value="@ViewBag.AddressID" />                          
                            <input type="button" onclick="CalculateAdjustMentvalues();" value="Calculate Adjustments" class="btn blue" />

                            <input type="button" id="btnExportExcel" onclick="tableToExcel('sample_5', 'SampleTable')" class="btn blue" value="Export To Excel" />
                         </div>
                    </div>
                    <div id="dvViewAdjustment">
                        @Html.Partial("_ViewAdustment")
                    </div>
                       
                    </div>
            </div>
        </div>
    </div>
</div>
<a class="link" href="#myModal4Pr" data-toggle="modal" title="Login" id="popupProperty"></a>
<div id="myModal4Pr" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 id="spnMessage"></h4>
            </div>
            <div class="modal-body">
                <div id="dvPropertyDetails">

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn blue btnok" id="btnok" data-dismiss="modal" aria-hidden="true">Ok</button>

            </div>
        </div>
    </div>
</div>
<script>

    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
  , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
  , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
  , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            var modifiedTable = $("#sample_5").clone();
            modifiedTable.find('.lblTextvalue').show();
            modifiedTable.find('.txtTextvalue').remove();

            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: modifiedTable.html() }
            window.location.href = uri + base64(format(template, ctx))
        }
    })()


    function CalculateAdjustMentvalues() {
        var hdnAddressId = $("#hdnAddressId").val();

        var AdvBldgSF = $("#SubAdjust-4").val();
        var SalePrice = $("#SubAdjust-5").val();
        var AssedMarketSqFt = $("#SubAdjust-6").val();
        var Units = $("#SubAdjust-11").val();
        var BedRoom = $("#SubAdjust-12").val();
        var BathRoom = $("#SubAdjust-13").val();
        var Milage = $("#SubAdjust-14").val();
        var Use = $("#SubAdjust-15").val();
        debugger;
        $('.loading').show();
        $.ajax({
            url: '@Url.Action("CalculateAdjustMent", "Home")',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'SubJectAddressID': hdnAddressId, 'AdvBldgSF': AdvBldgSF, 'SalePrice': SalePrice, 'AssedMarketSqFt': AssedMarketSqFt, 'Units': Units, 'BedRoom': BedRoom, 'BathRoom': BathRoom, 'Milage': Milage, 'Use': Use }),
            async: false,
            ajaxStart: function () { $('.loading').show(); },
            complete: function () { $('.loading').hide(); },
            success: function (data) {
                $("#dvViewAdjustment").html("");
                $("#dvViewAdjustment").html(data);
                var _html = "<span>Calculate Adustment values Successfully</span>"
                $("#dvPropertyDetails").html(_html);
                $("#popupProperty")[0].click();
            },
            error: function (xhr) {

                alert(xhr.responseText);
            }
        });
    }
</script>